[2022-01-26 17:41] chachasikes opened #531 "Issue: Print preview not optimized"
From QA notes: "Print preview - whole thing can be scaled down to print on less pages (on 9 pages).
The featured principle - text and image extremely large."

[2022-01-26 17:41] m-sullivan7 commented on #463
This is potentially due to the presence of a comma in the H2 that isn't working. This could be solved in one of two ways:

- Rewrite the H2 to not include the comma
- Engineering fix to support the use of punctuation marks in the page navigation

This decision will also likely affect https://github.com/cagov/design-system/issues/462

[2022-01-26 17:43] m-sullivan7 commented on #430
This appears to be a duplicate of https://github.com/cagov/design-system/issues/418. Flagging for whoever works on this.

[2022-01-26 17:43] chachasikes commented on #502
Not sure what this means:

Jon thinks this may be interpreted as a button to reset the code demo after messing with it.

[2022-01-26 17:44] chachasikes opened #532 "Issue: Do we need alt-text for the component illustrations?"

[2022-01-26 17:46] m-sullivan7 commented on #499
@adam-little or @kmbrlygl if you know what and where the missing link is, I'd be happy to add this to you. I'll be editing a few other pages, so it's no trouble for me to do it while I'm in the code.

[2022-01-26 17:50] adam-little commented on #479
This is the design that we have [in Figma](https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=5%3A3009).

![image](https://user-images.githubusercontent.com/69167298/151218512-993823bb-23c0-4d4d-9986-3265e815aecb.png)

For the DS website, we can remove the search bar.

[2022-01-26 17:54] adam-little commented on #529
For item #1, we have an open issue here: https://github.com/cagov/cannabis.ca.gov/issues/234

For item #2, I think this should be up to the discretion of the content editor.

[2022-01-26 17:54] kmbrlygl opened #533 ""Be part of the "DS" CTA banner layout refinement"
The form and the graphic should 50/50 in the banner in terms of proportions (see [Figma mockup](https://www.figma.com/file/A1DSo765cWjvBWoLd6tvEE/DS-website-screens?node-id=893%3A12106)) with 24px space between. The graphic should also be centered vertically.

[2022-01-26 17:55] kmbrlygl opened #534 "Spacing improvements"
Minor spacing issues when time permits:

- [x] Home: Need 16px space after card titles under "What's in the DS"
- [x] Mobile/Home: spacing between hero and "what in the DS" sections aren't balanced
- [x] Mobile/Home: Add space after "What design systems do" heading

[2022-01-26 18:00] adam-little commented on #505
Note this is for both contact forms.

@m-sullivan7 Can you provide the exact copy for this?

[2022-01-26 18:03] adam-little commented on #504
Please use arrow style[ in Figma](https://www.figma.com/file/A1DSo765cWjvBWoLd6tvEE/DS-website-screens?node-id=0%3A1)
![image](https://user-images.githubusercontent.com/69167298/151220465-458d87a7-5cc8-4cd2-91f3-38a9ba43b66b.png)

Note this is the same arrow icon that is used in the main site nav.

[2022-01-26 18:03] adam-little commented on #504
Arrow icon also needs to be fixed on https://staging.designsystem.webstandards.ca.gov/contact-us/

[2022-01-26 18:05] adam-little commented on #499
@m-sullivan7 The first sentence on the [Visual design style guide](https://staging.designsystem.webstandards.ca.gov/style/design/)  should link to https://staging.designsystem.webstandards.ca.gov/principles/

[2022-01-26 18:07] kkoryaka commented on #525
The latest [PR](https://github.com/cagov/design-system/pull/498) fixing it.

[2022-01-26 18:13] kkoryaka opened #535 "Add aria-label with more context to the two "visit website" on the homepage"
These links need to have area-label with more context added.
![Screen Shot 2022-01-26 at 10 11 51 AM](https://user-images.githubusercontent.com/31669748/151222031-5a714325-9938-4bb1-8c37-9a18ad7b6154.png)

[2022-01-26 18:16] adam-little commented on #509
Currently, in Chrome, the icon looks higher than the line height:
![image](https://user-images.githubusercontent.com/69167298/151222410-bae3bcc4-3e74-4025-aad7-035c471776dd.png)

Ideally, the icon is better aligned to the text. Here is how it looks in Figma:
![image](https://user-images.githubusercontent.com/69167298/151222558-b4328cee-b15a-4c61-a048-7cd828fbd862.png)

[2022-01-26 18:17] adam-little commented on #509
@kkoryaka I am noticing the icon on the website is different than the icon in Figma.

Is the icon on the website from the state icon font? If so, can you provide me an SVG so that I can incorporate it into Figma?

[2022-01-26 18:19] adam-little commented on #508
In Figma, the label/title always has the same style and position:
![image](https://user-images.githubusercontent.com/69167298/151222784-c5f4adba-1b2c-4d4b-8f4c-d19397358bbb.png)

On the live site (on Chrome), it varies style and position:
![image](https://user-images.githubusercontent.com/69167298/151222896-e0fd9368-19b4-44b3-9cb5-0b9e0b5303ce.png)
![image](https://user-images.githubusercontent.co

[2022-01-26 18:21] adam-little commented on #506
Staging site:
![image](https://user-images.githubusercontent.com/69167298/151223138-baab796b-5f16-41af-bace-4f45bf7232f8.png)

Figma (desired color):
![image](https://user-images.githubusercontent.com/69167298/151223190-df69e04e-31ff-4db0-9aad-3ef7cfca7726.png)

[2022-01-26 18:21] m-sullivan7 commented on #499
Thanks Adam! I will fix after the presentation with Amy. (I will use a relative link so that it only goes to staging if someone's on the staging site unless I hear otherwise.)

[2022-01-26 18:23] adam-little commented on #503
Staging site (Chrome):
![image](https://user-images.githubusercontent.com/69167298/151223455-6b18593d-2709-4a03-8ffa-4bc639a61a91.png)

Figma (preferred style):
![image](https://user-images.githubusercontent.com/69167298/151223506-5c05a461-4f54-448e-93ec-a70e0619ec06.png)

https://www.figma.com/file/A1DSo765cWjvBWoLd6tvEE/DS-website-screens?node-id=0%3A1

[2022-01-26 18:23] m-sullivan7 commented on #505
I'll start by asking @ashleydraper if she has anything. She's been more involved in the contact form development than me. If she does not have anything at hand, I'll be happy to jump in!

[2022-01-26 18:35] adam-little commented on #475
I believe this is a duplicate of the issue here: https://github.com/cagov/design-system/issues/428

I have made a recommendation and have not heard any objections.

TLDR:

- Contact Link goes in the Site Footer since it is unique to the website.
- Do not include any contact link in Statewide Footer to avoid possible duplication and confusion
- For the _Design System Website specifically_, I recomm

[2022-01-26 18:38] #273 closed

[2022-01-26 18:40] adam-little commented on #469
Header with site logo:
![image](https://user-images.githubusercontent.com/69167298/151225883-5b327b9e-a0db-4e06-9981-041ca329c318.png)

Header without site logo:
![image](https://user-images.githubusercontent.com/69167298/151225921-271a2cdf-41b9-4bfe-bb34-1e01fbc97f3c.png)

Menu expanded:
![image](https://user-images.githubusercontent.com/69167298/151225958-956d983d-9a98-462d-bf5b-84db6f7db9b3.png

[2022-01-26 18:42] adam-little commented on #468
Components menu closed:
![image](https://user-images.githubusercontent.com/69167298/151226271-8ee7275d-c6e5-4cf2-a052-0e027d858934.png)

Components menu open:
![image](https://user-images.githubusercontent.com/69167298/151226310-fcf89ec7-82c0-4c4b-80a3-a1d5db95efca.png)

When open, it uses the same "Close" icon as the site menu.

[2022-01-26 18:46] adam-little commented on #443
Hey @wrendo can you do a screen recording (e.g. Loom) so i can better understand what you are referring to?

[2022-01-26 18:46] zakiya opened #539 "Site header - Consider a visible label to search"
See https://www.nngroup.com/articles/form-design-placeholders/

[2022-01-26 18:50] adam-little commented on #507
On Chrome, my cursor remains an arrow when i mouse over the Submit button the homepage. It does not change to the pointed-finger.

[2022-01-26 18:55] chachasikes commented on #526
Updated and moved to Github

[2022-01-26 18:55] #526 closed

[2022-01-26 18:55] kmbrlygl opened #541 "Component library graphic on mobile (on home)"
The component library graphic on smaller phone sizes (Pixel 3a) looks funky:
![srcreenshot](https://user-images.githubusercontent.com/20393247/151237267-d31e3b57-9875-4d8d-bd20-043fe1fce38d.png)

[2022-01-26 18:57] adam-little opened #542 "None of the content pages are using P Large for the intro paragraph"
@m-sullivan7 as per [thread on Slack](https://cadotgov.slack.com/archives/C02PVKBL6AF/p1643143111025600), we can make the lead paragraph on pages a larger text size by adding class "text-lead"

Here's an example of how we have been using this in Figma:

![image](https://user-images.githubusercontent.com/69167298/151228716-2022e7b8-9ad0-4b51-8eb9-2407b11b5bb8.png)

I don't think it needs to be appl

[2022-01-26 18:58] chachasikes commented on #518
Left question for content team on what the preferred version should be

[2022-01-26 19:17] adam-little opened #544 "CA.gov logo is not a consistent size. It should be the same size in the header and footer."
Header:

![image](https://user-images.githubusercontent.com/69167298/151231262-13aeea2a-9f0b-48fc-818b-1e1ce977c66e.png)

Footer:

![image](https://user-images.githubusercontent.com/69167298/151231303-cf16609c-e71c-4aeb-8825-6a9b7c7cb51c.png)

In Figma, the icon is 33x24px
https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=432%3A5905

[2022-01-26 19:30] adam-little opened #545 "Mobile: Page Index should appear below H1. See Figma."
Current website:
![IMG_4EA33292023A-1](https://user-images.githubusercontent.com/69167298/151233301-35b4b120-0c99-4c8d-9759-8c0440aee71b.jpeg)

Figma design:
![image](https://user-images.githubusercontent.com/69167298/151233400-957e0a91-6b13-4fef-bf74-b413ffc53e21.png)

https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=5%3A3219

[2022-01-26 19:52] kmbrlygl opened #546 "Adding more to bottom padding on hero banner"
Make the bear look more vertically centered to the container

[2022-01-26 19:53] m-sullivan7 commented on #511
Link updated. Confirmed publication on production.

[2022-01-26 19:53] #511 closed

[2022-01-26 19:57] m-sullivan7 commented on #499
The code appears to be right in markdown. If I remove the `text-lead` class it works. I think the class is interfering with the markdown behaving appropriately.

@xjensen Is the fix for this to use HTML formatting for the link and switch to `<a href="/principles/">Design System principles</a>`?

[2022-01-26 20:08] adam-little commented on #442
It appears that the component is not behaving [as documented](https://staging.designsystem.webstandards.ca.gov/components/back-to-top/readme/):

According to the documentation, it should appear immediately on backscroll (as soon as the user sets the intention of going back up the page, we immediately provide them a shortcut).

@kkoryaka Is this how it is implemented? Do you know why it's not behav

[2022-01-26 20:08] #535 closed

[2022-01-26 20:10] chachasikes commented on #539
@zakiya Is this p1 or p2?

[2022-01-26 20:11] #440 closed

[2022-01-26 20:11] kmbrlygl opened #548 "Page Feedback mobile styling"
Mockup and live site do not match, needs margin spacing.

- [Figma mockup](https://www.figma.com/file/A1DSo765cWjvBWoLd6tvEE/DS-website-screens?node-id=893%3A13363)
- Screenshot on Pixel 3a:
![Screenshot on Pixel 3a](https://user-images.githubusercontent.com/20393247/151239570-b2f79dc2-8d98-4108-910f-119dfd2253f9.png)
t

[2022-01-26 20:14] chachasikes commented on #494
@zakiya do you want to look at this one?

[2022-01-26 20:15] chachasikes commented on #493
@zakiya can you look at this one?

[2022-01-26 20:16] zakiya commented on #539
It's a change to the component, the website doesn't have a search bar.  So I guess p2.

[2022-01-26 20:20] chachasikes commented on #487
cc @zakiya

[2022-01-26 20:23] kmbrlygl opened #549 "Fix heading spacing"
There should typically be less space between headings and respective paragraph content, and more spacing between headings. Spacing on the website should match what's in the [UI Kit](https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=2%3A5593)
Example: spacing before and after H2s looks equal on [Getting Started](https://designsystem.webstandards.ca.gov/get-started/) page, when

[2022-01-26 20:27] chachasikes commented on #463
Thanks Michael . There is support already for punctuation handling.
* I'll check that comma is included in that list.

There may be another issue if you had been testing on Windows - the prefers motion accessibilty option may be in effect on those devices. I'm working on that.

[2022-01-26 20:29] m-sullivan7 commented on #463
Cool! Based on what I see in https://github.com/cagov/design-system/issues/462, question mark should probably be added too. Thanks!

[2022-01-26 20:30] m-sullivan7 commented on #459
Updated this link on statewide header, page feedback, and site navigation, including updating the copy to match. Closing this issue as done.

[2022-01-26 20:30] #459 closed

[2022-01-26 20:31] chachasikes commented on #475
Tagging myself on this issue to implement it.

Comments:
- Move link to Site footer - sounds good
- I think I remember in our understanding/assumption is that Contact us is optional in the Statewide footer because we are providing a link to contact us in the overall footer area

- Where I left off in understanding the accessibility rule: For duplicate contact us links we decided we would try to ge

[2022-01-26 20:36] m-sullivan7 commented on #413
@aaronhans reviving this conversation since this is a P1 issue. Which of the measurements you proposed would you like to go with? The "all sites ODI has shipped with the design system exceed 90 lighthouse score when throttled to low mobile cpu/Fast 3G bandwidth settings" version seems like it requires less maintenance over time.

[2022-01-26 20:37] adam-little commented on #475
**Re: accessibility issue:** Please see [#428](https://github.com/cagov/design-system/issues/428). I had Greg Duncan confirm that there is no accessibility issue as long as we have the same label ("Contact Us") go to the same link (.../contact-us/).

[2022-01-26 20:38] adam-little commented on #428
Noting duplicate issue here (from QA): https://github.com/cagov/design-system/issues/475

[2022-01-26 20:40] m-sullivan7 commented on #475
I think by "site header", we mean the Design System [site navigation](https://designsystem.webstandards.ca.gov/components/menu/readme/), correct?

Also, thanks for the duplicate flag Adam!

[2022-01-26 20:41] aaronhans commented on #413
Yes I agree, that is a standard we hold ourselves to and won't have to update constantly

[2022-01-26 20:42] chachasikes commented on #453
Was trying to link straight to the issues page, but - if you are logged out of github it will require a log in which will be disorienting to anyone less used to using Github.

[Issues page](https://github.com/cagov/design-system/issues/new/choose)

Switching the link just point to the repo.

[2022-01-26 20:42] mediajunkie commented on #413
let’s print it!
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-01-26 20:43] m-sullivan7 commented on #413
Excellent. I'll make an edit with this (let me know if I need to tweak--luckily it's easy to do!):

[2022-01-26 20:47] kkoryaka commented on #512
This is caused by full-bleed class width property of `width:100vh`.... When Changed to 99vw the issue is gone. I wonder if changing width to 99vw will cause other issues.

[2022-01-26 20:47] kkoryaka commented on #512
![Screen Shot 2022-01-26 at 12 41 35 PM](https://user-images.githubusercontent.com/31669748/151244391-b41769c5-aeb9-4711-9b91-16a9a7513919.png)

[2022-01-26 20:50] chachasikes commented on #428
(I see this thread now (re: my comments on #475)

[2022-01-26 20:55] m-sullivan7 commented on #413
[Principles page](https://designsystem.webstandards.ca.gov/principles/) updated with new example. Closing this ticket as done. Thank you all!

[2022-01-26 20:55] #413 closed

[2022-01-26 21:01] kkoryaka commented on #512
or we simply can  hide overflow-x on the body and call it a day.     body {overflow-x: hidden;}

[2022-01-26 21:50] aaronhans commented on #485
We don't have site search implemented yet.

We are showcasing a couple versions of the header code one of which has search. We could create a page saying search is not yet created on designsystem.webstandards.ca.gov yet but we do have a sitemap.... Is that a helpful interim fix @wrendo?

[2022-01-26 22:14] xjensen commented on #485
@aaronhans I believe this is a reference to the search box that appears in the demo on our site-header page.

I put in a fix for this at #554.

<img width="831" alt="Screen Shot 2022-01-26 at 14 08 47" src="https://user-images.githubusercontent.com/1208960/151255919-8c0e8016-98b3-40d8-b972-50f212f24de2.png">

[2022-01-26 22:14] chachasikes commented on #338
Thanks for adding this one @zakiya!

[2022-01-26 22:20] #512 closed

[2022-01-26 22:33] wrendo commented on #485
@aaronhans see @xjensen comment above. Sorry for any confusion

[2022-01-26 22:38] wrendo commented on #479
I think that works.

[2022-01-26 22:38] #485 closed

[2022-01-26 22:40] #326 closed

[2022-01-26 22:40] adam-little opened #558 "Create form field styles for UI Kit (select states, error states, etc)"
Let's make sure we have designed form fields and their various states.

These can be applied to:
- Page feedback component
- Contact form on DS Website

[2022-01-26 22:42] #418 closed

[2022-01-26 22:43] #430 closed

[2022-01-26 22:43] #433 closed

[2022-01-26 22:43] #447 closed

[2022-01-26 22:43] adam-little opened #559 "Improve screenshots in "Who's using the Design System" section of the DS website"
The illustrated browser windows have not been updated to match the new illustration style on the DS website

![image](https://user-images.githubusercontent.com/69167298/151259712-285ab230-6b17-4b46-9ea7-a462905c67ce.png)

[2022-01-26 22:43] #478 closed

[2022-01-26 22:44] #432 closed

[2022-01-26 22:45] adam-little opened #560 "Typography: create an approach for handling orphans"
I don't think there's a feasible way to control this across all of the content, but we can target Headings since orphaned type is more obvious on titles.

Some web links:
- https://techstacker.com/how-to-remove-text-widows-orphans-web-typography/
- https://medium.com/swlh/typographic-orphans-on-the-web-266e32f756fe

Ideas:
- Target the space before the last word on a heading, and replace it with a

[2022-01-26 22:46] adam-little opened #561 "Create styling for "alpha" "beta" tags on component library cards"
Design the tags on the component cards so that it can be easy to know what maturity stage they are in (current says "**Alpha**" in bold)
![Screen Shot 2022-04-25 at 2 07 21 PM](https://user-images.githubusercontent.com/20393247/165175226-61ac9fa1-9261-467b-9fae-815da82bb13d.png)

[2022-01-26 22:49] xjensen commented on #499
@m-sullivan7 That's correct. As soon as you wrap that paragraph in the `<p class="text-lead">` tag, the markdown processor will assume it's complete HTML and ignore it completely. Your suggested fix, using the `<a>` tag, should do the trick.

[2022-01-26 22:49] adam-little opened #562 "Update "Whats in Design System" illustrations with versions that include background pattern"
Current website does not have background elements in the illustrations:
![image](https://user-images.githubusercontent.com/69167298/151260358-2cfbf8f0-fd92-416a-9f3d-4a4c19b1e495.png)

In Figma, illustrations have a background design:
![image](https://user-images.githubusercontent.com/69167298/151260405-45b92f6e-1d13-4972-b324-578aa2c13e0f.png)

Here are SVGs for these illustration
![illustration-

[2022-01-26 22:53] m-sullivan7 commented on #499
It did indeed! Closing this issue as done after confirming the fix worked. Thank you Jon!

[2022-01-26 22:53] #499 closed

[2022-01-26 23:02] #483 closed

[2022-01-26 23:15] zakiya commented on #494
Closing. Moving all details to #493 since they can all be fixed together.

[2022-01-26 23:16] #494 closed

[2022-01-26 23:29] #534 closed

[2022-01-26 23:47] zakiya commented on #523
@wrendo Where is the link? Screenshot?

[2022-01-26 23:51] zakiya commented on #522
Will be addressed in #493

[2022-01-26 23:51] #522 closed

[2022-01-26 23:53] zakiya commented on #484
Duplicate of  #493 and $484

[2022-01-26 23:55] zakiya commented on #375
It looks like this is fixed. Can we close?

[2022-01-26 23:56] zakiya commented on #458
Duplicate of  #493 and #484. Closing.

[2022-01-26 23:56] #458 closed

[2022-01-27 00:21] m-sullivan7 commented on #375
Yes. Any further work should be a different issue. We're good for now! I'll go ahead and close since I'm already in here.

[2022-01-27 00:21] #375 closed

[2022-01-27 00:23] m-sullivan7 commented on #482
This issue has been fixed by using a `#` link.

[2022-01-27 00:23] #482 closed

[2022-01-27 00:29] m-sullivan7 commented on #480
I've updated these links with `#` dummy links and improved the text of each link. This issue is complete.

[2022-01-27 00:29] #480 closed

[2022-01-27 00:40] kkoryaka opened #565 "Add background pattern to principles section on the homepage"
See figma: https://www.figma.com/file/A1DSo765cWjvBWoLd6tvEE/DS-website-screens?node-id=0%3A1
![Screen Shot 2022-01-26 at 4 39 40 PM](https://user-images.githubusercontent.com/31669748/151270373-d7a27ce5-a40b-4fd0-b76d-7e9dbe17008f.png)

[2022-01-27 00:45] #487 closed

[2022-01-27 00:49] m-sullivan7 commented on #486
Updated links to use `#` as in other situations. Issue complete.

[2022-01-27 00:49] #486 closed

[2022-01-27 00:51] m-sullivan7 commented on #481
Links updated. Work complete.

[2022-01-27 00:51] #481 closed

[2022-01-27 01:22] zakiya commented on #404
Done in https://github.com/cagov/design-system/pull/471 and https://github.com/cagov/design-system/pull/409

[2022-01-27 01:22] #404 closed

[2022-01-27 05:42] chachasikes commented on #504
Got an arrow in an upcoming branch/PR.

Minor issues:
* Getting arrow to be flush right - not sure what margin or other css it's inheriting, so need to suss that out.
* Using an inline SVG - but wondering if @kkoryaka would want to make this arrow CSS only as well.

I'll submit the PR tomorrow

[2022-01-27 16:51] #294 closed

[2022-01-27 16:58] aaronhans commented on #520
Fixed here https://github.com/cagov/design-system/pull/556

[2022-01-27 16:58] #520 closed

[2022-01-27 17:05] #493 closed

[2022-01-27 17:57] kkoryaka commented on #562
@adam-little please review

[2022-01-27 18:17] kkoryaka commented on #560
Do you have example (DS site screenshot)  of the orphan?

[2022-01-27 19:01] ashleydraper commented on #428
I lean toward option 2 mainly for aesthetics. But fully recognizing that it does indeed blur the distinction between the state footer and site footer.
I propose moving forward with option 3 and updating our state footer component to highlight that departments that do not add such link will be out of compliance.

[2022-01-27 19:04] xjensen commented on #445
@m-sullivan7 One possible solution here would be using markdown's blockquote syntax.

[code]

Would this work for your needs?

[2022-01-27 19:07] ashleydraper commented on #394
@m-sullivan7 You're right and I see that reflected on the site. We can close and celebrate!!

[2022-01-27 19:07] adam-little commented on #534
@kkoryaka The homepage spacing still does not look right to me. I expect to see more space between each block of content.

Can you confirm the following?

- For each block of content on the homepage (Meet the DS, What's in the DS, What DS do, Principles, Be a part...):
- Each block has top and bottom padding of S-4 (32px)
- There is 0px spacing between each block.

![image](https://user-images.git

[2022-01-27 19:08] #394 closed

[2022-01-27 19:10] m-sullivan7 commented on #428
We'll definitely have some documentation edits to make if we go with option 3. I volunteer to take care of them.

[2022-01-27 19:11] m-sullivan7 commented on #445
I'll test it and see. Thanks!

[2022-01-27 19:12] xjensen commented on #445
It won't work yet, I'd need to add the styles for this. Just checking to see if the syntax is agreeable before I go forth and do it.

[2022-01-27 19:13] m-sullivan7 commented on #445
Ah! Got it! It sounds like it would work, so I say go forth!

[2022-01-27 19:17] kkoryaka commented on #549
@kmbrlygl  Here what we currently have, we are using design tokens, it looks like you are right about H2, we need to fix it. Is there anything anything else would alarm you?
H1
[code]

H2
[code]

H3
[code]

H4
[code]

H5
[code]

[code]

[2022-01-27 19:27] xjensen commented on #445
@m-sullivan7 I have a PR ready at #569. I also added a single [example of an example](https://445-support-markdown-blockquote.pr.designsystem.webstandards.ca.gov/style/content/write-with-conversational-official-voice/) into that PR. Let me know if this works, if we need any changes, etc. Thanks!

[2022-01-27 19:31] m-sullivan7 commented on #445
That looks great! No changes needed!

[2022-01-27 19:38] kmbrlygl commented on #549
cc @adam-little could you review this as well?

[2022-01-27 20:02] xjensen commented on #445
Excellent. I just merged the change into `main`. Go for it!

One note that might help. If you ever need to make a multi-paragraph example, this is how to do it in markdown:

[code]

[2022-01-27 20:03] m-sullivan7 commented on #445
Neat! That's familiar from working in GitHub, so an easy thing to remember! I'll implement this solution on the page this afternoon.

[2022-01-27 20:16] xjensen commented on #514
Fixed: https://github.com/cagov/design-system/commit/d3ef4b3d97d09d38050fddc875c288c760d33968

[2022-01-27 20:16] #514 closed

[2022-01-27 20:28] kmbrlygl commented on #549
I think it looks good. Nothing glaring for me, the H2 fix should definitely improve the spacing throughout.

On a related note, do we have anything in the CSS that tames the line height?
I think line height affects the spacing we are adding in so that it's hard to get things pixel-perfect to the Figma. Here's an [article on that](https://css-tricks.com/how-to-tame-line-height-in-css/). Not a prior

[2022-01-27 20:39] xjensen commented on #479
I have an [example](https://479-add-404-page.pr.designsystem.webstandards.ca.gov/error.html) ready in PR #572.

One important difference is that we don't have a search box on the Design System site yet. Open to suggestions if there's anything else we can do at this time. I tried linking to a site-specific Google search, but Google hasn't indexed our site yet.

It's also important to note that this

[2022-01-27 20:43] #562 closed

[2022-01-27 20:43] xjensen commented on #287
Basic page view tracking has been added to the site via #570.

Still leaving this open to discuss any further event tracking we want to consider.

[2022-01-27 20:43] wrendo commented on #479
Looks good to me.

[2022-01-27 20:47] xjensen commented on #479
Cool, I merged it into the site to stop the bleeding, for now. We can change it any time.

[2022-01-27 20:47] #479 closed

[2022-01-27 20:48] kkoryaka commented on #549
@kmbrlygl we have separate ticket for line heights, I am waiting for you to set them in stone. As soon as you do it in figma I will add line-height properties to headings.
But here are preliminary line-hight tokens for your reference:
[code]

[2022-01-27 20:54] xjensen commented on #479
Another thing to consider:

<img width="1258" alt="Screen Shot 2022-01-27 at 12 49 14" src="https://user-images.githubusercontent.com/1208960/151441405-2fb5255e-a3f8-4204-a76c-1f4e9eaba9a5.png">

Asking "Did you find what you're looking for?" right underneath "We can't find what you're looking for." is a little silly. But I could see the argument for keeping some form of feedback here, since we ma

[2022-01-27 20:58] rkojik commented on #400
We could set the fill of an SVG with CSS as well, and provide an accessible label via <text> tag within the SVG which can communicate the state (the goal of the icon) of expanded or collapsed. Though, I imagine we're already communicating that through other semantics, so the icon may be visual: in which case, yeah, CSS shape is better.

[2022-01-27 21:19] kmbrlygl commented on #549
@kkoryaka Thank you. Apologies, I wasn't tagged back on that ticket so I check back on it.

[2022-01-27 21:29] adam-little commented on #479
I had the same thought @xjensen. If i'm not mistaken, most people arrive at a 404 because:
- Typo (in which case the form is not helpful)
- Broken link (in which the case form may be helpful)

[2022-01-27 21:29] kkroon commented on #400
@rkojik Since the details element is HTML native, I suspect it already has a mechanism to indicate its state (e.g., the _open_ attribute). I am willing to pass it by a screen reader ...

[2022-01-27 21:49] xjensen commented on #479
@adam-little That sounds right. If I had to guess, broken links would be the more common case. On Drought, for example, most of the 404s were due to outdated links on Google.

[2022-01-27 22:07] jaredwyee opened #574 "Issue: Update contact us form fields. Simplify form."
**Context:**
We have a contact form in two spots on the DS site. On the homepage: https://designsystem.webstandards.ca.gov/ and on the contact us page: https://designsystem.webstandards.ca.gov/contact-us/

With soft launch, we don't know exactly what to expect as far inbound contacts. Thus, it would be good to simplify the form and keep it more to the basics: name, email, role, the comment/questio

[2022-01-27 22:10] adam-little commented on #549
Seeing the design tokens here is helpful.

Let's think about how to document that header spacing in Figma and/or the [Visual Design Style Guide](https://designsystem.webstandards.ca.gov/style/design/#typography).

[2022-01-27 22:41] m-sullivan7 commented on #444
@thepegisin, my first thought to tackle this is have a general reference on our side that links out, like so:

As a side note, I think I had something like this in the DWSN content design presentation and Angie recommended talking about "government code" instead. It seemed like she thought we might be coming on too strong. Any thoughts on who we should run this by for a tone/sensitivity check befo

[2022-01-27 22:45] chachasikes commented on #463
I tracked down what was going on here. Sharing some notes on this thread.

* The build converts the markdown h2 to "<h2 id="use-your-preferred-framework%2C-or-none-at-all" tabindex="-1">"
* This string was re-encoded back to commas, which conflicted with how the h2 titles got converted to anchor links
* The outliner also needed an adjustment to the logic on when and how the existing id elements we

[2022-01-27 22:47] #510 closed

[2022-01-27 22:47] m-sullivan7 commented on #523
Two options for addressing this:

- Remove the hyperlink
- Make the link `#` (our solution in other demos with regular hyperlinks)

I vote for the `#` solution.

[2022-01-27 22:48] m-sullivan7 commented on #521
In other demos we've changed out links to `#` so they don't take people outside the Design System site and the link isn't that important itself. I'd be happy to make that change here.

[2022-01-27 22:49] m-sullivan7 commented on #519
Is this as simple as updating the title of that `.md` file? If so, I'd be happy to make the change. Off the top of my head, I'd make the title _Accordion use cases_.

[2022-01-27 22:58] m-sullivan7 commented on #442
Noting a potential duplicate issue: https://github.com/cagov/design-system/issues/473

[2022-01-27 23:45] m-sullivan7 commented on #421
@jaredwyee looping you into this future issue so it can be on the fringes of your brain. The content designers would like to look at the homepage content once we're beyond (perhaps well beyond) stealth/soft launch. It was written with a v1, soft launch mindset. In looking back on it, we were probably guessing at who we were speaking to with this page and may have wound up trying to speak to severa

[2022-01-28 01:02] jaredwyee commented on #574
@chachasikes updated, let me know if have any questions/concerns, thanks!

[2022-01-28 02:11] chachasikes opened #582 "Task: Create development server"
After we beta-launch, we need an extra server for code that is under review and not ready to ship.
* staging will then act as staging ground for code that will ship to main/production

[2022-01-28 02:12] chachasikes commented on #582
started, testing it.

[2022-01-28 02:16] chachasikes commented on #582
Done

[2022-01-28 02:16] #582 closed

[2022-01-28 02:41] #328 closed

[2022-01-28 16:09] aaronhans commented on #431
Fix here https://github.com/cagov/design-system/pull/579

[2022-01-28 16:31] #431 closed

[2022-01-28 17:04] #503 closed

[2022-01-28 18:32] m-sullivan7 commented on #523
Interpreting @aaronhans's assignment to me as agreement with my vote, I've updated the link to use `#`. It's easy to change back if I misinterpreted. 🙂

[2022-01-28 18:32] #523 closed

[2022-01-28 20:09] chachasikes opened #584 "Issue: README convention is all caps"
Our site is not using the standard convention of making READMEs all caps. Let's fix it because the filenames in github can be case sensitive depending on the merge strategy and github config settings.

Our team is not attached to the lowercase version.

**Backstory**
Chach deep dove in the the history of READMEs and government READMEs at a lunch and learn. This convention began with ASCII machines

[2022-01-28 20:53] xjensen commented on #584
I like this.

Should we also apply all caps to other documents in our components, such as the Changelogs? I would be in favor of making all the documents all caps. But whatever we decide, it should be consistent across all components.

[2022-01-28 20:59] chachasikes opened #585 "Issue: Teams page"
We don't have a list of who worked on design system.
There was a discussion about creating a basic page like on digital.ca.gov to get us started in sharing who worked on the project.

Created a doc here to get the ball rolling:
https://docs.google.com/document/d/1g7E_3jav33l8GQlLc_XKjR9jVuUq1YXlC6j9u_g8Opw/edit#

Data & decisions
* We need all the names of everyone who worked on the project (put i

[2022-01-28 22:39] aaronhans opened #586 "Write README for design-system repo"
Content being edited here: https://docs.google.com/document/d/1EOc92KjNvYWY1kTz-tG6Xcp05NoNDiO_dNMmyBXS2CU/edit#

[2022-01-28 22:39] aaronhans commented on #586
Currently in @m-sullivan7's court

[2022-01-28 23:33] m-sullivan7 commented on #586
I did a first pass edit based on my gut. It's probably worth resolving/rejecting edits as they feel right and taking a look at again to see how it feels. 🙂

[2022-01-29 00:10] aaronhans commented on #586
PR https://github.com/cagov/design-system/pull/587

[2022-01-29 00:35] #586 closed

[2022-01-29 00:58] m-sullivan7 commented on #542
The content team discussed which pages should receive lead class text. I implemented our decisions across those pages.

[2022-01-29 00:58] #542 closed

[2022-01-31 17:49] kkoryaka commented on #539
Article is talking about forms. And I agree with it. But here we are dealing with very conventional  search box (just one text field). I wold ask our researchers to do research on it. Do you think many people will forget what they are focused on if there is only one text field? i doubt it.

[2022-01-31 17:54] jaredwyee commented on #574
Hi @chachasikes I see the update on the prod site, thanks. Feedback:

- For the role, 'Program' is missing as an option.
- Free form blob 'How can we help?' is not indicated as required, but should be. Otherwise we might just get name/email. Not the worse case, but would be good to know why they are contacting us :).

[2022-01-31 17:58] kkoryaka opened #588 "Add button mixins and styles"
In base-css create button mixings and styles by using design tokens. Create following buttons variations based on figma prototype:
https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=431%3A4658

[2022-01-31 18:09] m-sullivan7 commented on #472
I propose moving the heading information to the bottom of the section and updating the content to read as follows:

I am gathering content designer feedback on this suggested draft.

[2022-01-31 18:13] m-sullivan7 commented on #444
After thinking about it, I like my first draft, with one change:

@jaredwyee or @mediajunkie since Angie raised a flag on using this kind of language at DWSN, I'd like your opinions on whether you see any reason we shouldn't say this as part of our content guides on the Design System website. Definitely not urgent. 🙂

[2022-01-31 18:27] mediajunkie commented on #444
seems fine to me.

probing the current division of PM responsibility, would this be

   - governance of the substance of the DS (which is Jared's purview). *or*
   - a copy edit to the website (mine)?

[2022-01-31 18:32] m-sullivan7 commented on #444
Good question on the division of responsibility! My feeling is it's more about governance--is citing state law in the context of the Design System (and the mostly-ODI-generated recommendations it contains) too forward of us?

[2022-01-31 18:36] mediajunkie commented on #444
+1

[2022-01-31 18:50] zakiya commented on #539
I'm definitely in favor of doing research before making assumptions.

[2022-01-31 19:43] zakiya commented on #539
Though this article agrees with @kkoryaka that it's okay to hide the visually hide the label. http://web-accessibility.carnegiemuseums.org/code/search/

[2022-01-31 20:37] aaronhans opened #589 "translations for component sample markup integrated into demos"
Break this into component efforts:

- [ ] ready components for translation
- [ ] translate component content
- [ ] translate site content

[2022-01-31 20:40] aaronhans opened #590 "event tracking in GA"
Get advice from Britt on what events we should be tracking, implement recommendations

[2022-01-31 20:40] #287 closed

[2022-01-31 20:40] #505 closed

[2022-01-31 20:42] #524 closed

[2022-01-31 20:43] #504 closed

[2022-01-31 20:43] #453 closed

[2022-01-31 20:43] #462 closed

[2022-01-31 20:43] #426 closed

[2022-01-31 20:44] chachasikes commented on #574
@jaredwyee Seeing your notes - will take a look at the differences
Used the google doc

[2022-01-31 20:52] #463 closed

[2022-01-31 20:56] aaronhans opened #591 "Link component pages on npm to our site"
We publish our components to npm every time we make a code change. This is the default place developers go to install components and find documentation.

https://www.npmjs.com/search?q=cagov

We could add links in the readme back to the design system site so that these all link to us.

[2022-01-31 20:59] aaronhans commented on #515
Assigning to @jaredwyee for decision

[2022-01-31 21:00] #546 closed

[2022-01-31 21:06] aaronhans commented on #525
Fixed on live site

[2022-01-31 21:06] #525 closed

[2022-01-31 21:07] aaronhans commented on #525
Assigned to @jaredwyee for review

[2022-01-31 21:15] aaronhans commented on #324
Assigning to @m-sullivan7 for content review

[2022-01-31 21:35] chachasikes commented on #589
I will help with defining what we need to do here

[2022-01-31 21:36] chachasikes commented on #367
Subscribing

[2022-01-31 21:38] chachasikes commented on #454
I will look at this and try to diagnose what's wrong - then pass to @kkoryaka

[2022-01-31 21:39] aaronhans commented on #434
I see #ff800 in figma so we are matching current design. @adam-little does this pass color contrast checking that you do in your design tools?

[2022-01-31 21:39] chachasikes commented on #590
I'll meet with Britt

[2022-01-31 21:39] aaronhans commented on #434
Assigning to Adam to check color contrast in design tools

[2022-01-31 21:41] m-sullivan7 commented on #500
I will review this to see if we're using similar formatting to other tables on the site that are working.

[2022-01-31 21:51] adam-little commented on #434
That's correct, the Secondary color (FF8000) does not pass accessibility when on a white background. Let's use Secondary-Dark (B35A00).

[2022-01-31 21:51] m-sullivan7 commented on #500
It turns out I was missing one crucial fotmatting piece in markdown. I added it and the table now displays properly.

[2022-01-31 21:51] #500 closed

[2022-01-31 23:16] m-sullivan7 commented on #324
It looks like this is the content to review:

I incorporated a couple of changes ("do not" for "don't" and added a comma. It looks good to me with those changes! Is there anything else to look at @aaronhans?

[2022-01-31 23:29] aaronhans commented on #324
Thanks for reviewing @m-sullivan7!

@jaredwyee @mediajunkie @chachasikes @zakiya @xjensen the plan is to incorporate this text into the readmes of all javascript components:

We recommend using a build system and bundling your javascript for faster performance. If you do not use a build system, you can include the code from our CDN with a script tag

<script type="module" src="https://cdn.designsy

[2022-01-31 23:41] kmbrlygl commented on #313
@kkoryaka I changed my mind about using only one ratio for headers. I'd decided to decrease the ratio by 1/8 step for each ascending level. Essentially as font-size increases, the ratio decreases. Here's it is in the [UI Kit Library](https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=720%3A4447). The updated spacing is published. I am working on updating the documentation on t

[2022-01-31 23:53] aaronhans commented on #400
I have updated the codepen to use a plus/minus indicator composed of a single div with box-shadows using the CSS variable as the background color value. This is inserted into the summary element in the connectedCallback with aria-hidden="true"

https://codepen.io/aaronhans/pen/ZEaEagR

[2022-02-01 01:09] kkoryaka commented on #588
@adam-little  we have problems with cagov secondary (orange) button. It fails color-contrast check because white text doesn't have good enough color-contrast ratio.
![Screen Shot 2022-01-31 at 4 11 29 PM](https://user-images.githubusercontent.com/31669748/151898335-c21c2f86-213d-4733-b5ad-1ef9fa6f9bd3.png)

[2022-02-01 17:23] m-sullivan7 commented on #472
Published edits.

[2022-02-01 17:23] #472 closed

[2022-02-01 17:31] chachasikes commented on #590
All the inputs we need to collect (as discussed in a meeting)
* Page feedback report
* Event tracking (on website interactions)
* Insights on code access (distinction from NPM package downloads)
* Comments
* Access to regular analytics

@mediajunkie  - Looping you in

[2022-02-01 17:54] chachasikes opened #594 "Process: Sort out our project metrics"
We identified some threads of feedback, input and other project metrics that we want to consolidate and make sure our team can access when we need it.
- [ ] Page feedback report
- [ ] Event tracking (on website interactions) #590
- [ ] Contact us
- [ ] Access to regular Google analytics
- [ ] Insights on code access (distinction from NPM package downloads)

[2022-02-01 17:55] chachasikes commented on #594
Set as p1 for getting our basic plan rolling.

Some of these tasks may need to become their own issues.

[2022-02-01 19:28] m-sullivan7 commented on #370
Proposed new content:

@extinah @ashleydraper @LizNobriga @thepegisin Any thoughts about this revision to get at this thorny piece of content we deferred during launch? All edits are in the first paragraph, where I wrote around saying "important" since I thought it was more important (ha!) to convey the idea of importance in the second paragraph.

For those keeping score: grade 5 reading level, no

[2022-02-01 20:27] xjensen opened #596 "Notes within CDN builds"
I propose we add some notes, in comments, at the top of each file we build for CDN distribution. These notes might include the component name, version number, link to our site, etc.

For example...

[code]

We can't control how people are going to fetch/copy and integrate these files into their projects. It's a good idea to provide these details in the files themselves, so far-future developers wi

[2022-02-01 21:11] kmbrlygl commented on #233
@adam-little @kkoryaka  I drafted the updated documentation on the [Visual Design Google doc](https://docs.google.com/document/d/17MtpWf1rZIl_Ge05DEQqIsd_NxBYha6krjRBhSUhdXg/edit?disco=AAAAVD1_g8I). Can you both review what I updated (the blurb before the table, mobile & desktop font sizes, and new line-heights ratios) before we update the Visual Design Style Guide page?
Thank you.

References tha

[2022-02-01 22:14] kkoryaka commented on #509
![external-link](https://user-images.githubusercontent.com/31669748/152060415-001d247f-fbbc-42b7-82d6-e41266011f44.svg)
Here you go @adam-little

[2022-02-01 23:19] kkoryaka opened #598 "Bug: main navigation creates gap on resize when mobile menu is expanded"
When you open menu in mobile and then resize the screen to desktop size it creates this huge white space gap.

### designsystem.webstandards.ca.gov

### Operating system, device, browser, screen size, etc.

iMac Chrome

### Steps to reproduce
1. Resize your browser to mobile size
2. Click on open main menu button (in mobile mode)
3. Then resize the screen back to desktop size

### Expected result

[2022-02-01 23:26] zakiya commented on #491
https://designsystem.webstandards.ca.gov/principles/
iOS and and MacOS Safari

[2022-02-01 23:39] zakiya commented on #469
@adam-little Just to confirm, do you want us to move the hamburger above "State of California Design System"?

It looks like this is already done for cannabis (which has a logo instead of a name) but not for drought and the design system.

Design system:
![CleanShot 2022-02-01 at 15 38 22](https://user-images.githubusercontent.com/915352/152069643-d55816fe-5a04-4132-8baa-4ba657a3ee4c.png)

Cannabi

[2022-02-02 00:10] m-sullivan7 opened #599 "Write in plain language: positive language"
We received this feedback about one of our recommendations on _Write in plain language_:

Feedback 1:

Feedback 2:

This issue is to consider making changes to our guidance based on this feedback.

[2022-02-02 00:24] chachasikes opened #601 "Patterns: Social media cards (from website) aspect ratios and ALT text"
Social media cards, "unfurls", "og meta content" are linked images in the `<meta>` region of a webpage to comply with the sharing protocols of different social media platforms.

## What exists so far
For drought.ca.gov and cannabis.ca.gov, we are using WordPress plugin called The SEO Framework which auto-crops to a file to the most common non-cropping aspect ratio.

Chach & Jon have done a lot of

[2022-02-02 00:46] kkoryaka commented on #545
Have to add 24px margin-button to nav element to match the figma prototype.

[2022-02-02 01:24] jaredwyee opened #603 "Add Drought site to "who's using" grid"

[2022-02-02 01:34] hunterowens opened #604 "Issue: Internationalization (i18n) and localization guidance"
love this repo :+1: and the system.

It might not be the right fit, but I noticed that the accessibility components didn't mention anything about translation, internationalization / localization. Given that [44% of Californians](https://kmph.com/news/local/44-percent-of-californians-speak-other-than-english-at-home) speak a language other than english, some guidance on internationalization and loc

[2022-02-02 01:53] zakiya commented on #491
@adam-little and @kkoryaka I want to get your opinion on this.

- The reported issue only seems to affect webkit browsers (Safari on iOS and macOS, Firefox).
- I can fix it by removing `text-underline-position: under;` from the <a> tag globally.
- There's no way I know of to reliably/responsibly target webkit browsers across screen sizes.

with under (Webkit)
![CleanShot 2022-02-01 at 17 45 30](ht

[2022-02-02 01:58] LizNobriga commented on #370
I like how you've rewritten it to avoid repeated use of "important".

We could describe how it functions for screen readers earlier in our description, and include both pdf and external.

We could also explain why anyone would need to know it's a PDF before opening a link (even if that seems obvious), and then note how that specifically helps people on mobile.

Suggested language (same readability

[2022-02-02 02:33] zakiya commented on #509
Figma: https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/?node-id=0%3A1 Frame 170

[2022-02-02 16:42] m-sullivan7 commented on #370
I like these changes @LizNobriga. Thank you for thinking about them!

Anyone else have revisions they'd like to suggest?

[2022-02-02 17:19] adam-little commented on #491
I'll defer to @kkoryaka. I don't understand the implications of removing the declaration.

[2022-02-02 17:36] adam-little commented on #469
Here are the alternatives....

1. Right-aligned
![image](https://user-images.githubusercontent.com/69167298/152206610-975b8f0a-b297-44dc-8e7b-0c17b7e68847.png)
IMO, this doesn't feel balanced when search/menu are right aligned and the website title is left aligned

2. Vertically aligned with "State of California"
![image](https://user-images.githubusercontent.com/69167298/152206797-7dac9871-d2f1-4

[2022-02-02 18:01] m-sullivan7 commented on #521
@chachasikes Would you like me to implement the `#` solution? If so, I'll take this ticket and get it off your plate. 🙂

[2022-02-02 18:02] m-sullivan7 commented on #515
@xjensen Based on this morning's conversation, alerting you to another example of where we may have more demo than we need.

[2022-02-02 18:03] m-sullivan7 commented on #484
@xjensen Another example of a demo that we can consider shortening.

[2022-02-02 18:04] m-sullivan7 commented on #449
@kkoryaka Out of curiosity, did this QA bug get fixed with your other work on the statewide footer?

[2022-02-02 18:07] zakiya commented on #491
The declaration changes the position of the line under the link. With it, the line goes under letters like g and y. The  first three screen shots are with the declaration, the last three screenshots are without.

[2022-02-02 18:13] zakiya commented on #484
@xjensen @m-sullivan7 I shortened this considerably  about a week ago. It could probably still be shorter but this is an example where the 4th level components down to at least (viii) are needed for proper testing because there's a risk of overlap with the margins.

[2022-02-02 18:24] adam-little commented on #491
Got it! I don't see any problem with removing it.

[2022-02-02 18:24] m-sullivan7 commented on #484
Ah! I hadn't done a hard refresh, so I was still seeing the old version. This is better.

I agree we need the fourth level in there. We might not need 9 fourth-level bullets though.

In looking now, we could also drop `LEVEL THREE` from the `(A)` bullet since we removed it from the other levels.

[2022-02-02 19:00] #203 closed

[2022-02-02 19:55] adam-little commented on #379
Here's a resource that could provide a framework for how we think about this:
https://blog.prototypr.io/10-practical-steps-to-create-a-predictable-accessible-and-harmonious-typography-system-a-case-6c85d901bedd

[2022-02-02 20:42] adam-little opened #606 "Components page titles should not change when toggling Readme and Changelog tabs"
[Sorry for the late addition, but I don't think this made it over from our QA spreadsheet]

In Figma mockups, the page title (e.g. Accordion) always stay the same regardless of the tab selected. Toggling a tab should not change the content above it.

![image](https://user-images.githubusercontent.com/69167298/152234311-9040066e-a1ec-4ca1-a4a3-84cf9847ebc3.png)

![image](https://user-images.githubu

[2022-02-02 20:49] adam-little opened #607 "Does the "Development Stage" content need to appear in both Readme and Changelog?"

[2022-02-02 21:00] zakiya opened #608 "Proposal: Icons"
### Requesting agency
*Who is requesting this component?*
Office of Digital Innovation

### Background
*What prompted you to submit this proposal?*
@kkoryaka: Currently we have css with reference to those icons but we don't have actual installation mechanism that will install package with actual font files and all css on the website. Because we and users have to manually install those font files o

[2022-02-02 21:09] jaredwyee commented on #604
Hi @hunterowens thanks for the comments. You're definitely right, translatability and related guidance is on our to-do. Thanks for speaking up for the many Californians who's primary or preferred language is not english!

[2022-02-02 21:14] zakiya opened #609 "Issue: Design System Issue Proposal Template Feedback"
I decided to ~~try eating our own dogfood~~ user test by using our issue template for Icons https://github.com/cagov/design-system/issues/608

### Questions:
1) Is anyone notified when a new issue is created if it doesn't wind up on the board?
2) Do we have a link yet for "Learn more about our review process."?

### Notes:
- I started typing in between checkboxes in the list before realizing they

[2022-02-02 21:24] adam-little opened #610 "Create illustration for 404 page"
Create an illustration to add some personality to the 404 page.

This is inspired by the bear with the spilled honey pot from the State Web Template.

Figma mockup: https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=5%3A3009

- [x] Create illustration
- [x] Add to 404 page

[2022-02-02 22:03] xjensen commented on #477
You could go ahead and do it if you like. We already have some of these changes in the project to rename components, #602.

[2022-02-02 22:06] xjensen commented on #515
We could use the oft-neglected Use Cases tab to show different uses of a component.

I think we definitely need to show both examples (with and without a logo). We're already supporting that in production between Drought and Cannabis.

[2022-02-02 22:17] m-sullivan7 commented on #515
You're right--we definitely want those use cases. I could keep the demo as is or move one (I'd recommend the no logo version) to the use case tab. That might be a strategic decision, so I'm interested in @jaredwyee 's thoughts.

[2022-02-02 22:21] m-sullivan7 commented on #599
After discussion with @thepegisin and @LizNobriga , we settled on these revisions:

Feedback 1:

Feedback 2:

[2022-02-02 22:23] #599 closed

[2022-02-02 22:27] m-sullivan7 commented on #477
Sounds good! I'll use that PR to make sure I don't duplicate work.

[2022-02-02 22:44] m-sullivan7 commented on #518
I am checking with our CDT partners for the preferred version. @chachasikes would you like me to take this ticket? It's a pretty easy change to make and that way you can use your time for other things. Ditto for https://github.com/cagov/design-system/issues/516

[2022-02-02 22:44] m-sullivan7 commented on #501
I could pick this issue up too since I'll be in most of the changelogs.

[2022-02-02 22:46] m-sullivan7 commented on #519
@aaronhans Can I take this ticket? This looks pretty simple to do and I've got the time to tackle it. That allows you to do programming things that I can't. 🙂

[2022-02-02 22:46] m-sullivan7 commented on #527
If this is as simple as just removing that blurb from the changelogs, I'm happy to take this issue @xjensen.

[2022-02-02 22:50] m-sullivan7 commented on #516
Per CDT, the preferred convention is `CA.gov`.

[2022-02-02 22:50] m-sullivan7 commented on #518
Per CDT, the preferred convention is `CA.gov`.

[2022-02-02 23:34] m-sullivan7 commented on #477
I updated the headings for the changelogs not listed in https://github.com/cagov/design-system/pull/602. I'm handing the assignment back to @xjensen to oversee the ones in #602.

[2022-02-02 23:34] m-sullivan7 commented on #527
I removed the text in the changelogs, except for those in #602. I'm handing this to @xjensen for the remainder of that work.

[2022-02-02 23:35] m-sullivan7 commented on #501
I added H2s to all the changelogs, except for those in #602. I'm handing this issue back to @xjensen to see the remainder through.

[2022-02-03 00:42] xjensen commented on #367
This is ready for review at #602. And it should really be reviewed carefully by the engineering team; it's a big change.

Better to do this sooner than later. The longer we let this wait, the more difficult it will become to make these changes out in the world.

[2022-02-03 15:57] mediajunkie commented on #590
@jaredwyee

[2022-02-03 15:57] mediajunkie commented on #594
@jaredwyee

[2022-02-03 17:16] aaronhans commented on #519
Yes please, thank you @m-sullivan7!

We may need to make content changes in this branch until it is merged due to the big movements in files and directory changes @xjensen just made https://github.com/cagov/design-system/tree/1.0.1-rc-post-launch-fixes

[2022-02-03 17:17] aaronhans commented on #519
This same problem may be present on other changelog pages on other components too

[2022-02-03 17:33] #367 closed

[2022-02-03 17:40] zakiya commented on #584
I very much agree with this. I'd like to see CAPS for all documents.

[2022-02-03 17:55] zakiya commented on #509
This is merged. Closing issue.

[2022-02-03 17:55] #509 closed

[2022-02-03 17:56] zakiya commented on #299
Going to close this in favor of #608

[2022-02-03 17:56] #299 closed

[2022-02-03 17:56] m-sullivan7 commented on #519
Thanks! I coordinated with @xjensen and he said that I only need to work in https://github.com/cagov/design-system/tree/1.0.1-rc-post-launch-fixes if I'm working on documentation for one of the components listed in #602. Accordion is not one of those components, so I pushed this change directly in the `main` branch. I confirmed that this has published on production and am closing the issue.

[2022-02-03 17:56] #519 closed

[2022-02-03 18:15] m-sullivan7 commented on #370
Published these changes.

[2022-02-03 18:15] #370 closed

[2022-02-03 18:16] m-sullivan7 commented on #477
Remaining changes made in https://github.com/cagov/design-system/tree/1.0.1-rc-post-launch-fixes. This issue will remain open until that branch is merged.

[2022-02-03 18:17] m-sullivan7 commented on #527
Remaining changes made in https://github.com/cagov/design-system/tree/1.0.1-rc-post-launch-fixes. This issue will remain open until that branch is merged.

[2022-02-03 18:17] m-sullivan7 commented on #501
Remaining changes made in https://github.com/cagov/design-system/tree/1.0.1-rc-post-launch-fixes. This issue will remain open until that branch is merged.

[2022-02-03 18:48] extinah commented on #370
Sorry so late - great updates. Nicely done.

[2022-02-03 19:13] m-sullivan7 commented on #370
Thanks! This is a good example of one of the types of edits we'll want to think about for content management and maintenance.

[2022-02-03 19:36] aaronhans commented on #438
Fis in https://github.com/cagov/design-system/pull/614

[2022-02-03 19:37] aaronhans commented on #434
Fix in https://github.com/cagov/design-system/pull/614

[2022-02-03 19:39] aaronhans opened #615 "Component page demo duplicate ids"
When running accessibility checks against site component pages there are issues caused by duplicate ids because the live component demos duplicate the components used on the site.

Probably best fix is to avoid using ids unless totally necessary

[2022-02-03 20:02] aaronhans opened #616 "Process: Add lighthouse speed audit to builds, cancel if specific thresholds are not met, document this"

[2022-02-03 20:02] aaronhans opened #617 "Documentation: custom elements, 11ty to site readme"
Latest readme and the web components page on the site cover most of this.

Mentioning 11ty as a dependency directly early in the developer section of the readme and linking to the excellent 11ty documentation site would be helpful

[2022-02-03 21:04] xjensen commented on #448
I'm unable to recreate this bug. Two possibilities come to mind.

1. The observed problem was actually related to our poor heading hierarchy on the Changelog pages, which we've now fixed.
2. This is some artifact of the responsive font changes we made to the Design System about a month ago. But I'm not seeing that right now.

[2022-02-03 21:50] xjensen opened #618 "Components menu pushed down"
On component pages, the mobile components menu is getting pushed down below the first heading.

<img width="543" alt="Screen Shot 2022-02-03 at 13 35 12" src="https://user-images.githubusercontent.com/1208960/152433322-aa314d78-8670-4cca-a6a2-bc80291b9dbb.png">

I had a fun morning trying to find the source of this bug. It's due to #571.

I feel this should be done in the site's templates rather t

[2022-02-03 22:09] xjensen commented on #541
This seems to be fixed already.

[2022-02-03 22:15] aaronhans commented on #618
Yeah that makes sense, better not to have that logic inside the component. Thanks @xjensen

[2022-02-03 22:22] xjensen commented on #457
The given link to MDN, below, is an anchor link to mid-page content.

https://developer.mozilla.org/en-US/docs/Web/CSS/var()#syntax

The link-icon component explicitly excludes these anchor links within its code, on purpose. That's why the external link icon is not appearing.

Should we change the link-icon component to include these anchor links?

[2022-02-03 22:47] kmbrlygl commented on #379
Thanks for that resource @adam-little I like how there were notes around heading usage.

I riffed on a few type treatments with different fonts and additional spacing on the [Sketchpad](https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=852%3A4964). I think the added spacing is making the biggest difference with differentiating the sections and defining a clearer hierarchy.

O

[2022-02-04 00:55] m-sullivan7 commented on #159
@thepegisin and @LizNobriga do we still want to do this work? OK if we do, just thought I'd ask now that the Design System is launched.

[2022-02-04 16:44] m-sullivan7 commented on #150
@LizNobriga Think the [link I shared earlier](https://teamdocs.covid19.ca.gov/components/text-links-buttons.html#action-button-(action-link)) satisfies this issue and we can consider it closed?

[2022-02-04 16:55] LizNobriga commented on #150
Yes.

[2022-02-04 16:55] #150 closed

[2022-02-04 16:57] jaredwyee commented on #374
@m-sullivan7 More than 1 was the input from to demonstrate there can be multiple. So 2 if you're looking for the min :)

[2022-02-04 17:00] mediajunkie commented on #374
this is fully jared’s domain now, productwise!

On Fri, Feb 4, 2022 at 8:58 AM Jared Yee ***@***.***> wrote:

--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://t

[2022-02-04 17:15] m-sullivan7 commented on #518
Content updated and published.

[2022-02-04 17:15] #518 closed

[2022-02-04 17:20] m-sullivan7 commented on #516
Content updated and published.

[2022-02-04 17:20] #516 closed

[2022-02-04 19:21] chachasikes commented on #584
Yes on all the ALLCAPS.

[2022-02-04 19:35] chachasikes commented on #521
@m-sullivan7 sure!

[2022-02-04 19:46] m-sullivan7 commented on #521
Link updated and live!

[2022-02-04 19:46] #521 closed

[2022-02-04 19:56] m-sullivan7 commented on #444
@jaredwyee Not a hot item for the Design System, but an easy one to do once we make a decision. Any thoughts on whether we have the freedom to make this change or if we need to run it by any stakeholders?

[2022-02-04 20:59] chachasikes commented on #589
Idea: "translation captain" works with "sample markup" captain

[2022-02-04 21:51] xjensen commented on #488
I believe this was addressed in a previous fix. Need second set of eyes to confirm.

[2022-02-05 00:13] chachasikes commented on #609
Thank you so much for using the template.

1. We can assign a Github team and add people to the team. Right now, no, because we have not decided who will get the notice. For now, we will need to check the issue boards to see the changes.
2. Link: Not yet. Good catch.

Thanks for sharing the gist.
Those changes look great.

[2022-02-05 00:15] chachasikes commented on #609
My own feedback is to see (again) if it is possible to comment out the prompts (the "thank you" content)

This content does not need to live on the completed template, but without it it's a little unwelcoming.
Adding the `` syntax was also not very user friendly.

[2022-02-05 00:17] chachasikes commented on #609
Would love to hear @jaredwyee or @mediajunkie's feedback on it. I wrote it and mostly got "we love it" feedback. We tried the template very early on, and we have learned more since we began. I revised the templates before launch so they were not out of date, but these templates can be considered as features in our layer of support for the design system.

[2022-02-05 00:32] mediajunkie commented on #609
defer to @jaredwyee on this
--
Christian Crumlish
Product Manager | Office of Digital Innovation
Digital Crisis Standard
<https://github.com/cagov/covid19/wiki/Crisis-Standard> - covid19.ca.gov
415-672-5759 | ***@***.***

Follow us:
web <https://alpha.ca.gov/> | blog <https://medium.com/cadotgov> | twitter
<https://twitter.com/cadotgov>

[2022-02-05 00:51] kkoryaka commented on #491
Definitely remove text-underline-position: under;.

[2022-02-05 01:08] chachasikes commented on #590
Britt is working on a Measurement Plan.
Handing this over to Jared to connect with Britt to help get the plan into the right hands.

When the plan is ready, could be helpful to make sure the whole design system engineering team sees the plan so that we all know what we will measure (and why) - and then break up any actions into smaller issues.

[2022-02-05 01:35] LizNobriga opened #624 "Issue: "A different approach" intro iteration"
Rewrite intro of _[A different approach](https://designsystem.webstandards.ca.gov/technical-approach/)_ to begin with what the approach is. Doing this is better for conveying meaning. Then add lead class text.

[2022-02-05 01:41] LizNobriga opened #625 "Issue: Iterate to improve readability of "About""
Iterate _[About](https://designsystem.webstandards.ca.gov/about/)_ content to eliminate all hard-to-read and very-hard-to-read sentences (13 total).

[2022-02-05 01:50] LizNobriga opened #626 "Issue: Add "A different approach" to site navigation"
Suggestion to have a dropdown under Components in the site navigation to make _[A different approach](https://designsystem.webstandards.ca.gov/technical-approach/)_ more prominent.

[2022-02-07 16:22] chachasikes commented on #589
There are a few patterns of translations we have worked with.
* Google Translate widget
* Translation pipeline (use compiled data from translated API to render language-specific content)

We were discussing methods for having custom content by language as well.

## Suggestions
1. "Ready components for translations"

We have already worked to make the components translatable. Recommend that:
* We a

[2022-02-07 16:28] chachasikes commented on #589
2. Translate component content

There are a few pieces of component content that need to be translated.
A. The sample markup examples.
This is higher priority because we need to be able to test the components behavior in different languages.
To do this, we need:
- [ ] - Realistic demo content in multiple languages so that the user feedback can catch any problems with layout and content structure t

[2022-02-07 16:29] zakiya commented on #491
Code merged. Closing issue.

[2022-02-07 16:29] #491 closed

[2022-02-07 16:35] chachasikes commented on #589
3. Translate site content

There is an initiative on improving translatability of State website content.
(- Q: does the initiative have a website?)

FWIW: ODI team members have expressed these preferred patterns for translating content:
1. Multilingual content designers on product teams
2. Translation services with system for integrating translated content into the site.
3. Auto-translations (expl

[2022-02-07 16:36] chachasikes commented on #589
Next steps:
Go over these ideas and decide which steps we want to take now, and which connect with other initiatives.

[2022-02-07 16:38] chachasikes commented on #574
This is in a PR to staging already, needs to be merged into our main branch for our 1.0.1 release

[2022-02-07 17:03] xjensen opened #627 "Design of Code Demo buttons"
Let's explore adding interactive buttons to our code previews.

Here's some background. In #622, we fixed a problem with the page-alert component's preview. When the page-alert is closed, the reader had no way to bring it back into the preview without reloading the page. So we added a "Reset demo" button that could bring the page-alert back.

<img width="818" alt="Screen Shot 2022-02-04 at 16 16 4

[2022-02-07 20:36] #438 closed

[2022-02-07 20:36] #434 closed

[2022-02-07 22:18] chachasikes commented on #627
* Change language dropdown button

[2022-02-07 22:19] chachasikes commented on #627
We built a language button for another project (for PDFs) & have some work on translated content we could merge into this idea if needed.

[2022-02-07 22:20] chachasikes commented on #627
Storybook also has some UI toggles for accessibility - but (FWIW) not sure rebuilding Storybook in our UI would be a good idea.

[2022-02-08 00:11] kmbrlygl commented on #233
Thanks @adam-little for your edits to the content! Much better.

@kkoryaka let me know if it's good to go (see Adam's note in the doc) and I will update the content on the website. Let me know if you have any trouble accessing it.

[2022-02-08 00:55] jaredwyee commented on #488
@xjensen I have a pixel 3a if it's helpful for me to check something.

[2022-02-08 01:17] xjensen commented on #488
@jaredwyee That would be really helpful. I think it's a reference to the component icons on this page: https://designsystem.webstandards.ca.gov/components/

These icons were previously broken in Safari. We fixed that. I'm wondering if that fix also resolved the problem on the Pixel 3a. I checked on my desktop Android system and it looked fine.

[2022-02-08 01:43] jaredwyee commented on #488
Here's from Chrome on Pixel 3a
![image](https://user-images.githubusercontent.com/85529382/152902006-a52e1d50-7f36-4e1d-b312-c2d41449546e.png)

[2022-02-08 18:54] m-sullivan7 commented on #374
Thanks @jaredwyee ! I'm going to bring the examples in the demo down to 2. We can always add back later if needed!

[2022-02-08 18:58] m-sullivan7 commented on #374
Actually, upon taking a look at the page, I see we're using 3 accordions now. It looks like we've already reduced down from where we were in QA. I do not think we need to go further than this. I'm going to close this issue as done.

[2022-02-08 18:58] #374 closed

[2022-02-08 19:00] m-sullivan7 commented on #372
Closing this issue as the demo has already been reduced.

[2022-02-08 19:00] #372 closed

[2022-02-08 20:19] adam-little opened #631 "Color Contrast does not pass AA standards on Step Lists."
**Context:**
See [Accessibility Review document](https://docs.google.com/document/d/13FEjWgNYisN_1ahSffZApXYrCw7Kli7Uw1t1qK4YmG8/edit#):
![image](https://user-images.githubusercontent.com/69167298/153073521-cc47d530-322e-4da3-8021-41d07ed83f5d.png)

**Suggested approach:**
I suggest we chance the text color on the selected state from #ffffff to #000000
![image](https://user-images.githubuserconten

[2022-02-08 20:29] adam-little opened #632 "Visual design style guide: The way the color tables are laid out currently the screen reader only reads the table header when it arrives on the color rows."
See [Accessibility Review document](https://docs.google.com/document/d/13FEjWgNYisN_1ahSffZApXYrCw7Kli7Uw1t1qK4YmG8/edit#)
![image](https://user-images.githubusercontent.com/69167298/153070508-9c99b162-64f6-4656-89b3-af189be907c8.png)

[2022-02-08 20:34] adam-little opened #633 "Page feedback form: Allow the form control to be closed so the user can get out of the form field in case they accidentally navigated to. The control just stays open on the screen."
**Context:**

See [Accessibility Review Document](https://docs.google.com/document/d/13FEjWgNYisN_1ahSffZApXYrCw7Kli7Uw1t1qK4YmG8/edit#):
![image](https://user-images.githubusercontent.com/69167298/153071097-9a639d4d-98a0-487c-ae20-5ba7cd1ecf99.png)

**Suggested solution:**

Add "Cancel" button next to "Submit" button. The Cancel button will reset the form.

![image](https://user-images.githubuser

[2022-02-08 20:43] kkoryaka commented on #233
@kmbrlygl Documentation is good, except I would not add line-hight to the website yet since it's not implemented yet. It will be there next release.

[2022-02-08 20:45] adam-little commented on #633
This is ready for development

[2022-02-08 20:53] adam-little commented on #607
If we think it should appear on both pages, then I suggest moving it above the page navigation tabs

[2022-02-08 20:55] adam-little commented on #507
This is related issue for the same button: https://github.com/cagov/design-system/issues/506

[2022-02-08 21:01] kmbrlygl commented on #233
Got it, thanks @kkoryaka I will work on updating the documentation on the website.

I will hold off on updating line-heights until you give me the go-ahead on that ticket 👍

[2022-02-08 22:56] LizNobriga commented on #159
I think we do. At a minimum, we could look for a good reference link to include.

[2022-02-09 00:32] kkoryaka commented on #632
I would not use table at all. Lets use normal normal columns layout with color chips as div containers (that will be ignored by screen readers) and the color values text that will be normally read by screen readers.
![Screen Shot 2022-02-08 at 4 31 47 PM](https://user-images.githubusercontent.com/31669748/153099139-0f384e57-1a8c-4740-82ff-cb07ae62d6b0.png)

[2022-02-09 00:35] #233 closed

[2022-02-09 00:43] kkoryaka commented on #618
Yes, make sense. So, should we close this #571 issue for these reasons?

[2022-02-09 00:50] kkoryaka commented on #449
@m-sullivan7 Unfortunately, i can't view the issue, so I can't say if I fixed it or not.
![Screen Shot 2022-02-08 at 4 47 41 PM](https://user-images.githubusercontent.com/31669748/153100757-0eb2eedd-0e6c-4dd0-95a1-42fa4384aa0b.png)

[2022-02-09 00:56] m-sullivan7 commented on #449
Here's the original image:

![image](https://user-images.githubusercontent.com/69169190/153101416-fcf35275-7e64-4286-a810-07a6e09de8da.png)

[2022-02-09 01:39] chachasikes commented on #633
I see this. Thanks Adam. Would be good for next sprint. Gonna tag all the forms issues so it's easier to see all the changes.

@zakiya I'm adding labels on the Forms so we can find these issues.

[2022-02-09 01:40] chachasikes commented on #584
Did an initial pass on this, slating it for next sprint.
Ran into an issue where the tabs disappear, and logic isn't crystal clear - need to search for it.

[2022-02-09 01:47] chachasikes commented on #452
Not sure exactly the issue (which anchor link) - but assume there is a mismatch in IDs somewhere. Will hunt down whatever this issue is.

[2022-02-09 01:47] chachasikes commented on #446
The big issue is probably resolved, but could use some fresh reviews.

[2022-02-09 01:48] chachasikes commented on #428
Think we decided this. There is another issue to generally revisit it. Recommend we close this out and pick back up after more user feedback.

[2022-02-09 01:49] chachasikes commented on #428
can @jaredwyee or @adam-little  or @m-sullivan7 confirm that this doesn't belong in backlog?

[2022-02-09 01:50] chachasikes commented on #420
Adding to next sprint, let's decide if we actually finished this. Not sure what status is from @xjensen

[2022-02-09 02:23] kkoryaka opened #637 "BUG: mobile site navigation menu button has borders"
Remove border from site navigation menu button
![Screen Shot 2022-02-08 at 6 22 50 PM](https://user-images.githubusercontent.com/31669748/153109800-7abc9283-da80-4722-a53e-535c1497af9e.png)

[2022-02-09 16:28] #449 closed

[2022-02-09 16:28] m-sullivan7 commented on #428
OK to close by me!

[2022-02-09 17:07] chachasikes commented on #589
Propose we make this the focus of a future sprint. Maybe 1.0.3 or 1.0.4.

We have some planning conversations to do that could go into 1.0.2
cc @aaronhans @jaredwyee

[2022-02-09 17:08] xjensen commented on #468
#636 partially addresses this issue. We still need to add the "X" icon when the menu is open, so leaving this open.

[2022-02-09 17:15] chachasikes commented on #589
And for actionable item - planning in next sprint:
* What a translatable component looks like (code issues to check for on review - develop a list that we can include in our docs)
* Review status of our components and note components that have issues.
* Consider including a checklist for major version updates (in the changelog?) - where we can check that we did review it for translations (or acces

[2022-02-09 17:18] #428 closed

[2022-02-09 17:19] chachasikes commented on #475
This was assigned to me. Should have been assigned to Michael or Adam.
Is a dupe & dup issue is closed. Closing.

[2022-02-09 17:19] #475 closed

[2022-02-09 17:29] adam-little commented on #428
We updated the DS website footers based on a decision made in this thread, but we have not updated documentation for the footers.

@m-sullivan7 Do you think we should update the documentation?

[2022-02-09 17:32] kkoryaka opened #639 "QA issue: fix statewide header structure"
Sate of California needs to be left aligned
![Screen Shot 2022-02-09 at 9 31 03 AM](https://user-images.githubusercontent.com/31669748/153256931-81e0e925-f032-4792-8dd9-af0e63ea8291.png)

[2022-02-09 17:34] m-sullivan7 commented on #428
Yes. I thought I'd updated the documentation, but that might have been an interim update. I'll create a new issue for that work.

[2022-02-09 17:35] xjensen opened #640 "Add close icon to components menu"
We recently fixed the arrow icon on the components menu in #468. We now need to add the close "X" icon when the menu is open.

<img width="482" alt="Screen Shot 2022-02-09 at 09 34 24" src="https://user-images.githubusercontent.com/1208960/153257557-d3e11a9b-f624-4da1-8248-2be8396e902b.png">

[2022-02-09 17:38] chachasikes commented on #531
Print preview notes:
- Yes, it is 9 pages long. I think this request is more about saving paper & being more economical.
- I believe someone requested a printable version of the website already.
Would love to understand more about this use case. @sarah-letson
Especially because of our content: we are including principles and other useful information.
* Print mode is how one can create a PDF to rea

[2022-02-09 17:38] m-sullivan7 opened #642 "Update contact us link location in component documentation"
The team has decided that the contact us link best lives in the site footer, not the statewide footer. This issue is to update the documentation for the site footer and statewide footer components to reflect this.

[2022-02-09 17:39] chachasikes commented on #531
@jaredwyee @aaronhans Moving this to next sprint, where this may need a design review.

[2022-02-09 17:52] chachasikes commented on #454
This is a good check to also do in our accessibility + design QA cc @adam-little @kkoryaka @zakiya @aaronhans @xjensen

This is true - setting the larger text size in iPhone accessibility has no bearing on the site.
But there are additional instructions to make this work, and I was able to resize this on iPhone XR.
https://mcmw.abilitynet.org.uk/making-text-larger-safari-ios-13-iphone-ipad-and-ipo

[2022-02-09 17:53] chachasikes commented on #454
Adding to next sprint - would be nice to review this issue and think about our QA practices for testing typography on mobile devices.

[2022-02-09 18:21] jaredwyee commented on #525
Assuming this is good based on from https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/components/base-css/changelog/
![image](https://user-images.githubusercontent.com/85529382/153265096-82d13b46-3582-4536-a69c-a751095a9b41.png)

[2022-02-09 18:22] jaredwyee commented on #502
@aaronhans @xjensen I dont know what this issue is for. Any guidance on how to confirm it is working/fixed?

[2022-02-09 18:28] jaredwyee commented on #434
Confirmed B35A00 with eye dropper on https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/
![image](https://user-images.githubusercontent.com/85529382/153266052-91cac838-d474-41fe-a347-bd4ce9dafe65.png)

[2022-02-09 18:30] jaredwyee commented on #509
Confirmed fixed  https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/principles/
![image](https://user-images.githubusercontent.com/85529382/153266386-37618abe-d157-45f6-a617-0374f476d15b.png)

[2022-02-09 18:32] jaredwyee commented on #468
@xjensen given this is partially fixed, can you update the title/description to better reflect what is addressed here vs the the new issue #640?

Thanks.

[2022-02-09 18:34] aaronhans commented on #502
The page alert component page viewable in the release preview here https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/pr/1-0-1-rc-post-launch-fixes/components/page-alert/readme/

Has  new "reset demo" link above the interactive demo embedded in the readme documentation. This is supposed to let the user return the demo to its initial state which is helpful with this component be

[2022-02-09 18:37] m-sullivan7 commented on #159
Then let's do this in the next sprint for the Design System. I'll look for some good candidates for articles. 🙂

[2022-02-09 18:48] jaredwyee commented on #477
Confirmed that no reference to version is in header for change log pages on https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/components/back-to-top/changelog/

[2022-02-09 18:50] jaredwyee commented on #574
Confirmed roles and expected required fields are appropriate on https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/contact-us/ and https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/
![image](https://user-images.githubusercontent.com/85529382/153269352-41d314cc-d40e-41cb-9ebd-f64fd3747081.png)
![image](https://user-images.githubusercontent.com/85529382/15326

[2022-02-09 18:53] jaredwyee commented on #527
Confirmed tag is not visible on https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/pr/1-0-1-rc-post-launch-fixes/components/statewide-footer/readme/ and did not notice any for other components

[2022-02-09 18:56] jaredwyee opened #644 "Components header space is broken for a number of the component pages"
In QAing the release cut site: https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/, noticed that a number of the change log pages (and one readme page) have huge spacing issues with the header. Inconsistent depending on the page.

https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/components/back-to-top/changelog/
https://1-0-1-rc-post-launch-fixes.pr.design

[2022-02-09 19:12] jaredwyee commented on #501
Changelog headers look good in https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/

[2022-02-09 19:16] jaredwyee commented on #618
Confirmed that component menu is ABOVE now as expected. Pixel 3a chrome:

![image](https://user-images.githubusercontent.com/85529382/153273562-59f3288c-a6ba-40dd-96ee-2b73871898af.png)

[2022-02-09 19:17] jaredwyee commented on #520
Confirmed no longer present  https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/components/accordion/changelog/
![image](https://user-images.githubusercontent.com/85529382/153273807-84c624fa-1ad0-43d5-ad59-be3201737dfc.png)

[2022-02-09 19:18] jaredwyee commented on #534
@adam-little  @kmbrlygl  please confirm this is fixed as expected in https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/

[2022-02-09 19:19] jaredwyee commented on #233
@adam-little  @kmbrlygl  please confirm this is fixed as expected in https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/

[2022-02-09 19:22] jaredwyee commented on #588
@adam-little  @kmbrlygl  please confirm this is working as expected on https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/ I don't know what this button is referring to so dont know where to check for a color code.

[2022-02-09 19:23] jaredwyee commented on #549
@adam-little @kmbrlygl  please confirm this is working as expected in https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/

[2022-02-09 19:24] jaredwyee commented on #544
Confirmed 33x24 for header and footer in Windows Chrome on https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/

[2022-02-09 19:26] m-sullivan7 commented on #159
I did some initial research through internet searching. A lot of chunking guides are in the education field, often discussing how to divide videos.

I found 6 that were related to content/UX design. Most of them fell short of the mark and didn't feel worthy of us giving an implicit seal of approval to. The best one I found was from @thepegisin's favorite [Nielsen Norman Group](https://www.nngroup.

[2022-02-09 19:26] jaredwyee commented on #637
@kkoryaka is this bug for the menu border WITHOUT hitting the button? I see a orange border on it after I hit Menu , then Close.
![image](https://user-images.githubusercontent.com/85529382/153275489-4ca0e2d7-8ba5-4d0b-92c8-19596fed658b.png)

[2022-02-09 19:40] xjensen commented on #644
@jaredwyee We have a fix incoming at #645.

[2022-02-09 19:58] kkoryaka commented on #491
@jaredwyee Looks good in mac chrome
![Screen Shot 2022-02-09 at 11 57 33 AM](https://user-images.githubusercontent.com/31669748/153280353-cdf31031-e038-4ee2-804d-aa73ca35e78a.png)

https://644-fix-changelog-layout.pr.designsystem.webstandards.ca.gov/principles/

[2022-02-09 20:27] zakiya commented on #468
QA result: The first part of the issue which is addressed in the title is complete. #640 correctly identifies the second issue. Ready to merge/close.

[2022-02-09 20:30] jaredwyee commented on #502
Oh I get it. Confirmed clicking reset demo reload the page alert. Minor thing is there's no hover state for "Reset Demo" so you don't know it does anything until you click it. Tolerable behavior though.

![image](https://user-images.githubusercontent.com/85529382/153284674-41c4affb-4f57-45cb-a0e7-967f05052ea3.png)
![image](https://user-images.githubusercontent.com/85529382/153284697-fc38018f-a476-

[2022-02-09 20:33] zakiya commented on #598
Fix looks great at https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/ Test on Mac Chrome, Safari and Firefox.

[2022-02-09 20:35] zakiya commented on #451
The scaling looks okay at widths greater than 375px and doesn't get cut off..

[2022-02-09 20:39] zakiya commented on #467
Line under component menu matches Figma screens when closed on Mac Safari, Firefox, and Chrome.

[2022-02-09 20:51] jaredwyee opened #646 "1.01 RC Getting Started page has space below footer"
https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/get-started/

1. The footer has negative space under it.
2. Perhaps related, if you rapidly click between Get started and another page (eg Principles) you see a "shift" of the whole page layout. It's as if Getting started is intended slightly more rightward.

I see this both on Chrome and Firefox on a windows 10 box.

![image](

[2022-02-09 21:05] xjensen commented on #646
"Get started" is one of our shortest documents. I do see the problems you're describing when my browser window is bigger than the page itself. If I resize the browser window so that it's smaller than the length of the "Get started" page, and then refresh, the problems disappear.

This might also explain the right-ward shift described in #2. I see it. I believe it's due to the browser window's scro

[2022-02-09 22:01] jaredwyee commented on #646
@xjensen thanks for figuring out what was happening. Agree with your assessment: fix the negative space under footer. Scrollbar is an idiosyncrasy.

[2022-02-09 22:08] adam-little opened #647 "Create logo for Design System website, as a way to make the page more visually engaging and model the intended use of the site header"

[2022-02-09 22:08] adam-little commented on #647
Here;s an example provided by @artuoma
![image](https://user-images.githubusercontent.com/69167298/153298463-e09fee49-6c00-41cd-902a-ec1160b2f15d.png)

[2022-02-09 22:29] kkoryaka commented on #637
@jaredwyee that is outline for focused state, totally ok.

[2022-02-09 23:16] kmbrlygl commented on #233
@jaredwyee Yes, this looks good 👍

[2022-02-09 23:25] jaredwyee commented on #637
Thanks

[2022-02-09 23:42] kmbrlygl commented on #549
@jaredwyee yes, this should be good to go. We still need to work out how to document spacing on the Visual Design style guide but this is implemented. Will create a separate ticket for documentation.

[2022-02-09 23:44] kmbrlygl opened #649 "Documentation: How we use spacing"
Document how the design system uses spacing in headings and throughout the website/system

- [Visual Design Style Guide Google Doc](https://docs.google.com/document/d/17MtpWf1rZIl_Ge05DEQqIsd_NxBYha6krjRBhSUhdXg/edit?usp=sharing) - working doc (not 100% match of what is current, but just for drafting purposes)
- [UI Kit Type](https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=

[2022-02-10 00:15] kmbrlygl commented on #588
@jaredwyee I think this is good to go.

Re: secondary button ^ we landed on only using showing primary (blue) and disabled buttons for now until we resolve some color palette issues. It looks like it's up to date on the [Visual Design Style guide page](https://1-0-1-rc-post-launch-fixes.pr.designsystem.webstandards.ca.gov/style/design/) in this release.

Also, double-checked [design tokens](https:

[2022-02-10 00:29] jaredwyee commented on #588
Cool, thanks

[2022-02-10 00:37] jaredwyee commented on #549
Thanks!

[2022-02-10 00:47] kmbrlygl commented on #534
@jaredwyee Yes, good to go for this release! There may still be some small refinements needed, but we can address them at a later time.

[2022-02-10 00:50] jaredwyee commented on #534
Sounds good thanks

[2022-02-10 18:22] m-sullivan7 commented on #477
Published with branch. Closing issue as done.

[2022-02-10 18:22] #477 closed

[2022-02-10 18:23] #527 closed

[2022-02-10 18:23] kmbrlygl commented on #560
Updated the description for more info ^

One example that Jared pointed out:
![image (1)](https://user-images.githubusercontent.com/20393247/153472002-97f2e83d-8bba-4ff4-bd18-80208f9bee8e.png)

[2022-02-10 18:23] #501 closed

[2022-02-10 18:39] xjensen commented on #560
The `&nbsp;` solution suggested by @adam-little is probably the best way to address this, for now. I can't think of anything better.

There is supposed to be a proper way to control orphans and widows in CSS. It's been around for 20 years. Unfortunately, Firefox never supported it. The CSS spec people are currently putting forward an expanded role for orphans and widows in their [CSS Fragmentation

[2022-02-10 18:41] m-sullivan7 commented on #642
Changes published.

[2022-02-10 18:50] #644 closed

[2022-02-10 18:51] #468 closed

[2022-02-10 18:55] #473 closed

[2022-02-10 18:57] xjensen commented on #420
I haven't worked on this any further. It's open fields here.

[2022-02-10 19:59] aaronhans commented on #502
I'll let @jaredwyee make the call on urgency.

Once we have a fix I'd like to make sure @kkoryaka gets to review it because he was changing some button styles recently

[2022-02-11 16:49] kkoryaka opened #652 "Bug: Strange layout appears when you click on base-css preview button"
### Url where issue was found

[*Example: https://covid19.ca.gov/state-dashboard*](https://designsystem.webstandards.ca.gov/components/base-css/preview/)

### Operating system, device, browser, screen size, etc.

Chrome on iMac

### Steps to reproduce

1. Open componets
2. Click on base-css component
3. Click on preview

### Expected result

At least no overlays

### Actual result

Statewide heade

[2022-02-11 18:20] m-sullivan7 commented on #444
@jaredwyee Checking in on who, if anyone, needs to approve adding this statement to our Design System content principles:

[2022-02-11 18:35] kmbrlygl commented on #649
@kkoryaka that makes sense, will definitely keep that in mind. Thank you!

[2022-02-12 00:55] jaredwyee commented on #444
@m-sullivan7 thanks for the reminder ping. Would this be for principle 4 Be concise?: https://designsystem.webstandards.ca.gov/principles/

Or moreso in the 'Write in plain language section: https://designsystem.webstandards.ca.gov/style/content/write-in-plain-language/

Overall, I'm good with the change. If there's a way to weave it in where it does not feel as curt and serious, I would support t

[2022-02-12 00:58] m-sullivan7 commented on #444
We were thinking of adding it to the _Standards_ section of _Write in plain language_. On Monday I'll work up a few casual options. One of our big motives is to give people cover with leadership when they're advocating for plain language and content design as a whole. We may not want to say that on the Design System site, but that framing could inform how we position this.

Thanks for providing a

[2022-02-14 19:59] #639 closed

[2022-02-14 20:00] #598 closed

[2022-02-14 20:01] #588 closed

[2022-02-14 21:30] zakiya opened #654 "Transfer the engineer wishlist to a spreadsheet for curation."
https://docs.google.com/document/d/11yvU5A1PMcZFXjuzZo_ZaVE_03CNTOFb_LCpI1FX8iU/edit

[2022-02-14 21:31] jaredwyee commented on #531
@extinah can you clarify if printing a page of the site is an accessibility factor? Otherwise, I'm inclined to say this is 'Won't do'.

[2022-02-14 21:35] jaredwyee commented on #470
@m-sullivan7 kindly will lay out options for how we might proceed. Then we ask teammates with accessibility backgrounds to assess them -> make decision (PM if needed can tip scale if we don't have clear consensus).

[2022-02-14 21:38] jaredwyee commented on #454
Per planning discussion, the impetus issue is due to iOS/Safari usability issue. Chach confirmed that the font size does update if you find the right function/setting in iOS Safari. Marking won't do.

[2022-02-14 21:38] #454 closed

[2022-02-14 21:52] m-sullivan7 commented on #402
Assigning to @jaredwyee for analytics pull to see if we can intuit out any trends in these pages.

[2022-02-14 22:11] m-sullivan7 commented on #444
I went with your vote @jaredwyee and published with that. It's easy to change if we want something different. Thank you! Issue complete.

[2022-02-14 22:12] chachasikes commented on #470
@m-sullivan7  - can you include the social media graphic on this list - there is a way to add alt text for it - not sure we've tried or tested it yet - but I made notes on this here: on https://github.com/cagov/design-system/issues/601

[2022-02-14 22:13] chachasikes commented on #601
@m-sullivan7 can I tag you on this to make sure the content/design team are keeping an eye on this? It was stuck in triage & I tagged some folks on Slack and didn't get a response.
cc @xjensen

[2022-02-14 22:55] #574 closed

[2022-02-14 23:39] jaredwyee commented on #633
If we update this component also an opportunity to improve how it wraps in a responsive view so that the 'Yes' and 'No' are are a set together vs independently wrapping
![image](https://user-images.githubusercontent.com/85529382/153965205-666feb24-a549-4238-b350-0651f2a001f9.png)

[2022-02-14 23:46] jaredwyee commented on #402
![image](https://user-images.githubusercontent.com/85529382/153965850-e917a1a3-6a30-405a-94d0-a3522ad72162.png)

[https://analytics.google.com/analytics/web/#/report/content-drilldown/a20973992w42130624p25947[…]~2Fstyle~2F,analytics.pagePathLevel2:~2Fcontent~2F/](https://analytics.google.com/analytics/web/#/report/content-drilldown/a20973992w42130624p259474870/explorer-table.plotKeys=%5B%5D&_r.dri

[2022-02-15 00:07] m-sullivan7 commented on #470
I updated the description of this ticket with the issue at hand (alt text vs decorative) and some guidance on how we can make the decision.

Here's my take for each of the images:
- Homepage
  - Hero bear - I think this an **informative image**. The key decision to make is what level of detail we want to go to. Tiffany suggested a very extensive description, while Christian and I came up with shor

[2022-02-15 00:10] m-sullivan7 commented on #601
Thank you for tagging me, especially as this was not on my mind! I've made notes in #470 (thanks to you bringing it up over there). I've made a note on my side to make sure that decisions made there get noted in this issue. 🙂

[2022-02-15 00:57] jaredwyee opened #656 "CA.gov logo update to meaningful <img> from deocrative."
1. Coded as: Decorative
Accessible name: ca.gov logo
Change to: `<img>`

If ca.gov was removed we would only hear State of California in. It impacts the page so should be made an <img> instead of decorative. The footer can remain decorative since it would be repetitive.

![image](https://user-images.githubusercontent.com/85529382/153972467-f8b109a8-6bb1-4078-bdee-880eb746c897.png)

**WCAG 2.1 Guid

[2022-02-15 01:05] jaredwyee commented on #470
Thanks @m-sullivan7. I agree with your assessment. Re social media, I think something describing the CA design system (similar to the hero blurb) is prefered over describing the black CA "logo" or if it was the sitting bear with circles.

Noting there was also input from Tiffany on the alt text of the cannabis and covid19 site preview images:

1.	Accessible name: cannabis.ca.gov website homepage
U

[2022-02-15 01:08] jaredwyee opened #657 "Consider unique link text for example websites under "Who's using the DS""
Recommendation:  Change the link text descriptions so they are not identical.

![image](https://user-images.githubusercontent.com/85529382/153973431-d43054f0-e9de-4b8c-874f-52cee6e22f71.png)

**WCAG 2.1 Guideline** [2.4.9 Link Purpose (Link Only)](https://www.w3.org/TR/WCAG/#link-purpose-link-only)
These two links have the same accessible name but go to different resources. They open completely di

[2022-02-15 01:11] jaredwyee commented on #657
@m-sullivan7 Input? Maybe `Visit cannabis.ca.gov` and `Visit covid19.ca.gov` respectively?

[2022-02-15 01:18] jaredwyee opened #658 "Hover state color on button/action should have sufficient contrast"

[2022-02-15 01:21] jaredwyee opened #659 "Pattern: Forms"
Recommendation: If an input error is automatically detected and suggestions for correction are known, then the suggestions are provided to the user.

We have three required fields:
* name
* email
* `how we can help?` text input

**Design consideration**
* If the submit button is pressed and one or all of the above fields is missing, where should be place the error message? And what should it read?

[2022-02-15 01:29] jaredwyee commented on #659
@adam-little @kmbrlygl do you have input on a good pattern for error state after pressing submit, when all required fields are not filled out?

My first inclination is a message next to the Submit button because you just pressed that. Then list all the missing fields.

[2022-02-15 01:42] jaredwyee opened #660 "Principle X number in header?"
Recommendation: Include the Principle and the numbers in the heading levels. They are currently missing.

![image](https://user-images.githubusercontent.com/85529382/153976762-856b43a3-693f-4ab3-bba0-d16be6c91f58.png)

**WCAG 2.1 Guidelines**
[1.3.1 Info and Relationships (Level A)](https://www.w3.org/TR/WCAG21/#info-and-relationships)

[2.4.6 Headings and Labels (Level AA)](https://www.w3.org/TR/

[2022-02-15 01:47] jaredwyee commented on #660
@m-sullivan7 what do you think about this one? I don't think the "relationship" of the principle number is particularly meaningful as to warrant inclusion in the header. Including it would also make the headers excessively long. I assume the reason to keep "Principle X" separate is to help focus on the actual text of the principle and allow for quicker visual scanning along the #1-9 list.

[2022-02-15 01:59] jaredwyee opened #661 "Navigation to URLs with # should focus on that respective section of the webpage"
Presently, our "jump to" or "focus on this section" URL behavior does not focus on that section of a webpage. For example if you go to https://designsystem.webstandards.ca.gov/style/content/#our-inspiration the focus is NOT at the `Our inspiration` header.

This presents an accessibility tabbing issue. If you were to tab to `Our inspiration` > hit Enter... at next tab the expectation would be to b

[2022-02-15 16:32] m-sullivan7 commented on #470
You're right--I forgot about those! I would call both those screenshots **informative images** and add alt text for them.

[2022-02-15 16:35] m-sullivan7 commented on #657
That's exactly what I was thinking. I believe I can make this change in the code, so I'm claiming this issue.

[2022-02-15 16:39] m-sullivan7 commented on #660
I agree. The only reason that we gave the principles numbers is because of their use in the principle rotator on the homepage. We wanted it to be clear to homepage visitors that the principle shown was one of many at first glance. It was design driving content. The principle numbers are in service of that, more than anything else. The numbers are definitely less important than the text of the prin

[2022-02-15 16:53] m-sullivan7 commented on #657
New text published. Closing issue.

[2022-02-15 16:53] #657 closed

[2022-02-15 18:24] kkoryaka commented on #656
@jaredwyee Ca.gov is actually link. It's not just the image (link has a title attribute that is read by assistive technologies) The ca.gov image inside of the link has aria-hidden=true attribute, but it's information is conveyed in the link's attribute title text. So, I am not sure if we have any problem there.

As far as arrows on the menu, I agree, we need to make sure they have aria-hidden attr

[2022-02-15 18:26] adam-little opened #662 "Standardize buttons"
We don't have a great system for deciding how to pick the color of a button. We're also lacking consistency for how hover behaviors are applied.

- [x] Mockup styles in Figma
- [x] Start a component documentation page [Update: Documentation is [in Notion here](https://www.notion.so/odi-engineering/Button-b628202147124395a3a2bb5ad6affa10)]
- [x] Document rules and expected behaviors
- [ ] Establish

[2022-02-15 18:30] adam-little commented on #662
Feedback from @kkoryaka: in figma could you please create button sizes variations?

[2022-02-15 18:40] zakiya commented on #656
I think in this case the svg itself would be considered meaningful and not decorative and it would make sense to remove aria-hidden=true and add alt="Ca.gov logo" https://www.w3.org/WAI/tutorials/images/functional/.

I agree about adding aria-hidden to the menu arrows.

[2022-02-15 18:44] #544 closed

[2022-02-15 18:44] #549 closed

[2022-02-15 18:46] jaredwyee commented on #502
Sorry I inadvertently moved this DONE not realizing there was more comments. @xjensen @aaronhans. Will move this back into in progress.

If a hot fix is safe to do, go a head but this isn't urgent by any means so if we'd rather adhere to the new release schedule, let's do that.

[2022-02-15 18:49] #495 closed

[2022-02-15 19:52] jaredwyee commented on #656
Menu being aria-hidden agreed.

For the ca.gov logo, sounds like there is the potential to 1) rely on the link being the information/description for assistive tech OR 2) have the image svg with an alt text.

It does not seem like we need BOTH. Is there a better approach for which one? @zakiya @kkoryaka Or please clarify on why we might need both 😁

[2022-02-15 20:18] chachasikes commented on #420
Assigning to myself.

Summarizing what I hear from Jon:
Either
* unset <select> normalizing options (and address resulting issues)
OR
* make a style in _forms.scss

To move this along we could:
- [ ] Look at what's being normalized & why (compare with design spec)
- [ ] Get alignment on any further expectations and needs from default select behaviors (leveraging browser options for simplicity acce

[2022-02-15 20:44] adam-little commented on #659
We'll look into this!

It relates to: https://github.com/cagov/design-system/issues/558

[2022-02-15 20:47] chachasikes opened #663 "Test Epic"
We are tracking something as an epic. blah blah blah test test test (testing Zenhub, plz ignore)

[2022-02-15 21:02] zakiya opened #664 "New Epic Issue for testing"

[2022-02-15 21:39] zakiya commented on #654
Sheet created at https://docs.google.com/spreadsheets/d/1XNdHl2Oqhgd6--sZAbW_IsMpcqWV9EslvlSFo59JpFE/edit#gid=0

[2022-02-15 21:47] zakiya commented on #656
I would prefer to use an alt tag on the logo and remove the the title attribute from the a tag. https://www.a11yproject.com/posts/title-attributes/ https://www.deque.com/blog/text-links-practices-screen-readers/ We could also ask the CDT Accessibility Engineer since she was the original reporter.

[2022-02-15 22:26] zakiya commented on #454
Just adding a supporting note.

The settings on an IPhone at Settings  > Accessibility > Display & Text Size affect Safari's app text like the in the address bar and Favorites list. Actual website text is adjusted the way Chach listed above.

Related Apple support links:

https://support.apple.com/guide/iphone/display-text-size-iph3e2e1fb0/ios#:~:text=Go%20to%20Settings%20%3E%20Accessibility%20%3E

[2022-02-15 22:31] jaredwyee commented on #660
Thanks. Saying won't do for this.

[2022-02-15 22:31] #660 closed

[2022-02-15 22:59] xjensen commented on #606
We have a fix in progress for this at #665.

Question. In the mock-ups, there's a short summary between the page title (component name) and the document tabs.

Should we add these short summaries onto each component page on the site? And if so, should we use existing content here, or do we want to draft new blurbs for each component? @adam-little @m-sullivan7

[2022-02-16 00:08] m-sullivan7 commented on #606
Could I get a quick link to the mocks so I can see it in context?

[2022-02-16 00:23] xjensen commented on #606
Here's the [Figma mock-up](https://www.figma.com/file/A1DSo765cWjvBWoLd6tvEE/DS-website-screens?node-id=379%3A10012).

And here's [an example page on the preview site](https://606-consistent-component-page-titles.pr.designsystem.webstandards.ca.gov/pr/606-consistent-component-page-titles/components/accordion/readme/). At this time, this preview site has the title fix, but not the blurb under discu

[2022-02-16 00:28] m-sullivan7 commented on #606
Thank you! I was having trouble finding it.

I am happy with how it is now, below the tabs and trackerbox. I feel this content best fits below the tabs and the tracker boxes because it's part of the general readme info. It it was above the tabs, I'd expect it to be on the use case and changelog tabs. I do not think it's needed in those places.

I'm interested in the design perspective of @adam-lit

[2022-02-16 17:07] jaredwyee commented on #656
I'm good with proceeding as you stated: use alt tag on logo and remove the title attribute.

Original recommendation from Tiffany was the <img>, with  alt tag anyways.

[2022-02-16 17:27] xjensen commented on #502
I've put a fix into the current sprint at #666. Not going to do a hotfix here.

[2022-02-16 18:17] m-sullivan7 commented on #662
I removed myself from this issue since we're not ready for component documentation yet.

[2022-02-16 18:20] kkoryaka commented on #658
This is going to be fixed with this ticket #662. @jaredwyee in the meantime we can make some hot-fix on the homepage

[2022-02-16 18:22] jaredwyee commented on #658
@kkoryaka thanks, let's avoid hot fixes unless critical. Once the approach / specification is defined for #662 can be fixed with normal release cycle.

[2022-02-16 18:29] kkoryaka opened #667 "combined-css is missing statewide-header and highlight-section scss imports"
Add statewide-header and highlight-section scss imports to combined-css index.scss

[2022-02-16 18:56] kmbrlygl commented on #441
Saw this ticket that Chach created that's related to this so linking it here for reference:
https://github.com/cagov/design-system/issues/601

[2022-02-16 18:56] adam-little commented on #606
I also OK with summary being under tabs, since it only appears in the Readme tab.

[#665](https://github.com/cagov/design-system/pull/665.) solves this for me.

I have a separate but related issue at [#607](https://github.com/cagov/design-system/issues/607) that I would like the perspective of @m-sullivan7 on.

I would argue that the Tracker Box should only appear on the Readme tab. Otherwise, it

[2022-02-16 19:12] kkoryaka opened #669 "Show page structure and clean starter template code sample (for devs)"
It would be helpful to display essential webpage structure example and clean starter template html code sample for developers. We have component library  but we don't show entire page structure and how do we tie structural components together.

Here is example from ca state template page structure example (refer to "Clean Starter Template" code sample: https://template.webstandards.ca.gov/getting-

[2022-02-16 22:24] xjensen opened #672 "Possible enhancements to page-navigation"
Following work on #670, there are a few things we might want to reconsider within the page-navigation component.

* There's a lot of polyfill JS code to help smooth scrolling work in Safari. We may want to remove this given (1) the next version of Safari will have support for native CSS and JS implementations of smooth scrolling and (2) I'm not sure if it's worth the bloat to support one animation

[2022-02-16 22:26] m-sullivan7 commented on #607
Responding to @adam-little's request on #606, I think it makes sense to omit the development stage tracker from the changelog and use cases tabs/pages.

That said, I'd like a developer opinion on whether seeing the status of a component is useful on a changelog or use case page. I think they'd be the most likely to use that information. @jaredwyee I'll let you decide which/how many developer(s) to

[2022-02-16 23:05] Angsv commented on #441
Here is the final illustration for social media:
![hero_bear_social_image](https://user-images.githubusercontent.com/95935944/154372388-3022c562-4d3f-4187-91b4-c40b77de13b4.png)

[2022-02-16 23:14] Angsv commented on #441
@chachasikes I've created a pull request with the SVG code for the image and assigned you to it.

[2022-02-16 23:24] xjensen commented on #607
I'm assuming we would want to ditch the tracker box but **keep** the document tabs (on Changelog and Use cases pages)?

[2022-02-16 23:27] xjensen commented on #606
That all makes sense. I added a question to #607. We could easily resolve #607 as part of this PR.

I'm going to keep this PR in draft-mode for a few days to see if we can get a decision on #607, otherwise I'll go ahead and push it forward.

[2022-02-16 23:30] m-sullivan7 commented on #607
Yes, definitely keep the tabs to enable navigation between the pages no matter what. (At least that's my opinion!)

[2022-02-17 17:37] adam-little opened #675 "Update copy on 404 page"
Noticing that our 404 page content may need to be polished.
![image](https://user-images.githubusercontent.com/69167298/154538943-590e041d-bb8a-4bb1-af5e-97294fa83e10.png)

This is what we have in the Figma UI Kit:
![image](https://user-images.githubusercontent.com/69167298/154539378-cbfc1b88-1405-4190-9d97-d83c52069737.png)

[2022-02-17 17:41] adam-little commented on #675
As a sidenote: we will be adding an illustration to this screen - https://github.com/cagov/design-system/issues/610

[2022-02-17 17:46] adam-little commented on #675
@m-sullivan7 - Can you clarify for me: Is including "Page not found" intentional? Or should we take this away since we have "We can't find the page you're looking for."

I'm asking because it might impact how we think about the 404 page illustration

[2022-02-17 18:07] xjensen commented on #675
@adam-little "Page not found" probably snuck into the page when I changed how titles are rendered. It's an oversight on my part. I can fix it.

[2022-02-17 19:46] adam-little commented on #675
Thanks!

[2022-02-17 20:48] adam-little commented on #633
@jaredwyee I explored some approaches here: https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=89%3A2867

I have sort of lost track of what the actual accessibility issue is.

It seems like we already meet the criteria of "checked".

FWIW, here are a couple examples of a similar form:
- https://sf.gov/
- https://www.gov.uk/

[2022-02-17 21:18] #633 closed

[2022-02-18 17:14] jaredwyee commented on #633
Thanks @adam-little , I think the crux of it was that a user should be able to back out of the text input box flow.

There's some questions around how and if sites can use the page feedback component so I'm not going to push this forward yet cause I don't want to update the component while other aspects around the data storage / backend is being batted around.

That said, I liked version 3 where t

[2022-02-18 18:35] adam-little commented on #379
@kkoryaka Kimberly and I did some explorations for improving our text header styles so that there is more contrast between H1, H2, H3, etc...

https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=89%3A2867

What do you think of these? Would it be possible to stage these on a Cannabis page (for example: https://cannabis.ca.gov/applicants/equity-fee-waivers/) so that we can see ho

[2022-02-18 21:43] zakiya opened #678 "Design: The "Icons" component needs illustration."
A [new component to handle icons](https://608-icons-11ty.pr.designsystem.webstandards.ca.gov/pr/608-icons-11ty/components/icons/readme/) is in the works.

In order to launch it, we'll need an illustration for the [components page](https://designsystem.webstandards.ca.gov/components/).

[2022-02-18 22:02] zakiya opened #679 "Documentation: Icons"
A [new component to handle icons](https://608-icons-11ty.pr.designsystem.webstandards.ca.gov/pr/608-icons-11ty/components/icons/readme/) is in the works.

In order to launch it, we'll need to complete the documenation

[2022-02-22 02:08] kmbrlygl commented on #304
Courtney shared this PDF of a color palette she worked on that shows accessibility:
[CCCCO-brand-refresh-colors.pdf](https://github.com/cagov/design-system/files/8113109/CCCCO-brand-refresh-colors.pdf)

Also, Deque has an accessible color contrast checker that outputs color suggestions and takes into account font size and weight:  https://color-contrast-checker.deque.com/

[2022-02-22 16:58] kkoryaka commented on #379
@adam-little cannabis monolith is not good candidate for it. Maybe headless cannabis instance would work better. Why don't you explore it in the design system site? We can create a new page and make a PR and it will have a preview link for you.

[2022-02-22 17:52] adam-little commented on #379
The reason i suggested DCC is because this is a request that has come from the DCC team. I would like to get their feedback by showing them how it looks with their content. Let's discuss during our design call today.

[2022-02-22 18:10] xjensen commented on #476
Working on this piecemeal via #677, but should probably keep this issue open.

[2022-02-22 19:15] aaronhans opened #682 "Remove lazy loading from feature card"
The feature card component has loading="lazy" in the sample markup for the image.

This image is usually the largest contentful paint item so should not have any render delays associated.

We should remove that from the markup so we are not recommending that people slow down the display of something that is at the top of the viewport when loaded on mobile

[2022-02-22 20:10] chachasikes commented on #589
Chach, Jared, Yesenia met Feb 16 to discuss translation epics and the different ways translatability applies to the Design system.
Project notes: https://coda.io/d/CA-gov-Product-Team_dKL2z4BbUHn/DS-Meeting-Notes_su1LX#_luwSK

Actions for Feb 22-26
- [ ] Chach - draft initial translation checklist & "Translatability" section for design system docs (reviewing 1-3 components)
- [x] Jared - share lis

[2022-02-22 20:24] zakiya opened #683 "Change <sidebar> to <aside>"
<[aside](https://www.w3schools.com/tags/tag_aside.asp)> is a semantic HTML tag. We should use it instead of `<sidebar>` in templates and demos.

[2022-02-22 20:40] xjensen commented on #683
This is also on the list of page-navigation improvements in #672.

[2022-02-22 20:46] zakiya commented on #683
Going to close this as a duplicate then! Thanks @xjensen

[2022-02-22 20:46] #683 closed

[2022-02-22 21:41] chachasikes commented on #446
This is okay. Marking as done.

[2022-02-22 21:41] #446 closed

[2022-02-22 21:42] chachasikes commented on #446
(prior worked resolved this)

[2022-02-22 21:43] chachasikes commented on #506
Waiting on hover text color for low contrast primary color dark + blue text

[2022-02-22 21:45] chachasikes commented on #530
This is better now. (Other work has resolved it.) - Closing.

[2022-02-22 21:45] #530 closed

[2022-02-22 22:55] chachasikes commented on #584
<img width="311" alt="Screen Shot 2022-02-22 at 2 53 15 PM" src="https://user-images.githubusercontent.com/149436/155233197-afccddcd-f753-4d6d-848b-ab53648a6ca8.png">

These will still be in Title case. If we want to change them, need to discuss it & it probably would need a design review.

[2022-02-22 23:42] chachasikes opened #687 "Process: Consider using Architectural decision records for our major technology decisions."
Architectural decisions records could help us record our technology choices for long term memory.

About:
https://18f.gsa.gov/2021/07/06/architecture_decision_records_helpful_now_invaluable_later/

Example:
https://github.com/transcom/mymove/tree/master/docs/adr

Example of a decision:
https://github.com/18F/piipan/blob/main/docs/adr/0013-use-private-links.md

Let's try this in a future sprint.

[2022-02-22 23:47] chachasikes commented on #687
Helpful post from Spotify blog:
https://engineering.atspotify.com/2020/04/when-should-i-write-an-architecture-decision-record/

[2022-02-22 23:47] chachasikes commented on #687
Tons of links: https://adr.github.io/

[2022-02-23 00:18] kkoryaka opened #688 "Create design tokens reference page"
Create page with css variables listing and usage examples similar to this pages: https://open-props.style or https://designsystem.digital.gov/design-tokens/

---
Create following sections showcasing design tokens and their usage:
- Responsive tokens (Container widths variables)
- Measure tokens (spacing and size variables)
- Color tokens (color scheme primary, secondary and gray color variables)
-

[2022-02-23 00:28] xjensen commented on #687
It's a neat idea. Here are some random feelings.

* I like the 18F approach to proposing new decisions via PR. I think it would also be a good idea to hold a regular meeting to discuss new proposals as a team, at least at first.
* We may want to back-write all of our previous decisions. Sounds like an opaque but important task. Easier to do while the Design System is still young.
* My preference i

[2022-02-23 00:29] #441 closed

[2022-02-23 00:40] #439 closed

[2022-02-23 00:45] zakiya commented on #584
Not sure if this is what you're saying but if we need to KEEP the title case after the file name changes to all caps (which I think we do), we can solve with CSS.

https://codepen.io/zakiyadrupal/pen/jOaKVGd
https://caniuse.com/css-first-letter

[2022-02-23 17:32] #682 closed

[2022-02-23 18:17] aaronhans commented on #682
This is merged, I checked that the loading=lazy is now gone from the sample markup and h1 is used on feature card. I don't think additional QA is needed

[2022-02-23 18:43] chachasikes commented on #452
Whoops this one got lost in last sprint.

(The video is also in the trash now)

I understand this issue now. On iPhone there is a jump after submission - it may have to do with losing the form ID - but a chance it's something else (scrolling related)

There is an ID on the <form> element that's used for the web component - that's necessary - but it needs some transition love so users won't get los

[2022-02-23 18:50] chachasikes opened #695 "Styles: Convert social media graphic to PNG and add as share card"
Angelina uploaded a SVG for the social media share. Let's convert it to PNG for ubiquitous file sharing on all social media networks, and confirm that the file will work.

Would like to cross-train someone on the card debugging with someone at the end of this sprint during QA.

[2022-02-23 19:02] kmbrlygl commented on #304
Ahh, this is awesome, Jon! I went on a bit of a spiral learning about that CIELAB color model. I've been working with HSB and having trouble figuring out a system since I still have to do optical adjustments. Looks like CIELAB is already considering luminance, as well as accessibility. I'm definitely going to reference this!

[2022-02-23 19:43] zakiya commented on #679
We have used used the icons throughout the site and on other ODI projects. We use the CA.gov icon library as our source.  This effort isn't just to bring create the component but to also give guidance on how they should be used by engineers (currently we have many inconsistencies) and also provide a reference for designers. I'm in favor of scheduling a swarm/meeting to explain further. If the butt

[2022-02-23 19:55] xjensen commented on #304
Getting a light-balanced color palette like the one advocated in that tool would be a dream. It takes so much of the guess work out of finding accessible color pairings.

[2022-02-23 20:23] jaredwyee commented on #679
@zakiya Thanks for the additional context. Will setup a sync for us next week.

[2022-02-23 20:26] #664 closed

[2022-02-23 20:58] jaredwyee commented on #507
Confirmed working

[2022-02-23 20:58] #507 closed

[2022-02-23 21:00] jaredwyee commented on #506
Confirmed working in release branch. Closing. Will be moved to Done once release merged tomorrow.

[2022-02-23 21:00] #506 closed

[2022-02-23 21:01] #502 closed

[2022-02-23 21:06] jaredwyee commented on #533
@kmbrlygl @adam-little
Can you confirm whether this is updated to spec? https://1-0-2-a11y-design.pr.designsystem.webstandards.ca.gov/

[2022-02-23 21:16] jaredwyee commented on #656
Confirmed working. Closing. Pending move to Done once release merge complete.

[2022-02-23 21:16] #656 closed

[2022-02-23 21:18] jaredwyee commented on #661
Confirmed working. Closing. Pending move to done once merge completed tomorrow.

[2022-02-23 21:18] #661 closed

[2022-02-23 21:19] jaredwyee commented on #631
Confirmed working. Closing. Pending move to done tomrrow after release merge.

[2022-02-23 21:19] #631 closed

[2022-02-23 21:20] jaredwyee commented on #675
@xjensen @zakiya
Is this not testable on the release branch?
https://1-0-2-a11y-design.pr.designsystem.webstandards.ca.gov/alskdjfadsf
![image](https://user-images.githubusercontent.com/85529382/155410379-832221dc-ddf7-484b-939d-48371b169db9.png)

[2022-02-23 21:31] xjensen commented on #675
@jaredwyee That's right, it's not testable on the PR branch. Apologies for that. It's a limitation of our PR sites. It should be possible to see it at the following URL.

https://1-0-2-a11y-design.pr.designsystem.webstandards.ca.gov/error.html

[2022-02-23 21:37] jaredwyee commented on #675
no worries, thanks for confirming. Will say this is working as best as we can tell now. Will need to reconfirm once in prod :).

[2022-02-23 21:52] kmbrlygl commented on #533
Yes, overall looks good. The only thing I notice is that the graphic is vertically centered to the form rather than the whole section. It would be more ideal to have it centered to the entire section to balance spacing above and below. Might be more work than it's worth, thoughts @chachasikes? Otherwise, I think this works. Definitely better than before.

[2022-02-23 22:07] chachasikes commented on #687
@xjensen Thanks Jon - I created a planning doc file

Public: https://chach-sikes-odi-notes.notion.site/chach-sikes-odi-notes/DRAFT-PROPOSED-Design-System-Architecture-Decision-Records-Planning-Doc-39612337efe9436eb56c1d2a781c96e6

Edit: https://www.notion.so/chach-sikes-odi-notes/Design-System-Architecture-Decision-Records-Planning-Doc-39612337efe9436eb56c1d2a781c96e6 (lmk if anyone wants to help)

[2022-02-23 22:18] chachasikes commented on #531
msg'd @extinah on Slack

[2022-02-23 22:20] jaredwyee commented on #632
@kmbrlygl please confirm this issue is as expected https://1-0-2-a11y-design.pr.designsystem.webstandards.ca.gov/style/design/

[2022-02-23 22:23] jaredwyee commented on #606
Confirmed working. CLosing. Will move to Done once release is merged.

[2022-02-23 22:23] #606 closed

[2022-02-23 22:25] jaredwyee commented on #313
@kmbrlygl  can you confirm that the headers are per your spec in the release branch: https://1-0-2-a11y-design.pr.designsystem.webstandards.ca.gov/

[2022-02-23 22:32] jaredwyee commented on #667
Not QA-able per Zakiya.

[2022-02-23 22:37] kmbrlygl commented on #313
Yes, this is good to go.

[2022-02-23 22:43] kmbrlygl commented on #632
@jaredwyee Yes, good to go! Thanks for checking.

[2022-02-23 22:58] #632 closed

[2022-02-23 23:48] extinah commented on #531
@jaredwyee  @chachasikes  Not a wcag accessibility issue. Depending on how you handle links (like URLs displaying), there could improvements made there. Otherwise it's a usability issue.

[2022-02-23 23:50] jaredwyee commented on #533
Thanks for weighing in @kmbrlygl. Closing this issue in anticipation of merging in the release tomorrow.

@chachasikes if updating to center to the whole section is warranted, please use a new issue. Thanks!

[2022-02-23 23:50] #533 closed

[2022-02-23 23:51] #313 closed

[2022-02-24 00:09] jaredwyee commented on #531
@extinah got it, thanks for clarifying.

@chachasikes I say we punt for now. If someone wants to print they can scale in their print to PDF.

[2022-02-24 00:09] #531 closed

[2022-02-24 16:52] zakiya commented on #654
This is done and doesn't require manual QA

[2022-02-24 16:52] #654 closed

[2022-02-24 17:26] #675 closed

[2022-02-24 21:59] m-sullivan7 commented on #679
I'm changing the content team assignment on this to @LizNobriga as she has volunteer to be the point person for this documentation. I'll still be at the sync and am looking forward to this!

[2022-02-25 19:12] zakiya opened #699 "Styles: Icons"
- [ ] Make icon library searchable.
- [ ] Demonstrate color and size changes.
- [ ] Provide zip of all icons for designers
- [ ] Remove link from icon name in Icon Library like:
       zoom-out.svg
       [Download](https://608-icons-11ty.pr.designsystem.webstandards.ca.gov/cagov-icons-svg/zoom-out.svg)

[2022-02-26 00:19] kmbrlygl opened #700 "Styles: Design focus states"
Brought up during Design Team meeting (with OET/CDT folks), we discussed wanting to design focus states on interactive elements that work on dark and light backgrounds

[2022-03-01 00:44] kmbrlygl commented on #541
This looks good to go, checked on my Pixel 3a. Apologies for the delay. I saw this was still open.

[2022-03-02 00:00] chachasikes opened #703 "Bug: Step list has oblong shaped circles around numbers"
Thank you for helping us build a better design system. Fill any of the fields that are relevant to your issue as best you can.

### Url where issue was found

Reported to DS team by State employee trying Design System on a Sharepoint instance.

### Operating system, device, browser, screen size, etc.

Not available

### Steps to reproduce

Design System team reproduced & recreated the issue in the

[2022-03-02 00:30] aaronhans opened #705 "Website: Add general upgrade instructions"
Add a page that describes how to setup automatic component upgrades with dependabot and how to handle the different types of upgrades according to semantic versioning with or without automatic updates

[2022-03-02 18:11] Angsv commented on #610
Added SVG file to repository

[2022-03-02 18:38] adam-little commented on #610
I updated our 404 page template using the SVG. You can see it here: https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=5%3A3009

[2022-03-02 18:39] adam-little commented on #610
Assigning to @chachasikes please let us know if you need anything else.

[2022-03-02 21:22] zakiya commented on #679
Here's the readme Template that @chachasikes created: https://github.com/cagov/design-system/wiki/Component-README-template-(DRAFT)

[2022-03-02 21:33] jaredwyee commented on #679
Did a high-level overview as a team.

@LizNobriga will let us know when to expect anticipated first draft - consider structure (eg icons should be in a separate page to disentangle from component documentation), intro, usage guidance (dos/dont's), and general copy editing.

@adam-little share any design/layout refinement improvements that could be made. If it comes down to it, such changes would n

[2022-03-03 15:20] zakiya opened #708 "Styles: Font Family Documentation/Reconcilitation"
Our Design Guide has information about Public Sans but our components are (should be?) font agnostic. We should explain how to use components with different font-families and make sure what we say actually works on a per component basis.

This came up when troubleshooting #703

Suggestions from Slack:
1. "Webmasters are welcome to use any font. Our components work best with Public Sans."
2. Test o

[2022-03-03 16:41] m-sullivan7 commented on #460
@kkoryaka taught me that `CA&#46;gov` will make the text not be formatted as a link. I'm picking up this issue to review the whole Design System site to find and replace this text since an engineer is not required to do this work.

[2022-03-03 19:42] m-sullivan7 commented on #460
@kkoryaka I used this fix on the [About page](https://designsystem.webstandards.ca.gov/about/#history) and the [Visual design page](https://designsystem.webstandards.ca.gov/style/design/#color), but in both instances it's still coming up as a linked CA.gov. Any idea why it's not working here?

[2022-03-03 21:53] chachasikes commented on #584
This didn't merge successfully - looks like it got dropped off. Will retry with our next release roll up. (We are in the process of testing our repeatable processes right now.)

[2022-03-03 22:11] chachasikes commented on #687
Trying this in cannabis.ca.gov data viz project:

Template:

# x. Decision name

Date:

## Status

## Context

## Decision

## Consequences

## Architectural Decision Records
Exploring this idea of embedding more long-term context in State gov github repositories.
REF: https://github.com/cagov/design-system/issues/687 (can change reference)

[2022-03-07 17:45] kkoryaka commented on #460
I see what you are saying @m-sullivan7 . I don't know why it's working on one page and doesn't on another. Here is other alternative that that works on both pages CA<span>.</span>gov. So, you pretty much enclosing period into span tag.

[2022-03-07 19:58] chachasikes commented on #541
I see this is marked as done. Can we close it @kmbrlygl ?

[2022-03-07 20:08] chachasikes commented on #507
Did we confirm this is all good?

[2022-03-07 20:13] chachasikes commented on #659
Any follow up on this?

[2022-03-07 20:43] kmbrlygl commented on #541
@chachasikes yes!

[2022-03-07 21:05] kkoryaka opened #711 "Pattern: Cards"
Create a flexible design system card component based on figma UI kit. It should include options for image, header card content and link button.

## Description

### What is card
The card" is a small rectangle associated to a singular thought or topic.  It might have multiple variants and options. The card includes options for for image, header card content and link button.

### What does it help y

[2022-03-07 21:15] adam-little commented on #507
Looks good to me. Note we have a separate issue focused on standardizing button behaviors -  hope to have the design for this finalized soon: https://github.com/cagov/design-system/issues/662

[2022-03-07 22:31] adam-little opened #712 "Components: Make accordions more accessible"

[2022-03-08 21:12] m-sullivan7 commented on #460
This worked like a charm! Thanks @kkoryaka ! I'll take it from here. 🙂

[2022-03-08 21:34] m-sullivan7 commented on #460
I've reviewed the Design System site for all instances of CA.gov and have used the `<span>` tag to change them so they're no longer creating links. This issue is done.

[2022-03-08 21:34] #460 closed

[2022-03-09 20:23] #541 closed

[2022-03-09 20:26] chachasikes commented on #448
I can't recreate this either. Your explanations make sense @xjensen.
Marking as Done & closing.

[2022-03-09 20:26] #448 closed

[2022-03-09 20:27] chachasikes commented on #476
@xjensen would it help if we scheduled this issue in a sprint rather than leaving it in in-progress & a perpetual state of obligation?

[2022-03-09 20:30] chachasikes commented on #589
Added a doc into Coda on Translations.
Next steps are scheduling work. Recommend we do in a dedicated sprint (maybe 1.0.5 or 1.0.6)

[2022-03-09 20:33] chachasikes commented on #610
Adding this into the next sprint

[2022-03-09 20:38] chachasikes opened #714 "Documentation: Review npm publishing update docs while updating step list package (2.0.1)"

[2022-03-09 20:39] chachasikes commented on #607
Is this resolved now?

[2022-03-09 20:41] chachasikes commented on #515
pinging @jaredwyee for a decision

[2022-03-09 20:43] chachasikes commented on #456
Unclear what issue was. Closing.

[2022-03-09 20:43] #456 closed

[2022-03-09 20:44] chachasikes commented on #658
Is this resolved now? Adding to QA board to close it out.

[2022-03-09 20:48] chachasikes commented on #254
Un-assigning Koji cause this hasn't moved in a while.

What is the priority of this feature & is it on our list of DS tasks @aaronhans ?

[2022-03-09 20:50] chachasikes commented on #591
Adding this to next sprint - will be reviewing component docs & this could be a good time to also accomplish this task.

[2022-03-09 20:52] chachasikes opened #715 "Should we have breadcrumbs?"
- [ ] Find out if there was a discussion
- [ ] update issue

[2022-03-09 20:54] chachasikes commented on #322
Is this done now @xjensen ?

[2022-03-09 20:55] chachasikes commented on #338
accordion is being updated this release

[2022-03-09 20:56] chachasikes commented on #348
Follow up on this (scope it out) in upcoming accessibility sprint

[2022-03-09 21:02] xjensen commented on #322
@chachasikes Not started. I don't believe it's a high priority.

Ideally, we would have #304 in hand before attempting to create our own syntax highlighting theme. Not sure what the status is there. Paging @kmbrlygl.

[2022-03-09 21:06] xjensen commented on #476
@chachasikes I think we're near the point where continuing this work will require significant, breaking changes to the components themselves.

I'm all for it. I've been beating that drum since October. But perhaps it makes more sense to create new issues for each component. If so, we could close this.

[2022-03-09 21:11] xjensen commented on #607
This is still unresolved. I think we were waiting for a decision regarding which component pages should have the dev stage tracker boxes.

[2022-03-09 21:14] xjensen commented on #260
I have no plans to do this in the DS site at this time. So I'm removing my assignment, for now.

FWIW, I may experiment with service workers on Drought for loading data-viz below the fold.

[2022-03-09 21:29] adam-little commented on #607
I vote for Readme only. It's the default page so most users will see it.

But I could also see the argument for having it on Changelog since that content is related to the evolution/progress of a component.

[2022-03-09 21:36] kmbrlygl commented on #322
What's paging? 😉 @xjensen @chachasikes
Yep, I'm prioritizing #304 first in this upcoming sprint since it affects buttons and forms and will help solve other color-related issues like this one. I'll loop back on this after I get it sorted out since it's a bit complicated.

[2022-03-09 22:27] aaronhans commented on #260
Our local builds are pretty fast already and there are some nice improvements coming in 11ty so this ticket isn't a high priority for the design system.

I'd recommend closing this until we have a more immediate use case. If we encounter a state site whose performance is being dragged down by several 3rd party scripts using partytown to encapsulate them in a service worker could help a lot.

[2022-03-09 22:27] #260 closed

[2022-03-09 22:31] aaronhans commented on #254
This doesn't seem like a high priority to me but would like to get @yesenia-gtz's opinion.

If we add search I'd like to evaluate some of the build time indexing tools that are available as 11ty plugins against the legacy google site search tool

[2022-03-09 22:35] yesenia-gtz commented on #254
lets send this to the backlog for now.

[2022-03-09 22:42] chachasikes commented on #672
* good note on the <sidebar> - some of that code (probably) came from everylayout & if so I blame Koji for the recommendation :P

Great summary of suggested improvements @xjensen
Do you know about when the Safari update will happen?

[2022-03-09 22:43] chachasikes commented on #652
Is this still happening?

[2022-03-09 22:46] chachasikes commented on #596
This is a valuable idea & based on my review of many ca.gov sites - this tracks & can be useful for locating State projects using the design system.

If we can keep our headers as consistent as possible, it will help this.

[2022-03-09 22:47] chachasikes commented on #662
How is this going?

[2022-03-09 22:52] chachasikes commented on #442
#442 is a duplicate & can be ignored.

[2022-03-09 22:53] chachasikes commented on #442
Adding to next sprint with a bunch of other back-to-top improvements.

[2022-03-09 22:54] chachasikes commented on #443
No screen recording.
Adding to next sprint (accessibility) to figure out what this was about.

[2022-03-09 23:00] chachasikes opened #716 "Website: content update to"Component maturity" section"
Would the "Component maturity" content benefit from our using our Step List component?

https://designsystem.webstandards.ca.gov/components/#component-maturity

[2022-03-10 16:56] aaronhans commented on #652
Yes this is still a problem

Part of the cause: full-bleed is used in the statewide and sitewide header markup examples. This should be coming from template.html and that shouldn't include full-bleed as default so might have to modify those components. The full-bleed option should be explained separately and not included in default markup.

Other bugs to fix:
- There is also a 404 message in the m

[2022-03-10 17:01] xjensen commented on #672
@chachasikes Smooth scrolling is currently in the [Safari 15.4 beta](https://developer.apple.com/documentation/safari-release-notes/safari-15_4-release-notes). I'm assuming it'll release with the next version of macOS.

[2022-03-10 18:16] jaredwyee commented on #669
@kkoryaka @chachasikes confirmed that https://release-1-0-3-ahjumawi.pr.designsystem.webstandards.ca.gov/structure/#webpage-code-template exists

However, should webpage-code-template be linked to from /components or elsewhere?
![image](https://user-images.githubusercontent.com/85529382/157728648-79fb77f6-0051-4f5b-a3e6-c870c4c9cb85.png)

[2022-03-10 18:18] jaredwyee commented on #688
Confirmed https://release-1-0-3-ahjumawi.pr.designsystem.webstandards.ca.gov/style/tokens/#animation-tokens page exists and can be accessed under style guides part of nav.

Confirmed left nav anchor links work to bring you to that area of content

![image](https://user-images.githubusercontent.com/85529382/157728912-77e3b0e3-516b-43f2-93c5-8cff6d093a9a.png)
![Uploading image.png…]()

[2022-03-10 18:25] jaredwyee commented on #584
@chachasikes
How should this be validated Should readme.md = README.md in Git now? I found some examples where it is not below. Or is it the string README is updated in our content on the design system website?

https://github.com/cagov/design-system/tree/main/components
https://github.com/cagov/design-system/tree/main/components/back-to-top
https://github.com/cagov/design-system/tree/main/compone

[2022-03-10 18:39] jaredwyee commented on #400
@chachasikes @aaronhans not entirely sure how to do a final QA on this. I don't appreciate what I'm really looking for on the component.

Changelog wise, seems a bit odd that the new version 2.0.X is the upgrade but under Previous versions there's reference to 2.0.11 and lower numbers
![image](https://user-images.githubusercontent.com/85529382/157732191-30ea4a5f-9853-44f1-80e9-0c10735948b6.png)

[2022-03-10 18:46] jaredwyee commented on #703
@chachasikes how should this be verified? Or does another dev need to try and confirm the oblong shape is no longer there in the step list?

[2022-03-10 18:48] jaredwyee commented on #658
Confirmed fixed.

The contact us form with the dark blue background has had the button upgrade to gold
![image](https://user-images.githubusercontent.com/85529382/157733712-dbc23b1e-79ab-46d9-a651-fdffebee5405.png)

The hover is a lighter gold
![image](https://user-images.githubusercontent.com/85529382/157733807-80caee1a-3db3-4b19-af19-0cc603b646e0.png)

[2022-03-10 18:51] chachasikes commented on #687
Work in progress:
https://github.com/cagov/cannabis.ca.gov/tree/feature/cannabis-legal-access/src/js/charts/cannabis-legal-access/adr

[2022-03-10 19:58] chachasikes commented on #400
@jaredwyee I see what you mean about previous versions - you have to really read it to understand what's going on, which is the opposite of how we try to give essential meaning through headers.
* Maybe make them not bold & BOLD the @cagov/accordion.
* Change "Previous versions" to "Deprecated npm packages" --- I know I have seen similar notes in other CHANGELOGs - curious to look for other example

[2022-03-10 19:59] chachasikes commented on #400
@jaredwyee To QA - making sure the accordion behavior is as expected would be good - and that it conforms to what we describe in the docs.

Also this is the first time we are QA'ing a version bump - so it's worth it to talk it through for next time.

[2022-03-10 20:11] adam-little commented on #659
Yes, sorry for the delay.

Please see Figma for updated form field states for the two contact forms on the Design System website.

https://www.figma.com/file/A1DSo765cWjvBWoLd6tvEE/DS-website-screens?node-id=0%3A1

We might need a separate ticket to document copy for error states. What do you think @m-sullivan7?

As a side note, we have additional thinking for form fields but will hold off on docu

[2022-03-10 20:37] kkoryaka commented on #669
@jaredwyee , this is not components based code, this is e entire page structure, it's shell in which components can be placed.

[2022-03-10 21:24] m-sullivan7 commented on #659
I took a look and made one edit in Figma ("cannot" for "can not"). Those look good to me!

Regarding a separate issue for documentation, would this be for standards around error state text or specifically for this use case?

[2022-03-10 21:26] zakiya opened #717 "Documenation: PWA (Progressive Web App) support"

[2022-03-10 21:27] zakiya opened #718 "Developer Tool: Component Packager"
Provide way to include multiple components or whole system in a single step via script tag or npm install. This documentation should refer to unused css docs and and js trimming instructions

[2022-03-10 21:28] zakiya opened #719 "Documentation: Add instructions for unused css removal"
Add instructions for unused css removal now that we have a lot of code

[2022-03-10 21:31] zakiya opened #720 "Documentation: Put Wordpress code in a separate module"
All Wordpress stuff MUST GO. Put it in a separate module.

[2022-03-10 21:32] zakiya commented on #717
Add progressive web app info to design system. Instructions for web manifest, etc to easily mimic often requested native app features

[2022-03-10 21:38] chachasikes commented on #703
Yes, another dev can help.
Maybe @zakiya can verify as she is familiar already with this issue.

Steps to verify:
- In code editor, change the font to be any other font besides Public Sans
- Ensure that the circles do not become oblong
- Ensure that the font changes in the step list.

[2022-03-10 21:39] chachasikes commented on #658
Thank you!

[2022-03-10 21:40] chachasikes commented on #584
Thanks Jared!

[2022-03-10 21:40] chachasikes commented on #688
Great, thanks so much.

[2022-03-10 21:42] chachasikes commented on #669
Is the goal to ship the page, unlinked in menu structure?

I think we do want to link it somewhere, but have not decided.
I am OK with shipping the page & then adding a new issue to decide where it can be linked from.

Sound good @kkoryaka  and @jaredwyee

[2022-03-10 22:00] kkoryaka commented on #669
@chachasikes It is liked from in getting started > for developers section

[2022-03-10 22:07] chachasikes commented on #669
Ah ok - the "Developers" section is hidden & only available in dev mode.

Think we should still ship it and decide on when/how to launch a developers menu in next couple of weeks.

[2022-03-10 22:09] jaredwyee commented on #400
@chachasikes thanks, as a user interactive via desktop browser, the accordion functions as I expect. Seems like a big change in the component code is less reliance on JS to improve progressive enhancement. That doesn't seem easily testable for me?

[2022-03-10 22:11] jaredwyee commented on #669
Sounds good. I think I've previously commented that https://designsystem.webstandards.ca.gov/technical-approach/ should be emphasized further in the nav structure too. That seems related to a "developers" section as well.

[2022-03-10 22:14] kkoryaka commented on #669
@chachasikes  It is here. (Not the hidden nav item)
![Screen Shot 2022-03-10 at 2 13 21 PM](https://user-images.githubusercontent.com/31669748/157763767-2dc959de-17a3-4b6c-b727-db2fc2eb466c.png)

[2022-03-10 22:20] adam-little commented on #659
Just for this use case (for now), so the updates you made in Figma should be good enough.

[2022-03-10 22:53] zakiya commented on #703
This is ok for release but I don't think we can reliably guarantee the shape of the circle using a font other than Public Sans. ![CleanShot 2022-03-10 at 14 44 26](https://user-images.githubusercontent.com/915352/157767585-70e6822b-ccff-473e-92b8-361e470881a9.png)

I tried changing the units from pixels to ems and it didn't help much. I still prefer we take the approach "Webmasters are welcome to

[2022-03-10 22:54] zakiya opened #721 "Bug: Keep yalc from triggering prepublishOnly hook."

[2022-03-10 23:17] chachasikes commented on #703
Glad it's okay for release. Thanks for checking.

For future: Wonder if a min-max or another approach to the circles would help.

[2022-03-10 23:18] chachasikes commented on #669
Ah! OK, good to know, thanks @kkoryaka!

[2022-03-10 23:19] chachasikes commented on #400
Correct, the change is mostly in the code & we've reviewed that & you can't test it - but verifying it works as expected, given a significant change, it enough for now. Thank you.

[2022-03-11 00:10] aaronhans opened #722 "Components: delete abandoned components"
There are some component directories in this repo that we used to use but no longer do. These should be removed:

- google-translate (Make sure this isn't used in any other projects. If it is move the component to that project)
- plus & minus (no longer used in latest version of accordion)

[2022-03-11 03:30] aaronhans commented on #400
Thanks @jaredwyee! We have changed all the underlying code and radically simplified it but there are no expected changes in the normal UI. So if it is working as usual we are in good shape.

[2022-03-11 17:06] zakiya opened #723 "Issue: Utility classes"
If there are any gaps in our utility classes, we should identify and address them here. If there are none, this Issue can be closed.

[2022-03-11 17:17] zakiya opened #724 "Process: Develop and Document QA plans"
Create QA documentation/checklist that includes but is not not limited to:

1. content
2. accessibility
3. device testing
4. ux
5. design
6. regressions
7. language switching (including RTL)
8. independent unit tests

Tests can be manual and automated.

[2022-03-11 17:34] zakiya commented on #724
https://docs.google.com/document/d/1GntYuP8yh1ZnN8WAY6N1DBF_12_4MpNnn_kIhkkivxU/edit#

[2022-03-11 17:48] zakiya opened #725 "Styles: Base CSS Documentation"
Base CSS needs first-class documentation. We might want to treat it more like a real CSS framework.

[2022-03-11 18:00] zakiya opened #726 "Documentation and Policy: Version Control and Upgrades"
- Provide long-term guarantees. (Ex: if markup changes and a component is used in many place, that’s bad)
- Communication about updates
- Provide an upgrade path
- Consistent strategy around how we use version numbers.
- Provide a clear status update on the state of future integrations & how to find the engineering releated governance teams

[2022-03-11 18:15] adam-little opened #728 "test"

[2022-03-11 18:20] adam-little opened #729 "test"
test

[2022-03-11 18:21] adam-little opened #730 "This is a new issue"

[2022-03-11 18:23] #729 closed

[2022-03-11 21:44] jaredwyee opened #732 "Page Feedback for Broadband site"
**Goal:**
Enable Page Feedback widget for https://broadbandforall.cdt.ca.gov/

**Background:**
The Page Feedback widget is still in early stages as a "productized" offering to provide to other state entities. This is primarily due to the need to vet how we might deliver a full service product with the API, database storage, data cleaning, and access to reporting aspects.

OET/CDT's recently stood

[2022-03-11 21:52] jaredwyee commented on #732
@aaronhans I took a stab at this. Can you clarify high-level requirement steps or point me to a prior example.

@extinah FYI

[2022-03-11 22:15] aaronhans commented on #732
Good set of steps. We haven't documented this yet. I'd like to add:

[] update inbound endpoint to use a friendly domain name
[] assist broadband site frontend team with integration

[2022-03-11 22:38] zakiya opened #733 "Documentation: Simplify and standardize mark-up for components."

[2022-03-11 22:41] zakiya opened #734 "Documentation: Root package.json npm script documenation"

[2022-03-11 22:46] zakiya opened #735 "Issue: Simplify and standardize mark-up for components."

[2022-03-11 22:51] zakiya opened #736 "Styles: Remove tabindex attributes on site H2s and H3s"
I belive we don’t need `tabindex=-1` on H2s and H3s because they are not tabbable.

[2022-03-11 22:54] zakiya opened #737 "Document and refactor assets according to naming conventions."
Naming conventions documentation for assets

[2022-03-11 22:59] zakiya opened #738 "Documentation: classes vs tags"
Advise coders when to use classes vs tags for css styling.

[2022-03-11 23:01] zakiya opened #739 "Issue: Component workshop"
- Better workshop (as opposed to showroom) tools for developing components.
- Would be good to have a place independent of base-css to test how components react to theme changes.

[2022-03-11 23:02] zakiya opened #740 "Documentation: Dependabot"
Would be good to have training materials for how to use dependabot with our packages. Describe our recommended settings: Auto merge minor version bumps, open PR but do not auto merge major version updates

[2022-03-11 23:08] jaredwyee commented on #732
Thanks, added to original comment

[2022-03-12 00:02] xjensen commented on #736
The `tabindex=-1` on H2s and H3s enables focus in Javascript via `HTMLElement.focus()`. We use `.focus()` in some of our Javascript, most relevantly the page-navigation component. So the opposite may be advisable at the moment; we should probably be using `tabindex=-1` with more headings, in more places. See #661 and #670.

With that said, there might be some opportunity to remove this requirement

[2022-03-14 18:14] xjensen commented on #736
`tabindex=-1` allows focus but not tabbing. It's weird.

Here's the implication for the current version of page-navigation component. When a reader selects a link in the page-navigation component, we need the browser's focus to shift to the relevant section of the document. If the reader hits tab after selecting a page-navigation link, we want the focus to go to the next link (or whatever tabbable

[2022-03-14 20:13] #669 closed

[2022-03-14 20:13] #584 closed

[2022-03-14 20:13] #703 closed

[2022-03-14 20:44] aaronhans opened #741 "Menu component breaking change: Rewrite menu so it works without javascript"
The current [menu component ](https://github.com/cagov/design-system/tree/main/components/site-navigation)works correctly when javascript is enabled.

It would be better if it would expand without requiring javascript so that if there was a client side error or the visitor had some browser that was very old and didn't support the required code they could still navigate the site.

In order to creat

[2022-03-14 20:50] #517 closed

[2022-03-14 20:52] chachasikes commented on #466
@zakiya will add a description about what this is

[2022-03-14 20:53] chachasikes commented on #465
@zakiya will figure out what needs to happen for this

[2022-03-14 22:20] zakiya commented on #466
Description added. Moving to backlog.

[2022-03-14 22:25] zakiya commented on #465
Looks like this bug was fixed. Closing.
![IMG_31A6C1273393-1](https://user-images.githubusercontent.com/915352/158270974-d0236444-7e28-47ae-b563-a50f3ee65ef9.jpeg)

[2022-03-14 22:25] #465 closed

[2022-03-15 02:00] kmbrlygl commented on #561
This is where the design landed as of 3/14 - [Figma](https://www.figma.com/file/A1DSo765cWjvBWoLd6tvEE/DS-website-screens?node-id=1280%3A14064)

[2022-03-15 21:08] adam-little commented on #379
Hey @kkoryaka can you prototype this on the DS website?

[2022-03-15 21:39] Courtney-Chittock commented on #712
Issues:
- Accordion close/open icon is at the far right. Users with a very wide viewport may not see, and users with screen magnifiers may not see. Without the icon, accordions look like styled headings, not like interactable elements.
- There is no "show all/hide all" control to help users who want to see all accordion content.
- Users may associate plus/minus icons with adding and deleting eleme

[2022-03-15 21:44] Courtney-Chittock commented on #712
[View icon explorations](https://www.figma.com/file/Vt2Y8p4mXyzDNqT69KIb6H/Courtney's-Accordion-Sandbox?node-id=0%3A1)
[Prototype 1](https://www.figma.com/proto/Vt2Y8p4mXyzDNqT69KIb6H/Courtney's-Accordion-Sandbox?node-id=16%3A57&scaling=min-zoom&page-id=16%3A56&starting-point-node-id=16%3A57)
[Prototype 2](https://www.figma.com/proto/Vt2Y8p4mXyzDNqT69KIb6H/Courtney's-Accordion-Sandbox?node-id=50%3

[2022-03-15 22:38] kmbrlygl commented on #304
UPDATES

## Work done:
- Shared with design team (ODI and CDT) CIELAb model approach to color and accessibility ([Figma](https://www.figma.com/file/3N4dFWhFqiGpWr1DRQoJUM/Design-system-colors?node-id=567%3A1036)/[Loom Video](https://www.loom.com/share/1ba51cb75b654d458ffafe9e64e739ff))
  - I did an [HSB exploration](https://www.figma.com/file/3N4dFWhFqiGpWr1DRQoJUM/Design-system-colors?node-id=476

[2022-03-15 23:12] Angsv opened #743 "Patterns: Animations for Components"

[2022-03-15 23:14] kkoryaka opened #744 "Patterns: Site navigation organization to accommodate new pages and new content"
The [Visual design style guide](https://designsystem.webstandards.ca.gov/style/design/) page is getting too long. And with more of documentation content coming to the color and buttons  sections we will need to break that page appart.
Propsed new pages are:
Color
Buttons
Typography

We need to restructure our site navigation to include those pages.

![Screen Shot 2022-03-15 at 4 12 27 PM](https://

[2022-03-15 23:38] aaronhans opened #745 "Documentation: retrieve custom elements manifest"
Background:

Components which use custom elements use a custom elements manifest which is generated by the wca-analyze project's script.

This is useful standardized format for describing code packages based on the custom element part of the web component standard. The presence of this manifest file will allow our components to be included automatically in larger collections of web components and

[2022-03-15 23:42] m-sullivan7 commented on #744
I'd like to bring @adam-little and @kmbrlygl into this discussion as they own this page before I get into solutions, including impacts to the navigation. Adam, before I start thinking about information architecture and the menu, what should we think about?

[2022-03-16 16:16] yesenia-gtz opened #746 "Add latest web releases to be showcased on website (BB4A, and others)"
We need to add a section to the design system website to showcase recent adoption releases. Suggest we showcase most recent releases under "Who's using the Design System" and add a gallery section for all implementations.

**Please include the following websites, listed by priority:**
1. https://broadbandforall.cdt.ca.gov (Primary showcase)
2. https://drought.ca.gov/
3. https://cannabis.ca.gov
4.

[2022-03-16 17:13] adam-little commented on #662
@kkoryaka

I documented the button states in Figma:

- https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=431%3A4658

Here are where buttons are used on the Design System website:

- [ ] Hero card
- [ ] Principle card (homepage)
- [ ] Contact form (homepage)
- [ ] Who's use the design system cards (homepage)
- [ ] Page feedback form
- [ ] Contact form (contact us)

Here's a su

[2022-03-16 19:35] adam-little commented on #744
After chatting with @kmbrlygl about breaking the [Visual Design Style Guide](https://designsystem.webstandards.ca.gov/style/design/) into multiple pages, we see two approaches:

A. Put them in the "Style guides" dropdown.
B. Create subpages that exist _below_ a Visual Design landing page.

The latter approach is consistent with how pages are organized in the [Content Style Guide](https://designsys

[2022-03-16 19:36] adam-little commented on #744
Here's an example of how that component can be used to improve the Content Style Guide

![Content style guide - landing page](https://user-images.githubusercontent.com/69167298/158675595-6dee470e-9fc7-4bf7-816f-b7ad93c2c529.png)

![Content style guide - principle](https://user-images.githubusercontent.com/69167298/158675631-4c08a0f6-6297-4c69-8601-c0592c4bcc02.png)

[2022-03-16 19:37] adam-little commented on #744
Here's an example of how it can be used to break apart the Visual Design Style Guide into multiple pages

![Design style guide - landing page](https://user-images.githubusercontent.com/69167298/158675721-02ca0c80-250d-4bac-9632-6cdfb0f5a1ef.png)

![Design style guide - typography](https://user-images.githubusercontent.com/69167298/158675743-b1cb7dbe-8f2d-4098-81b0-1147bc3a3393.png)

[2022-03-16 20:31] m-sullivan7 commented on #744
I like the navigation component in the screenshots, coupled with option B of not including those pages in the site menu.

[2022-03-16 21:57] m-sullivan7 commented on #421
@thepegisin and I will work on this together. I synced the [old working doc](https://docs.google.com/document/d/1eU7Y0Hacs8oPUloLaIN0koK15zur0HXa663abvvhviw/edit?usp=sharing) with the current content so it reflected some pre-launch changes.

Before Peggy and I begin work, I'll ask some questions of @yesenia-gtz to make sure we're approaching our work with the right frame of mind. 🙂

[2022-03-16 23:17] aaronhans commented on #652
Issues addressed in https://github.com/cagov/design-system/pull/747

[2022-03-16 23:21] kmbrlygl commented on #678
This is the direction we generally landed on @zakiya
Here's the SVG for the component library page:
![icon-library.svg](https://user-images.githubusercontent.com/20393247/158706842-371dc671-7f41-41ba-adec-cabe81652827.svg)

Here is the png (for social share):
![icons-library.png](https://user-images.githubusercontent.com/20393247/158707104-47d68f34-fc38-4df7-b85b-0ac06a624d01.png)

Let me know if

[2022-03-17 13:34] adam-little opened #748 "Fix "State of California" label on statewide header"
Currently, the statewide header displays "State of California" on desktop.

It should display “Official website of the State of California” (on desktop) or “State of California” (on mobile).

This makes it less redundant with the site header and more explicitly tells people that the website is an official product of the State of California, which increases user trust.

See documentation [here](htt

[2022-03-17 16:16] m-sullivan7 commented on #746
@ashleydraper and @extinah as the primary content people for Broadband for All, are you aware of anything about that Design System implementation worth mentioning when we feature this site on the Design System homepage?

[2022-03-17 16:35] adam-little commented on #746
For design team reference: this issue relates to https://github.com/cagov/design-system/issues/559. We can work on both simultaneously.

[2022-03-17 16:49] m-sullivan7 commented on #746
@extinah Sounds like a pretty standard implementation (which is not a bad thing). How about we approach it from a "this was easy to set up and looked great" angle? If that's not accurate...then we won't use that approach. 🙂

I've also asked the ODI engineers if they can send me the performance dashboard we have. I'm interested to see where Broadband for All comes in!

[2022-03-17 18:01] zakiya commented on #679
@LizNobriga sorry to add these last minute:

We will also need a short description for the [Components page](https://608-icons-11ty.pr.designsystem.webstandards.ca.gov/components/)

![CleanShot 2022-03-17 at 10 59 16](https://user-images.githubusercontent.com/915352/158866239-48051abf-1a27-4b55-86c9-6688d929291c.png)

And I noticed we don't have real intro text to the [Visual components section](h

[2022-03-17 19:19] kmbrlygl commented on #304
I think this is ready to move forward with (anticipating we will iterate on this more in the future).

I am finishing up the documentation and will need to run it by @m-sullivan7. I'll try to get this portion in by this sprint as well.

@kkoryaka here's are the tables for updated and new colors + tokens.

## Grayscale
Name | Updated color (hex)
-- | --
gray-50 (new token) | #FAFAFA
gray-100 | #EDE

[2022-03-17 20:24] extinah commented on #746
@m-sullivan7  the performance is no bueno lol. It's in WP that's completing with the existing template and the WP bloat - but go forth! :)

[2022-03-17 20:24] zakiya commented on #678
@kmbrlygl

The illustration is in place at https://608-icons-11ty.pr.designsystem.webstandards.ca.gov/components/

Share https://608-icons-11ty.pr.designsystem.webstandards.ca.gov/pr/608-icons-11ty/components/icons/readme/ to see the social media icon.

Once reviewed/approved you can assign this back to me.

[2022-03-17 21:17] kmbrlygl commented on #304
@m-sullivan7 content is ready for review: [Color - CEILAB System Documentation](https://docs.google.com/document/d/1xRHMQ_BFYTBI48Jgs9IuKoyrZOfMe-Hho_HhmpXvGB8/edit?usp=sharing)
Pages 1-4 are for your editing/review. You can ignore the other parts (they are mostly notes). Please let me know if you have any questions. Thanks in advance!

[2022-03-17 22:24] m-sullivan7 commented on #304
Thanks! It's on my list. 🙂

[2022-03-17 22:50] m-sullivan7 commented on #421
@thepegisin I left one question in the doc and took the liberty of checking the first three items in your list based on our work today. Once we answer that question, I think we're ready for a review before sending our proposed edits to our Design System stakeholders.

[2022-03-17 23:38] kmbrlygl commented on #678
Looks great! Thank you @zakiya

[2022-03-18 15:56] yesenia-gtz opened #749 "April DWSN: DS Research Insights slides"
Collaboration between Byron and Sarah.
Prepare Design System Research insights slides for a 10 min segment during the April 21 DWSN at 10am.

- Snapshot of feedback from presentation
- Component use feedback
- Show site updates based on feedback (accordion component example)

**Final slides due by: April 7, 2022**

Draft Presentation Deck:
https://docs.google.com/presentation/d/1CtmO-eVORamDetepZN

[2022-03-18 16:03] yesenia-gtz opened #750 "April DWSN: Research Polls"
Research to work with Design and Engineering to create audience polls during each segment below at the April 21 DWSN.

**Design segment**
Include CTA/Poll  - Component  insight

**Engineering segment**
Include CTA/Poll - Vet participants for upcoming website redesign/update needs

**Final Polls due by: April 7, 2022**

Draft Presentation Deck:
https://docs.google.com/presentation/d/1CtmO-eVORamDet

[2022-03-18 16:37] yesenia-gtz opened #751 "April DWSN: DS Next steps, vision slides"
Collaboration between Art and Yesenia.
Prepare DS Next steps and Vision slides for a 10 min segment during the April 21 DWSN at 10am.

- Project roadmap status
- Highlight sprint focus/goals
- Integration updates as they relate to CAWeb
- Working on state template beta release

**Final slides due by: April 7, 2022**

Draft Presentation Deck:
https://docs.google.com/presentation/d/1CtmO-eVORamDetep

[2022-03-18 16:44] yesenia-gtz opened #752 "April DWSN: DS Design updates / insights slides"
Collaboration between Art, Adam and Sarah.
Prepare DS Design updates / insights slides for a 10 min segment during the April 21 DWSN at 10am.

- Showcase new websites using design system
- Updates to components
- Ability to install components individually and as custom bundles
- More easily integrate into requested tools like web-pack
- Improvements based on feedback: ex. We successfully responded

[2022-03-18 16:50] yesenia-gtz opened #753 "April DWSN: Engineering and Integrations Slides"
Collaboration between Chach, Tim and Sarah.
Prepare Design System Engineering and Integrations slides for a 10 min segment during the April 21 DWSN at 10am.

- Tech stack research (Chach & Tim)
- [Work with Research on details]  Include CTA/Poll - Vet participants for upcoming website redesign/update needs

**Final slides due by: April 7, 2022**

Draft Presentation Deck:
https://docs.google.com/pr

[2022-03-18 18:20] adam-little commented on #752
The latest draft is organized by discipline. Have we settled on that as the right approach?

I see some pros and cons (particularly if Design System updates will be a regular feature of DWSN):

Pro: Makes it easier for our team to divide responsibility
Pro: Ensures that we are respecting the contributions of everyone on the team
Con: Less product focused - makes it harder to answer the question: _

[2022-03-18 21:30] m-sullivan7 commented on #304
@kmbrlygl I made a first pass with edits from a content design perspective. Some were about highlighting what seemed to be the key messages, others were about reducing sentences that were hard to read.

I had some questions around specific terms that were unfamiliar to me and made comments in those areas. I ask about them because they could be opportunities to use a plain language term. That said,

[2022-03-21 15:25] yesenia-gtz commented on #752
@adam-little love this breakdown, thank you for the thoughtful approach as we have have not yet finalized talking points and this makes a lot of sense. I suggest a workshop to build up the presentation in this format. I will schedule it for the group.

[2022-03-21 15:46] yesenia-gtz commented on #752
@extinah @ashleydraper CCing for awareness

[2022-03-21 18:47] zakiya commented on #679
@LizNobriga This is the url for the preview site: https://608-icons-11ty.pr.designsystem.webstandards.ca.gov/

[2022-03-22 17:16] jayliquek opened #754 "Contact request: Would love to contribute to project!"
Hello!

We're seniors in an Open Source class at New York University. We have some experience with design systems and would love to help contribute to this project!

We noticed that are a few issues we would love to help out with such as [animations](https://github.com/cagov/design-system/issues/743) but don't have any description. Are there any other issues that you could point us to that could b

[2022-03-22 17:19] zakiya commented on #739
https://incredible-madeleine-8c4f8a.netlify.app/
https://github.com/zakiya/odi-ds-content-tests

- [ ] link icon - instructions don’t work, the fonts aren’t loaded or referenced
- [ ] page-alert - looks like latest hasn’t been published to npm (template.html was updated)
- [ ] page-navigation - not sure what kind of markup is needed to make this work
- [ ] skip to content - needs content to skip t

[2022-03-22 17:24] alexhu00 commented on #754
Hello! My name’s Alex, I’m from Toronto, and I’m a senior at NYU Stern studying Business and Computer Science. I am also part of the Open Source class at New York University and would love to contribute to this project if possible!

[2022-03-22 18:11] kkoryaka opened #755 "Styles: Links and button outline on focus is not accessible"
According to WCAG 1.4.11 the outline color of the interactive element on focus should have 3:1 color contrast ratio with adjacent colors.

Current outline color: # fbad23
Contrast ratio with white background: 1.89

Screen shot example:
![Screen Shot 2022-03-22 at 11 07 17 AM](https://user-images.githubusercontent.com/31669748/159547316-f8910959-6c7d-40ba-b667-66392739be8a.png)

Also, notice that o

[2022-03-22 18:45] LizNobriga commented on #679
Hi @zakiya. Content is ready for the [Icons component](https://608-icons-11ty.pr.designsystem.webstandards.ca.gov/pr/608-icons-11ty/components/icons/readme/) page. It includes this link, [Version 5.6.1 of the CAGov icon library](https://california.azureedge.net/cdt/statetemplate/5.6.1/fonts/CaGov.svg). Is there a better link or should we keep this one for now?

The Icons blurb on the [Components p

[2022-03-22 19:07] zakiya commented on #679
Thanks @LizNobriga! I updated the link  in question to reference the Icon Library on the same page.

https://608-icons-11ty.pr.designsystem.webstandards.ca.gov/pr/608-icons-11ty/components/icons/readme/#icon-library

Is that cool?

[2022-03-22 19:40] LizNobriga commented on #679
Oh I see now. Yep, looks good.

[2022-03-22 19:41] zakiya commented on #348
Assigning to myself.
Notes from Chach  on Slack:

- Christina knows things about page alerts & colors of existing State template component
- I added this to the sprint as “let’s use this as an example” and talk it through so we understand how we merge things - page alert is in the State Template & it needs someone to start the conversations on what the colors of the messages should be

[2022-03-22 19:42] zakiya commented on #610
Assigning to myself.
- error.njk
- assets/illustrations/binco-bear.svg

[2022-03-22 19:56] zakiya commented on #293
**Notes for QA**

- Links to /components/UNIT-TESTS.md and /components/README.md wont work until this is merged into main.
- This is largely an engineering tasks but we could use content review for the Contributor/developer documentation sections of the component readmes.

[2022-03-22 21:06] yesenia-gtz commented on #746
@m-sullivan7 @adam-little I will open a separate issue for the gallery option, for now lets swap out Covid for BB4A as we are being asked when it will be completed by Rick.

cc: @artuoma

[2022-03-22 21:32] zakiya commented on #610
**QA Notes**
- Paths like /nonsense won't show a styled 404 page on non-production environments.
- To QA visit [610-error-bear.pr.designsystem.webstandards.ca.gov/error.html](https://610-error-bear.pr.designsystem.webstandards.ca.gov/error.html)

[2022-03-22 21:33] #679 closed

[2022-03-22 21:33] #678 closed

[2022-03-22 21:34] m-sullivan7 commented on #746
@yesenia-gtz Can you point me to someone who can help me with the content? I'm looking for information about how the Design System made for a better Broadband for All site. My inquiries thus far on that point have not turned anything up.

[2022-03-22 22:50] zakiya opened #757 "Icons: Reconsider download link"
From @LizNobriga  in Slack:

**Notes:**
- If we make "Download" the only text in the link, that's not great for accessibility. As a we learned from CDT Accessibility experts, having a bunch of links with the exact same text is not recommended.
- We have a task open to create a text search for the icons. That may make scanning less of an issue.
- People can use command-F.
- The [Noun project](https

[2022-03-22 23:03] zakiya commented on #757
**QA link:**
[https://757-download-links.pr.designsystem.webstandards.ca.gov/pr/757-download-links/components/icons/readme/](https://757-download-links.pr.designsystem.webstandards.ca.gov/pr/757-download-links/components/icons/readme/)

[2022-03-23 15:08] zakiya opened #759 "Documentation: Dependabot"
- Would be good to have training materials for how to use dependabot with our packages. Describe our recommended settings: Auto merge minor version bumps, open PR but do not auto merge major version updates

[2022-03-23 16:09] m-sullivan7 commented on #746
Thank you @extinah and @ashleydraper ! That's just what I needed!

@yesenia-gtz Thanks to the information above, here's what I propose for the content to accompany the homepage feature.

Think that will work? If so, I'll have a screenshot soon and can make updates later today (assuming I get in before code freeze).

[2022-03-23 16:11] ashleydraper commented on #746
@m-sullivan7 I am also going to bring this up during our team sync this morning. The Broadband for All site utilizes a bit of API and features a couple different tables, I think it would be helpful to gather our developer's points of view of how the design system helped their efforts or not.

[2022-03-23 16:11] ashleydraper commented on #746
What time is code lock?

[2022-03-23 16:33] yesenia-gtz opened #760 "Website: DS Gallery section for all implementations"
Need content strategy and design guidance for adding a website gallery section for all Design system implementations to our website.

Please include the following websites:
https://broadbandforall.cdt.ca.gov/
https://drought.ca.gov/
https://cannabis.ca.gov/
https://covid19.ca.gov/

[2022-03-23 16:34] yesenia-gtz commented on #746
New issue added to backlog for gallery: https://github.com/cagov/design-system/issues/760

[2022-03-23 16:37] yesenia-gtz commented on #760
added @kmbrlygl  for Visual Design

[2022-03-23 17:45] yesenia-gtz commented on #746
@adam-little  @ashleydraper Can we please have image and content completed and ready to add to this release by noon?

[2022-03-23 17:46] yesenia-gtz commented on #746
Thank you!

[2022-03-23 17:51] extinah commented on #746
@yesenia-gtz  michael wants you to review and approve the content.
@ashleydraper  the tables could've used design system help but there isn't a table component yet. :( Hopefully soon!

[2022-03-23 17:55] yesenia-gtz commented on #746
This is approved, thank you @m-sullivan7

[2022-03-23 17:57] ashleydraper commented on #746
@m-sullivan7 @Courtney-Chittock Looking for feedback on this language. If it works for the homepage blurb, then I'd like to get it to Konstantin before the noon cut off.

_The Design System allowed the Broadband for All team to plug-and-play with components on the homepage. With less time spent on engineering, the team could focus more on content and design._

[2022-03-23 18:53] yesenia-gtz commented on #652
Good to go!

[2022-03-23 18:55] yesenia-gtz commented on #608
Good to go!

[2022-03-23 18:55] yesenia-gtz commented on #293
Good to go!

[2022-03-23 18:55] yesenia-gtz commented on #610
Good to go!

[2022-03-23 18:57] yesenia-gtz commented on #652
Good to go!

[2022-03-23 18:57] yesenia-gtz commented on #678
Good to go!

[2022-03-23 18:58] yesenia-gtz commented on #679
Good to go!

[2022-03-23 18:58] yesenia-gtz commented on #746
Thank you for getting this one added! Very much appreciated. Good to go!

[2022-03-24 16:32] jayliquek commented on #755
Hello! apologies for intruding like this, I left an issue but not sure if anyone of the contributors saw. Would love to help out with this ticket if possible!

[2022-03-24 17:38] kmbrlygl commented on #755
Hey @jayliquek thanks for reaching out and offering support! I pinged the team so they saw your message. We'll be getting back to you soon.

[2022-03-24 19:34] aaronhans opened #764 "Images on homepage above linked titles should be links"
Problem:

The sections on the homepage: "What's in the Design System" or "Who's using the Design System", I have to click the respective text or button. It would be nice to be able to click the image/thumbnail too

[2022-03-24 19:51] aaronhans commented on #764
Assigning to @adam-little for design review before code changes

[2022-03-24 19:54] adam-little commented on #764
Does this apply to any card that has A) a link and B) an image?

If so, then we should also apply this to:

1. Featured principle card on homepage
2. Component cards on [Components landing page](https://designsystem.webstandards.ca.gov/components/)

[2022-03-25 15:50] yesenia-gtz commented on #760
Hi team, Rick shared some ideas on how to approach a gallery section long term. Adding here for consideration and discussion.

**One thought -- you could imagine this growing to dozens​ or more in the months/years ahead. A streamlined (possibly even automated) way of surfacing / discovering / incorporating these would be great.

Brainstorming:
A 'registry' in the CA Design System github repo that

[2022-03-25 17:01] m-sullivan7 commented on #421
@yesenia-gtz has approved these edits. I will get them up today.

[2022-03-25 17:43] m-sullivan7 commented on #421
https://github.com/cagov/design-system/pull/765 contains these edits for review.

[2022-03-25 20:31] zakiya opened #766 "Icons: 0.0.1 updates"
- [ ] Fix `error: Command failed: /Users/zakiya/Sites/design-system/components/icons/node_modules/.bin/svg-sprite-generate -d dist/svg -o dist/allIcons.svg` on npm run dev:icons
- [ ] Use [publishing checklist](https://odi-dev-zk.notion.site/Publishing-components-to-npm-CDN-42a2ef6f05914557a04e46a0b98d8451)

[2022-03-25 20:32] zakiya commented on #766
**QA notes:**

This is an engineering task. No PM QA required.

[2022-03-25 20:49] zakiya commented on #714
I have a [doc here](https://odi-dev-zk.notion.site/Publishing-components-to-npm-CDN-42a2ef6f05914557a04e46a0b98d8451) you can follow.

[2022-03-28 19:37] extinah opened #768 "Issue: Page feedback on Broadband Website"
Per my discussion with Jared and Yesenia, we have the green light to add the Page Feedback on the broadband website.

https://broadbandforall.cdt.ca.gov/

We need developer help and ODI guidance.

Thanks!

Christina Florente

[2022-03-28 19:58] #652 closed

[2022-03-28 19:58] #610 closed

[2022-03-28 20:04] jaredwyee commented on #768
There's already an existing issue https://github.com/cagov/design-system/issues/732

[2022-03-28 20:06] xjensen commented on #497
This may be a consequence of the responsive font sizing, implemented in #290.

If so, it's working as intended. Close?

[2022-03-28 20:07] extinah commented on #768
Thanks Jared.

[2022-03-28 20:07] #768 closed

[2022-03-28 20:08] extinah commented on #732
@yesenia-gtz  Oops here is this one.

[2022-03-28 20:24] aaronhans opened #769 "Documentation: Web components"
We get questions from potential design system consumers on what are web components, why we made those decisions.

We have good reasons for this which we should describe in our design systems documentation:

Why we chose web components
What are the advantages
How you can create your own web component
Links to additional resources

[2022-03-28 20:38] aaronhans opened #770 "Components: CDN - dynamically create multi package bundles"
Consumers of the design system who want to use several components but not all of them would benefit from the ability to create a bundle of components specific to their use case.

This will allow them to get only the code they are using and not weight their site visitors down unnecessarily.

we can create this by building a frontend tool that lets you select components that calls a backend service

[2022-03-28 20:50] yesenia-gtz opened #771 "Process: Consolidate Component audit lists to a central location"
Work with team to pull various component audit lists for the following:

- Current State Web Template
- Current Design System
- Pending Components (in progress)
- Needed Components (not yet available)

[2022-03-28 20:54] yesenia-gtz commented on #771
[Component Audit Matrix](https://docs.google.com/spreadsheets/d/1bRHQod0tWuULEHIdKaGB2F4M6Lk1py8eGfvu8GyKqng/edit?usp=sharing)
[CA DS Component Audit](https://www.figma.com/file/ncMU0HPKsM8tvzRV74aaA3/CA-Design-System-Component-Audit)
[ca.gov Design System Component Tracker](https://airtable.com/appO2KDufhsfmG4zv/tbla0GN9ukIpUqG7s/viwQotUyhsWHiDqQy?blocks=bipgilTRjHCiAAiMX)

[2022-03-28 21:07] m-sullivan7 commented on #760
@ashleydraper Remind me: would this work be in your court to start?

[2022-03-28 21:10] Courtney-Chittock commented on #760
@m-sullivan7 we have a kickoff meeting tomorrow at 11. You should have an invite.

[2022-03-28 21:12] m-sullivan7 commented on #760
@Courtney-Chittock No invite on my side. As it is, I have a conflict at 11:00. If @ashleydraper is the primary content person, it should be OK for me to not be there.

[2022-03-28 21:21] Courtney-Chittock commented on #760
Oh snap, I didn't send it yet as I was waiting to hear back from you. If you're ok missing we can keep the Wednesday. If you prefer to be involved reach out to me on Slack and I will reschedule. :)

[2022-03-28 22:32] ashleydraper commented on #760
@m-sullivan7 Good thought on this question, it would make sense! I've not heard much about this gallery piece and would need a bit of orientation to what we're tasked with. Happy to join you both on Wednesday.

[2022-03-28 23:52] m-sullivan7 commented on #760
@yesenia-gtz I discussed this work with @ashleydraper. In keeping with our previous conversation, we recommend that Ashley run point on Design System content. As such, we propose that she attends this design review. She'll scope the work and decide if it's a one-person or two-person job (bringing me in for the latter case). Does that sound like a plan, or was there something in particular you thou

[2022-03-29 00:05] Courtney-Chittock commented on #760
@m-sullivan7 I moved it to Wednesday because Adam also can't make Tuesday and I would like ODI representation. I'm waiting to hear back from Adam if he can make Wednesday.

[2022-03-29 21:02] adam-little commented on #764
@aaronhans After discussing with the design team, we suggest making images clickable (per Jared's suggestion) and apply that rule to all cards (except the homepage hero card).

So that would include the following:
![image](https://user-images.githubusercontent.com/69167298/160706469-19aa5c26-7da3-46a0-9f3d-21ae0a87052f.png)
![image](https://user-images.githubusercontent.com/69167298/160706514-a785

[2022-03-29 22:11] aaronhans opened #772 "Components: More to deprecate"
Components like https://www.npmjs.com/package/@cagov/ds-branding should be deprecated because they are now ds-site-header.

Review all npm packages to see if there are any other ones missed

[2022-03-30 00:03] yesenia-gtz commented on #760
Sounds like a plan to me, thank you @m-sullivan7

[2022-03-30 23:33] #293 closed

[2022-03-30 23:46] #608 closed

[2022-03-30 23:47] #746 closed

[2022-03-31 22:51] rkiddy opened #773 "Site-level design principles?"
There is a site type which is often used by government agencies. Perhaps these do not all need to be designed separately. I call this a "Public Submit/Mixed Reader" site.

A small example of this might be the system for receiving and managing smog test data from smog test shops. A larger example of this is CalAccess, in the Secretary of State's office, which receives information from the public an

[2022-04-01 03:16] alexhu00 commented on #764
On it!

[2022-04-01 22:50] aaronhans commented on #769
Here is a draft document explaining what we are up to with web components in the design system:

# Web components

There is a component model built into the browser now. The design system takes heavy advantage of the custom elements part of the web components specification. This allows us to define new HTML tags like <cagov-accordion> or <cagov-feedback> which we can use in our pages and are inert

[2022-04-01 22:56] aaronhans commented on #769
@jayliquek you mentioned you were interested this documentation. Here is a draft. Any suggestions?

[2022-04-01 23:20] aaronhans opened #775 "Developer documentation: add instructions for running site accessibility tests"
Contributor @alexhu00 ran into some failing puppeteer tests in this PR: https://github.com/cagov/design-system/pull/774

We should add more documentation on what the playwright tests are for, how to run them locally

[2022-04-01 23:21] aaronhans opened #776 "Directory structure docs"
Good suggestion in meeting with external contributors from NYU:

More documentation on repository directory structure:
- How components directory is related to site
- Where to look for site code vs component code
- Explain how the site consumes the component readmes for the component section

[2022-04-01 23:31] aaronhans opened #777 "codepen prototyping instructions"
When chatting with contributors we discovered it would be helpful to have more instructions on how to contribute to interactive prototypes via codepen

[2022-04-01 23:34] aaronhans commented on #777
Here is a good article on working with codepen in general: https://dequeuniversity.com/rules/axe/3.5/link-name

Here are some sample pens the team has been sharing with each other to get feedback:

https://codepen.io/rkojik/pen/MWoeJwV
https://codepen.io/aaronhans/details/ZEaEagR

Codepen is a great tool to prototype a small widget like a component in isolation. When building the new version of th

[2022-04-01 23:35] aaronhans commented on #777
@alexhu00 is the above helpful codepen information, were you looking for something else?

[2022-04-04 01:48] jayliquek commented on #769
Hey Aaron,
Thanks for looping me in on this!

I had a read through and everything looks great. I wanted to add in at the top with "What is a web component" section which would lead up to your section of the advantages of components. I tried to break it down as simple as possible, so it would be approachable to new developers and designers wanting to work on a design system. Would love to hear your

[2022-04-04 15:54] m-sullivan7 commented on #421
Readability edits have been published. Thanks to all who were involved in making this happen! Closing this issue.

[2022-04-04 15:54] #421 closed

[2022-04-04 16:22] aaronhans opened #778 "deprecate @cagov/ds-feedback on npm in favor of @cagov/ds-page-feedback"

[2022-04-04 16:40] Courtney-Chittock opened #779 "Styles: Icons"
Currently the icon font collection is not complete (in Figma), and is not organized in a usable way.

Improvements will include:

- [ ] Add all icon font icons to the UI KIt in Figma.
- [ ] Make the library more usable (consider labels, groupings, pagination, search, etc.)
- [ ] Make sure all icons are centered in their containers (spot check shows that many are not).
- [ ] Convert all icons to Fi

[2022-04-04 16:56] Courtney-Chittock commented on #712
Made some further iterations.
[Final prototype](https://www.figma.com/proto/Vt2Y8p4mXyzDNqT69KIb6H/Courtney's-Accordion-Sandbox?node-id=113%3A809&scaling=min-zoom&page-id=113%3A797&starting-point-node-id=113%3A816)

[2022-04-04 17:07] adam-little commented on #779
This plugin will be helpful: https://www.figma.com/community/plugin/836508016102947880/Batch-Create-Component

[2022-04-04 17:21] chachasikes commented on #769
Especially "components are bite-sized sections of code that are interlinked together to create a website"

[2022-04-04 17:34] Courtney-Chittock commented on #712
Note: once it's ready to go live, we'll also need to:
- Update[ the documentation](https://designsystem.webstandards.ca.gov/components/accordion/readme/)
- Update the Figma component

[2022-04-05 19:15] zakiya commented on #766
This is merged.

[2022-04-05 19:15] #766 closed

[2022-04-05 19:40] yesenia-gtz commented on #662
@adam-little  @kkoryaka
Hello, checking in on this Will these updates make it into the next release? I am gathering release updates for DWSN share out on April 21

[2022-04-05 19:41] yesenia-gtz commented on #764
Hello, checking in on this Will these updates make it into the next release? I am gathering release updates for DWSN share out on April 21

[2022-04-05 20:54] aaronhans commented on #764
Yep, great work by @alexhu00 here! We just merged the PR with the fix into the releaes branch: https://github.com/cagov/design-system/pull/774

[2022-04-05 22:14] aaronhans commented on #769
Great addition @jayliquek! Helpful to get your perspective on this. I have integrated your suggestions into a new draft and we'll have our editorial team review it

[2022-04-05 22:46] jayliquek commented on #769
Awesome to hear!

[2022-04-06 16:23] yesenia-gtz opened #781 "Issue: Generic DS Contact form response"
We need to pause on scheduling calls based on the design system contact form and take time to strategize a plan for communications. This was a big take away during the retro and It makes sense to hold. There is no urgency to respond to ALL inquiries at this time.

**Needs:**
- [ ] Generic DS Contact form response
- [ ] Configure response in Airtable to send automatic replies.

https://airtable.com

[2022-04-06 16:43] alexhu00 commented on #777
@aaronhans Thank you this is helpful!

[2022-04-06 17:09] alexhu00 commented on #748
https://codepen.io/alexhu00/pen/QWambGp

@aaronhans @adam-little

Would something like this suffice? Mainly added CSS like the snippet below so that it says “Official website of the State of California” when the screen width is larger than 800px and “State of California” when the screen width is less than 800px

[code]

[2022-04-06 17:26] adam-little commented on #748
@alexhu00 this is the desired behavior. Thanks! I noticed that it's not the correct font, but I assume because this is just a  prototype.

I'm assigning this issue to @aaronhans to give you feedback on technical approach..

[2022-04-06 18:35] ashleydraper opened #783 "Sunset CA Design Handbook"
Sunset the [CA Design Handbook](https://handbook.digital.ca.gov/design/style-guide.html) and fold in it content with the CA design system

[2022-04-06 18:37] ashleydraper commented on #783
@artuoma Adding this issue so that we can sunset the CA design handbook when the time comes.

[2022-04-06 21:45] aaronhans opened #784 "Documentation: performance standards"

[2022-04-06 21:47] #777 closed

[2022-04-06 23:44] ashleydraper commented on #781
@yesenia-gtz Thoughts on this draft of a [generic DS contact form response](https://docs.google.com/document/d/1A3aeYZUNMxeIPOxk3T0sCnZJFlbXBg73MJW7Y6ZjujE/edit)?
Cc: @chachasikes

[2022-04-07 15:07] yesenia-gtz commented on #781
@ashleydraper  I added a suggested response in a comment, please edit as needed, Thank you for having this ready so Quickly!

[2022-04-07 16:32] m-sullivan7 commented on #159
Pull request for these changes: https://github.com/cagov/design-system/pull/785

[2022-04-07 17:15] #764 closed

[2022-04-07 17:28] ashleydraper commented on #781
@yesenia-gtz I incorporated your suggested sentiment in this version. How's this read?

[generic DS contact form response](https://docs.google.com/document/d/1A3aeYZUNMxeIPOxk3T0sCnZJFlbXBg73MJW7Y6ZjujE/edit)

[2022-04-07 17:31] aaronhans commented on #748
Right @alexhu00!

[2022-04-07 17:34] m-sullivan7 commented on #159
This content has been published. Closing this issue.

[2022-04-07 17:34] #159 closed

[2022-04-07 17:43] jayliquek commented on #743
Hihi I played around with a hover animation on a card so it would be more noticeable for users that it is a clickable component.
The current animation right now shows the cursor changing and users have to click on the title to go to the next page shown here

https://user-images.githubusercontent.com/45698971/162263732-73972a31-c819-4a5c-964f-76b1ee7810ca.mov

## Changes made and suggestions
I play

[2022-04-07 17:53] yesenia-gtz commented on #781
Thank you, this works well. Can you work with Chach to get this into the airtable form?

[2022-04-07 17:55] ashleydraper commented on #781
Sure can.

[2022-04-07 18:01] ashleydraper commented on #781
@chachasikes How/where would you like me to integrate the form response in [airtable](https://airtable.com/app4B5KqaCTSHAdCS/tbliV5kSgz7jBnIyT/viwmmpW1gGgwnBQQd?blocks=hide)?

[2022-04-07 19:47] alexhu00 opened #787 "Documentation: Onboarding Suggestions (Eleventy Build PR Site failed + Commit Errors)"
## Issue 1

Brought up a question about why the Eleventy Build PR Site fails when making a PR [here](https://github.com/cagov/design-system/pull/786). @aaronhans was able to answer my question and I just thought it'd be great to have the information in his answer available somewhere as documentation for new contributors.

" That build step fails because it is looking for a token to dynamically cre

[2022-04-07 20:01] zakiya opened #788 "Page Alert - Make sure close text is hidden by default; Update npm package."

[2022-04-07 20:09] zakiya opened #789 "Skip to content: Update README id references."
The code in the README doesn't match the actual component. See #739 for more context.
https://incredible-madeleine-8c4f8a.netlify.app/ds-skip-to-content.html

[2022-04-07 20:18] ashleydraper opened #790 "Process: Workshop engineering principles"
There was a lot of progress made last year to begin fleshing out engineering principles for the design system. Let's use these figma boards to continue that brainstorm and ultimately begin writing out these principles.

https://www.figma.com/file/K5mvOjr6fjIXYbvyF1wxQ1/Engineering-principles?node-id=0%3A1
https://www.figma.com/file/uj2Pii4zLQfficjZ4Im3cX/Engineering-principles---card-sort?node-id=

[2022-04-07 20:33] zakiya opened #791 "Statewide footer: Make links inline by default"
When viewed outside of the design system following our installation instructions, the Statewide footer looks like this:

https://incredible-madeleine-8c4f8a.netlify.app/ds-statewide-footer.html

<img src=https://user-images.githubusercontent.com/915352/163018766-e18bfd62-fc16-4734-92b8-569f4cf79e0e.png>

The links on the left should be inline by default.

See #739 for more context.

[2022-04-11 20:04] yesenia-gtz commented on #743
Moving into next sprint.

[2022-04-11 20:06] m-sullivan7 commented on #402
We might be able to close this issue as it's the same as #744 and design work took place in that one.

[2022-04-11 20:07] yesenia-gtz commented on #743
@Angsv need to document animation guidelines for design system and components to share with NYU partners.

- [ ] Documentation by end of week 4/15 @Angsv
- [ ] Share documentation with NYU partners 4/22
- [ ] @aaronhans Need to make tickets as appropriate

[2022-04-11 20:10] yesenia-gtz commented on #739
Still in progress, @zakiya can you update with status?

[2022-04-11 20:15] yesenia-gtz commented on #379
Update:
Will be completed by close of sprint.

[2022-04-11 20:18] kmbrlygl commented on #304
Update 4/11:
- I shifted our system palettes and updated the color palette library in Figma.
  - I am working on updating the color table to better fix accessibility issues. I will confirm with Konstantin when these are ready (very soon)
- Will need to meet with the design team to figure out how we might address using colors that aren't design tokens or how to go about creating new tokens. This is

[2022-04-11 20:22] yesenia-gtz commented on #740
To be  completed by 4/22

[2022-04-11 20:23] yesenia-gtz commented on #324
to be completed by 4/22

[2022-04-11 21:00] yesenia-gtz commented on #754
@aaronhans Moving this issue to done since we are working on issues :)

[2022-04-11 21:37] #663 closed

[2022-04-11 21:37] #728 closed

[2022-04-11 21:37] #730 closed

[2022-04-11 21:43] zakiya commented on #788
This is done. No manual QA needed.

[2022-04-11 21:43] #788 closed

[2022-04-11 21:47] zakiya commented on #739
The comment above references the remaining items.

[2022-04-11 22:43] m-sullivan7 commented on #769
@aaronhans Let me know when you're ready for content design review. This is on my list and I'm ready to activate when you are. 🙂

[2022-04-12 00:46] Angsv commented on #743
@jayliquek

I like that you are thinking about the card as a single element in your example for the main page cards. The hover effect for the component cards is a bit too disjointed and may cause confusion for some. I would encourage consistency for all card components to follow the same effect. However, there is talk about making certain cards distinct from the rest.

The hover overlay is a good

[2022-04-12 16:33] aaronhans opened #793 "Add instructions to run build commands when doing component development work"
The build command needs to be run when a component is modified in order to have the generated files updated.

This should be stated in a development section of the readme

[2022-04-12 16:46] aaronhans commented on #720
I am running into one aspect of this now. This little file https://github.com/cagov/design-system/blob/main/components/base-css/src/_core.scss#L8 has a bunch of WordPress inserted class specific styles. These cause unexpected problems in development.digital.ca.gov posts which are using WordPress headlessly. I don't see any benefit to these rules on that site.

I plan to:
- Remove that wordpress sp

[2022-04-12 16:48] aaronhans commented on #720
tagging @chachasikes @zakiya @xjensen for discussion

[2022-04-12 17:14] zakiya commented on #741
**Acceptance criteria:**
- Navigation should at minimum meet our (accessibility standards)[https://designsystem.webstandards.ca.gov/components/site-navigation/readme/#standard-accessibility-review]
    - Users should be able to navigate all links using a screen reader
    - Users should be able to navigate all links without a mouse (keyboard only)
- Navigation should be responsive
    - Responsive

[2022-04-12 17:24] chachasikes commented on #720
You can move that file out of base-css.

We need a place to store the design system integrations code - for wordpress.
If they all do cause conflict with DS static sites & use WP core elements & removing them is painless, that would be good

Looking at the `_wordpress` file - most of the custom code that does need styling for core WP features as well as some attempts at making a grid. (Hopefully o

[2022-04-12 17:58] zakiya commented on #741
Here's an example of a dropdown menu that works without js from my previous gig:
https://www.epihc.org/

Here are the relevant files if you want to get a sense of how it works. But since this was a Drupal site I would not recommend copy/pasting the code.
https://github.com/zakiya/menu-files

[2022-04-12 19:06] aaronhans opened #794 "Styles: base-css explode"
The base-css component includes many several important pieces which need to be split out and have their own documentation and packages. This is helpful because pieces of it may not be desired by some design system users and when spkit out we can upgrade the individual parts easily. When we split out these separate pieces we can retire the base-css package itself. This process should include stripp

[2022-04-12 20:25] adam-little commented on #700
This relates to https://github.com/cagov/design-system/issues/755 since they both appear to be about colors of focus states

[2022-04-12 20:25] m-sullivan7 commented on #769
@aaronhans I finished my content design review. I'm handing the assignment back to you, but am happy to do additional work if needed. 🙂

[2022-04-12 22:15] sharon-rabang commented on #700
Did research and initial set of explorations in Figma: [Focus states](https://www.figma.com/file/4kfjgYBUbX6gi2yQZaBCwy/Focus-states?node-id=0%3A1)

Will work on the next round of explorations, based on feedback received from our 04/12/22 web design meeting.