[2022-04-12 22:16] sharon-rabang commented on #647
Did research, mood board, and a few explorations in Figma: [Design System Logo](https://www.figma.com/file/pHUQ0skV20xIXIO1VvDYnZ/Design-System-Logo?node-id=0%3A1)

Will work on the next round of explorations, based on feedback received from our 04/12/22 web design meeting.

[2022-04-13 19:02] kkoryaka commented on #379
Added [prototype page](https://1-0-6-headings.pr.designsystem.webstandards.ca.gov/pr/1-0-6-headings/typography/) with real time content that is displaying headings and their font-weight variations
NOTE: THis is font exploration is case study that will be presented to DCC customer. New headings font weight applied to the headings in the [prototype page](https://1-0-6-headings.pr.designsystem.websta

[2022-04-13 19:04] kkoryaka commented on #379
@yesenia-gtz who can present this [prototype page](https://1-0-6-headings.pr.designsystem.webstandards.ca.gov/pr/1-0-6-headings/typography/) to DCC?

[2022-04-13 20:24] jayliquek commented on #743
Thanks for the feedback @Angsv !

Will possibly look into creating consistency of the hover overlay among all cards and try out the colors for it to be more accessible.

Otherwise might try some other explorations!

[2022-04-14 16:22] yesenia-gtz opened #796 "UX Review: 404 page content design"
There has been exportation on how to approach 404 page content design following recent implementation with the NextGen Open Data Portal project.

Early on we discussed this project as a partnership for process improvements and design system feedback.

As we continue to make design updates to the 404 exploration can we also think about how to knowledge share usability improvements and user pathways

[2022-04-14 16:23] yesenia-gtz commented on #796
@extinah @sharon-rabang added to DS board for team collaboration

[2022-04-14 16:52] saldanaj27 commented on #794
Should I just remove the file and create a pull request? Is there any other context involved?

[2022-04-14 17:02] alexhu00 commented on #791
@zakiya Wanted to get more context on this issue? Are the links not already inline by default?
<img width="810" alt="Screen Shot 2022-04-14 at 1 02 40 PM" src="https://user-images.githubusercontent.com/46389157/163438190-b7c08efc-f50c-49ae-ab30-5d882b11dee5.png">
<img width="1216" alt="Screen Shot 2022-04-14 at 1 02 52 PM" src="https://user-images.githubusercontent.com/46389157/163438224-b11e6ac3-

[2022-04-14 17:11] aaronhans commented on #794
We need to bump the major version of the component since we are making a potentially breaking change.

I have published a beta version of the component without the wordpress file (https://www.npmjs.com/package/@cagov/ds-base-css/v/2.0.0-beta.1) which I am using while developing a new version of the digital.ca.gov site.

I was thinking this was a good opportunity to remove a lot of other pieces of

[2022-04-14 17:14] alexhu00 commented on #640
I can take this!

[2022-04-14 18:57] xjensen commented on #640
Thanks, @alexhu00! Just let us know if you come across any questions.

[2022-04-14 19:57] extinah commented on #796
@yesenia-gtz  thanks!
@sharon-rabang - I'll try to set up a meeting for tomorrow afternoon. worst case I can't be there for it!

[2022-04-14 20:13] zakiya commented on #791
Hi @alexhu00  I should have been referenced the parent in the description. I've been working on a component workshop space where components can be tested outside of the context of the design system websites. This is how the component looks on its own:

<img src=https://user-images.githubusercontent.com/915352/163018766-e18bfd62-fc16-4734-92b8-569f4cf79e0e.png>

I'll update the main description.

[2022-04-14 20:35] Courtney-Chittock commented on #712
And interesting article from NNG: [Accordion Icons: Which Signifiers Work Best?](https://www.nngroup.com/articles/accordion-icons/)

[2022-04-14 22:06] jayliquek commented on #783
Hello!

Not sure what the timeline of sunsetting the CA design handbook is but I looked into similarities and  added comments on compilation of CA design handbook into the current CAGOV [get started tab](https://designsystem.webstandards.ca.gov/get-started/).

Hopefully this is helpful! You can find the flows, similarities and comments [here](https://www.figma.com/file/x1KWFgdibBgLCsiEy9Ojfy/CAGOV

[2022-04-15 18:53] ashleydraper commented on #790
From our last FigJam, we landed on these preliminary [engineering principles](https://docs.google.com/document/d/1fyjmtRc9ImRc6ECd32wol3S14NLUgw4UdWdwcat9kv8/edit). We've now established a space to do this work and will regroup with the engineering team to review our last workshop ideas and assign principles.

- [ ] Each engineer will be assigned to write two principles using the principles templa

[2022-04-18 15:42] zakiya opened #798 "Documentation: Icons"
**Update README once change to variable font path is implemented.**

See:
https://github.com/Office-of-Digital-Innovation/California-State-Web-Template/issues/231
https://github.com/Office-of-Digital-Innovation/California-State-Web-Template/pull/234

[2022-04-18 16:57] ashleydraper commented on #783
@jayliquek There wasn't a definitive timeline given for sunsetting the handbook, but I'm thinking after the V6 release of the state template. Thoughts on this @artuoma?
The idea is to replace the handbook with the design principles on the design system so that we don't have duplicative info, but a confirmation on timing would be helpful.

[2022-04-18 20:09] ashleydraper commented on #769
@aaronhans I'll be carrying this task across the finish line, so I'd to your take on this navigation recommendation.
![image](https://user-images.githubusercontent.com/62437425/163869625-6886ee40-3180-41c6-b0be-a7e0cd429a35.png).

Michael shared with me this [Github link](https://github.com/cagov/design-system/blob/main/docs/site/homepage.njk) to update the homepage, if this looks good to you, I c

[2022-04-18 20:57] aaronhans commented on #769
Thanks @ashleydraper! I love that placement. I'd like the title to be "Why web components" specifically because there has been confusion about why we are basing development on the custom elements part of the W3C's v1 web components specification.

[2022-04-20 03:43] lukefretwell opened #803 "Issue: Add social media"
Not sure if it's in the template, but looks like the design system website isn't using social media meta tags.

https://www.metatags.org/all-meta-tags-overview/the-important-meta-tags/social-media-metatags/

@artuoma 👋

[2022-04-20 19:38] ashleydraper commented on #769
@aaronhans How do you feel? We good to close this out?

[2022-04-20 20:00] aaronhans commented on #769
Yes! I just merged our PR https://github.com/cagov/design-system/pull/802

Thank you @ashleydraper!

[2022-04-20 20:00] #769 closed

[2022-04-20 21:13] ashleydraper commented on #769
#Teamwork!!

[2022-04-20 21:58] zakiya commented on #791
Code merged into 1.0.6-bodie

**To QA** - there should be no visual regression only the site's statewide footer.

[2022-04-20 21:59] zakiya commented on #739
I"m going to move this to Done. I'll will create new ticket as more needs arise for the workshop.

[2022-04-20 21:59] #739 closed

[2022-04-20 23:03] zakiya commented on #699
Un-assigning myself so my Issue list is current. Feel free to assign to me when/if it leaves the backlog.

[2022-04-20 23:03] zakiya commented on #721
Un-assigning myself so my Issue list is current. Feel free to assign to me when/if it leaves the backlog.

[2022-04-20 23:04] zakiya commented on #708
Un-assigning myself so my Issue list is current. Feel free to assign to me when/if it leaves the backlog.

[2022-04-20 23:05] zakiya commented on #348
Un-assigning myself so my Issue list is current. Feel free to assign to me when/if it leaves the backlog.

[2022-04-21 00:10] zakiya commented on #789
**QA Notes:**

This is primarily a developer task but [The skip to content README](https://release-1-0-6-bodie.pr.designsystem.webstandards.ca.gov/pr/release-1-0-6-bodie/components/skip-to-content/readme/) should be reviewed for typos and that the demo still works.

[2022-04-21 00:12] aaronhans opened #808 "Bug: anchor links navigate too far above target"
This problem has been reported on the design system site by @ashleydraper and on the development.digital.ca.gov site which uses design system components by Regan.

Noticed in sidebar links all over the design system site by Ashley.

From Regan:

The sidebar jump links seem to calculate a higher y-value than needed (maybe 150px off due to header calculation?). Persists across browsers on Mac/iPhone

[2022-04-21 03:02] saldanaj27 commented on #741
Hi guys,

I have been getting more progress done on this issue since our meeting last Friday. I have been able to access the menu without JavaScript while in desktop view using the hover effect. I am cleaning up the CSS code to make sure I have all the CSS changes that were added with JavaScript. Unfortunately, I have been struggling with the mobile view. I believe I found a way to do this but it

[2022-04-21 15:59] aaronhans commented on #740
That sounds perfect @zakiya

Thanks for noticing it isn't enabled yet on the design system site too, we should enable it

[2022-04-21 16:55] aaronhans commented on #740
Yeah it is a constant thing to keep up with and could occasionally notify us of something urgent we need to do immediately so will be good to rotate responsibilities but somebody has to keep an eye on it. Maybe the release ranger can review open dependabot PRs and assign a task for upgrades

[2022-04-21 16:55] zakiya commented on #740
I like that.

[2022-04-21 23:44] yesenia-gtz commented on #304
@kkoryaka @timothyshambra is this ready to merge to this week's release?

[2022-04-22 00:12] aaronhans commented on #775
This can be reviewed by browsing the readme in the release branch https://github.com/cagov/design-system/tree/release/1.0.6-bodie#readme

[2022-04-22 00:12] aaronhans commented on #776
This can be reviewed by browsing the readme in the release branch https://github.com/cagov/design-system/tree/release/1.0.6-bodie#readme

[2022-04-22 22:25] zakiya opened #815 "Resolve notices from Dependabot"

[2022-04-22 23:17] chachasikes opened #817 "Process: Create a playwright test for contact us form"
We would like to add a playwright test for the contact us form, to make sure that any markup changes do not alter the behavior of the form being able to submit.

Chach offers to pair with someone who hasn't written a playwright test before who might want to understand how the contact us form works. Any takers?

[2022-04-24 19:41] jayliquek commented on #755
Hey! Apologies for the MIA. I've been reading about WCAG and playing around with color explorations.

## Button outline
One thing to consider if there might be a dark mode in the future is the background used for dark mode.
Although the outline color I've suggested meets the requirements, the color of the button no longer meets the 3:1 contrast ratio with the black background. However, changing th

[2022-04-25 16:47] kkoryaka opened #818 "Update color variables and readme documentation in each component"
make sure that color variables in css and readme documentations have new CEILAB color palette variables names in each component.

[2022-04-25 17:04] sharon-rabang commented on #755
Hi @jayliquek, Thanks so much for sharing these color explorations for consideration! We actually started doing some similar explorations already and are well on our way. We can take this one from here and definitely share what we end up with when it's ready.

[2022-04-25 18:46] #776 closed

[2022-04-25 18:46] #775 closed

[2022-04-25 18:50] aaronhans commented on #748
Great work on this @alexhu00! This update is live on the production design system site now.

I'll publish the latest version of the package to npm

[2022-04-25 19:31] adam-little commented on #748
Thanks, @alexhu00!

@aaronhans i'm noticing some cosmetic issues with the new version.

1. Can you make the background color gray-50 (#FAFAFA)?
2. I see a bottom border. Can we either remove this? Or make it the same color as the background (gray-50)?
3. Top border - it looks like there's a 1px white border or 1px of empty space above the banner. Can you remove this?

Here's the Figma link: https:

[2022-04-25 19:45] m-sullivan7 commented on #528
@kmbrlygl I think this and [402](https://github.com/cagov/design-system/issues/402) are duplicates. Think we can close one of them?

[2022-04-25 19:55] kmbrlygl commented on #528
@m-sullivan7 I think so! I don't even remember this anymore, I have a feeling I created it from the QA list. I will close this one.

[2022-04-25 19:55] #528 closed

[2022-04-25 20:04] #740 closed

[2022-04-25 20:04] #304 closed

[2022-04-25 20:04] #789 closed

[2022-04-25 20:04] #662 closed

[2022-04-25 20:04] #791 closed

[2022-04-25 20:05] yesenia-gtz commented on #379
In review with cannabis SMEs

[2022-04-25 20:06] yesenia-gtz commented on #748
will be ready for next release.

[2022-04-25 20:07] yesenia-gtz commented on #771
Friday meeting to prioritize components requiring Gblocks

[2022-04-25 20:18] #749 closed

[2022-04-25 20:18] #753 closed

[2022-04-25 20:18] #752 closed

[2022-04-25 20:19] yesenia-gtz commented on #743
need to audit components, moving to backlog.

[2022-04-25 20:19] Angsv opened #819 "Styles: Animation Documentation"

[2022-04-25 20:20] yesenia-gtz commented on #794
@kkoryaka  to review needs

[2022-04-25 20:26] yesenia-gtz commented on #324
didnt make it into 4/22 sprint, moving to 5/5

[2022-04-25 20:37] yesenia-gtz commented on #601
Need content support to unblock work.

[2022-04-25 20:38] aaronhans commented on #601
related https://github.com/cagov/design-system/issues/803

[2022-04-25 20:39] yesenia-gtz commented on #646
@chachasikes  can you take a look and assign ?

[2022-04-25 20:40] #646 closed

[2022-04-25 20:40] ashleydraper commented on #601
Technical infrastructure for social alt text: https://github.com/cagov/design-system/blob/main/components/components.11tydata.js

[2022-04-25 20:42] yesenia-gtz commented on #589
@yesenia-gtz to review and assign separate issues

[2022-04-25 20:47] xjensen commented on #601
To build on Ashley's comment, [this line](https://github.com/cagov/design-system/blob/741fce10fa96de7c2d5df8c7a8098e564b71b330/components/components.11tydata.js#L43) will need to be altered to add social alt text to component pages.

We'll want to [edit the defaults](https://github.com/cagov/design-system/blob/main/docs/site/_data/editable/defaults.json), probably, for any pages that don't have so

[2022-04-25 20:48] yesenia-gtz commented on #476
Need to workshop as a group to identify best solutions. useful example.

[2022-04-25 21:10] kmbrlygl commented on #561
Updates since this design was contingent on color tickets:
- used the updated color palette + the teal-green color (not yet established tokens)
  - we did this because accent colors 1 (yellow) and 2 (orange) were too similar to be clearly distinguishable

[Figma link](https://www.figma.com/file/A1DSo765cWjvBWoLd6tvEE/DS-website-screens?node-id=1280%3A14064) is up to date:
![Screen Shot 2022-04-25

[2022-04-25 21:15] ashleydraper commented on #790
Engineering workshop scheduled for Thursday, April 28th @ 10am

[2022-04-25 21:23] #781 closed

[2022-04-25 21:23] #750 closed

[2022-04-25 21:37] #754 closed

[2022-04-25 21:37] #688 closed

[2022-04-26 14:33] zakiya commented on #464
@yesenia-gtz  I cannot reproduce this. I think this can be closed.

FYI - if this comes up again, I would suggest the reporter use the [Bug Report Template](https://github.com/cagov/design-system/issues/new?assignees=&labels=Bug&template=01-bug-report.md&title=Bug%3A)

[2022-04-26 22:21] sharon-rabang commented on #700
In Slack: cagov-design-system-design

Hello! Update on [#700](https://github.com/cagov/design-system/issues/700) Design focus states (related to [#755](https://github.com/cagov/design-system/issues/755) Links and button outline on focus is not accessible)

Thanks for all of the helpful feedback at our 4/12/22 weekly design meeting and from today's mini meeting. I did more studies and found a singl

[2022-04-26 22:22] sharon-rabang commented on #755
In Slack: cagov-design-system-design

Hello! Update on [#700](https://github.com/cagov/design-system/issues/700) Design focus states (related to [#755](https://github.com/cagov/design-system/issues/755) Links and button outline on focus is not accessible)

Thanks for all of the helpful feedback at our 4/12/22 weekly design meeting and from today's mini meeting. I did more studies and found a singl

[2022-04-26 23:06] yesenia-gtz opened #820 "State template component data and usage tracking"
How can we better understand what components are being used in the state template currently?

Would like to track the following if possible:

- Component Usage patterns
- Component searches

Is this a way to track this type of data?

[2022-04-26 23:08] yesenia-gtz commented on #820
@ashleydraper please reach out to Linda Tracy from Koji's group who is familiar with analytics.

[2022-04-27 15:11] chachasikes commented on #601
@xjensen will your social_image_alt_text attribute render out to both of these tags?

og:image:alt:
twitter:image:alt

[2022-04-27 17:55] yesenia-gtz opened #821 "Bug: logo in demo and sample markup links to Design System website homepage"
Thank you for helping us build a better design system. Fill any of the fields that are relevant to your issue as best you can.

### Url where issue was found
https://designsystem.webstandards.ca.gov/components/site-header/readme

### Operating system, device, browser, screen size, etc.

https://www.whatsmybrowser.org/b/HUVKP
Operating systemOS X 10.15.7
IP address172.89.252.244help_outline
Javascr

[2022-04-27 21:07] kmbrlygl opened #822 "Styles: Check color tokens used on components and website"
With our updated color palette, we added new colors (and corresponding tokens) and updated our grayscale palette. The grayscale palette added a new gray-50 (lightest gray) and shifts the colors up one step from what we previously had. We've updated it on the UI Kit and created the new tokens, but it's not yet reflected on components.

To-dos

- [ ] review the current components and log which ones

[2022-04-27 21:11] kmbrlygl commented on #822
Color tables for reference:

### Grayscale palette
Name | Replaces existing token | Updated color (hex)
-- | -- | --
gray-50 | Gray-100 (#F9F9FA) | #FAFAFA
gray-100 | Gray-200 (#EDEDEF) | #EDEDEF
gray-200 | Gray-300 (#e1e0e3) | #D4D4D7
gray-300 | Gray-400 (#d3d2d6) | #BCBBC1
gray-400 | Gray-500 (#c4c3c8) | #A4A3AB
gray-500 | Gray-600 (#b3b2b8) | #898891
gray-600 | Gray-700 (#a09fa7) | #72717C
gray

[2022-04-28 06:57] chachasikes commented on #770
Breaking this down into steps might help.

Started working on a bundle to include in the "shuffled" Gutenberg repo in prep for new devs. (And yes, Drought site can use it the new code as soon as it's ready - will have PRs soon.)

But - in working on that, figured out that we need to map out the naming pattern.

- [ ] Naming pattern
- [ ] Decide what format (ES5? Where is the transpiler in the Desi

[2022-04-28 06:58] chachasikes commented on #596
Tagging myself in case I get inspired while making CDN build.

[2022-04-28 18:44] xjensen commented on #601
@chachasikes yes and yes.

`og:image:alt`: https://github.com/cagov/design-system/blob/741fce10fa96de7c2d5df8c7a8098e564b71b330/docs/site/_includes/layouts/index.njk#L27

`twitter:image:alt`: https://github.com/cagov/design-system/blob/741fce10fa96de7c2d5df8c7a8098e564b71b330/docs/site/_includes/layouts/index.njk#L35

[2022-04-29 20:17] #464 closed

[2022-04-29 20:18] #474 closed

[2022-05-02 15:34] ashleydraper commented on #790
The engineering team made excellent progress solidifying headings for each principle. The team did not identify any new categories, rather consolidated a principle into other existing principles.

Find the list of assigned principles on the [engineering principles status tracker](https://docs.google.com/spreadsheets/d/1eqsupcEyl1JNoCGfWjkyJVLUy2TW-fGmzGaZB-k6rSU/edit#gid=0).

Note, first drafts ar

[2022-05-02 16:51] ashleydraper commented on #820
Here is an [analytics report](https://github.com/cagov/design-system/files/8604756/template-webstandards-20210427-20220427.2.xlsx) from the template.webstandards.ca.gov site for the period of 4/27/21 - 4/24/22.
Providing a Teams link to the same report in case it's useful: https://stateca-my.sharepoint.com/:x:/g/personal/linda_tracy_state_ca_gov/Ebggibl77WJLl68zxubZa5IBmhrxq44o9h5HtCyB_8FCVQ?e=BfM

[2022-05-02 18:40] chachasikes commented on #470
Tagged all social media issues with "Social media"
https://github.com/cagov/design-system/labels/Social%20media

[2022-05-02 18:41] chachasikes commented on #470
See Luke Fretwells comment as well: https://www.metatags.org/all-meta-tags-overview/the-important-meta-tags/social-media-metatags/

[2022-05-02 18:54] xjensen commented on #470
Removing my assignment here because I've been working on other things for months. Happy to assist as needed.

[2022-05-02 19:30] chachasikes commented on #470
Chatted with Ashley.

Ashley will write ALT text for the bear image.
Chach pinged @kmbrlygl about the PNG file rendered in the correct aspect ration.

The goal is *to create clear guidance on adding accessible social media cards for any ca.gov website page on the Design system, working according to current social media URL specs.*

Since we have documentation in a few different places, we discusse

[2022-05-02 19:30] chachasikes commented on #470
Wrong thread - moving my comments.

[2022-05-02 19:52] chachasikes commented on #803
Hey Luke! @lukefretwell We are using metatags - if you can't see them, would love to know more of where you are looking - they are minified,

I have done a lot of work with getting an 'all social media' compliant spec that works in our publishing systems - WordPress (using SEO Framework, a commonly used WordPress plugin that content teams use to write their social media tags) as well as 11ty. Jon

[2022-05-02 20:26] kmbrlygl commented on #695
Hey @chachasikes here's the social media graphic in the 1200x630 size. Let me know if this doesn't work. Thanks!
![hero-bear-social-share_1200x630](https://user-images.githubusercontent.com/20393247/166320928-2db0b870-2a4d-4a40-904d-a71318b489e7.png)

[2022-05-02 20:29] lukefretwell commented on #803
@chachasikes it looks like the meta tags are now showing. 🤔

I was DMing with @artuoma in LinkedIn a few weeks ago and it was showing as broken.

Definitely something that gets overlooked on the content management side and, as you say, is extremely important because of how information is shared these days.

@chachasikes thank you for the thorough and thoughtful response. ❤️

[2022-05-03 23:34] ashleydraper commented on #470
FYSA- here is the proposed alt text for the homepage bear image from Tiffany:

_The State of California grizzly bear is shown sitting with four circles surrounding his body in the colors yellow, blue, orange and green. Each color represents various colors you see in nature. An Abstract swirl connects the colors behind him representative of connecting the Design System to meet Californian’s needs._

[2022-05-04 21:46] m-sullivan7 commented on #492
@yesenia-gtz I originally reported this issue in the launch QA. I took a look again and found that the extra space I saw is no longer there. It looks like we fixed this and can close this issue. I'll give you the honor of doing so!

[2022-05-04 21:48] m-sullivan7 commented on #402
I'm closing this issue in favor of #744

[2022-05-04 21:48] #402 closed

[2022-05-04 21:52] kkoryaka commented on #712
Applied new design in State Web Template beta staging: https://as-cdt-pub-migr-betaws-ww-p-001-stage.azurewebsites.net/sample/accordions.html, @Courtney-Chittock has reviewed and approved it. I will update Design System's accordion with this new design in 1.0.8 release.

[2022-05-04 21:54] #492 closed

[2022-05-05 20:53] ashleydraper commented on #601
@xjensen Not sure why I'm not able to insert my alt text at the link you shared above. But here is the alt text copy:

_The brown State of California grizzly bear is seated and surrounded by four circles. The circle colors are yellow, blue, orange and green representing various colors you see in nature. An abstract swirl connects the colors behind the grizzly bear._

[2022-05-05 21:01] ashleydraper opened #834 "Create sprint plan for content"
Create sprint plan with milestones and deadlines for content, dev and design

[2022-05-05 22:59] xjensen opened #835 "site-navigation responsive pinch"
We're currently seeing a problem with site-navigation on Drought.

Drought's site-navigation menu is currently long, using almost the full width of the page layout's container. There is about a 40-pixel window in which the right-most link gets cut off before the responsive menu kicks into play.

<img width="783" alt="Screen Shot 2022-05-05 at 15 51 14" src="https://user-images.githubusercontent.co

[2022-05-05 23:30] xjensen commented on #601
@ashleydraper Are you trying to insert it into [this file](https://github.com/cagov/design-system/blob/main/docs/site/_data/editable/defaults.json)?

[2022-05-06 15:35] ashleydraper commented on #601
Great question! I'm actually trying to add it to [line 43](https://github.com/cagov/design-system/blob/741fce10fa96de7c2d5df8c7a8098e564b71b330/components/components.11tydata.js#L43).

[2022-05-06 16:48] xjensen commented on #601
Got it. That's a special file that only gets applied to pages for each component (accordion, page-feedback, etc.). Those pages require a bunch of extra processing.

Another question. Looking at your draft text, do you intend to make the bear image **default** for social media images across the whole site? Or do you only want to use that image for social media on the homepage?

[2022-05-06 18:40] adam-little commented on #379
IMO, we should push this update since the design system team feels like it addresses the initial problem.

The [feedback from Department of Cannabis Control](https://cadotgov.slack.com/archives/C01N25FCCPN/p1649960658959159) was that it might now go far enough, but I would consider this an iterative improvement.

[2022-05-06 23:14] ashleydraper commented on #601
I might not be the right person to answer that question. I could see it working across the whole site, but there might be pages that warrant something more tailored.

@chachasikes What are your thoughts? Do we want the bear image as the **default** image for socials sitewide?

[2022-05-06 23:28] ashleydraper commented on #834
This [sprint plan](https://coda.io/d/Web-Design-and-Development_d_Km5FVkYnQ/State-Template-Sprint-Planning_su2EF#_luRCz) should be used as our north star in getting us to the finish for content, design and dev. Please feel free to markup as you see fit. It is meant to be somewhat of a living doc.
Cc: @artuoma @Courtney-Chittock @yesenia-gtz @kkoryaka

[2022-05-09 15:07] chachasikes opened #836 "Can we add our communications channels to our team docs?"
Danny is wondering if we have a guide to our communications channels. Not seeing one in our Coda docs - would we be able to add this as a page for other new collaborators?

[2022-05-09 17:38] ashleydraper commented on #820
@yesenia-gtz I think we might be crossing wires. Should this issue live on the [state template board](https://github.com/Office-of-Digital-Innovation/California-State-Web-Template/issues)?

[2022-05-09 20:09] chachasikes commented on #796
@extinah What's the status of this

[2022-05-09 20:10] chachasikes commented on #796
Can you confirm that "in review" is correct?

[2022-05-09 20:13] chachasikes commented on #820
Update:
* Have created some data for sites
* Need to sync on the analytics portion

[2022-05-09 20:15] #818 closed

[2022-05-09 20:15] #748 closed

[2022-05-09 20:18] chachasikes commented on #815
Included already in Release Ranger notes.

[2022-05-09 20:19] #815 closed

[2022-05-09 20:24] chachasikes commented on #470
Suggestion: consider having a content captain (or ranger) - for each sprint - to make sure that any new images have alt text.

[2022-05-09 20:25] chachasikes commented on #470
We may need to review the original google doc from January since we have new content.

[2022-05-09 20:27] kmbrlygl commented on #822
Konstantin worked on this so might be good to just review and make sure things are looking as they should

[2022-05-09 20:33] m-sullivan7 commented on #783
This handbook was started by ODI to capture some of our guidance. I sunset the [content portion](https://handbook.digital.ca.gov/content/) once the Design System site launched. Adam and Aaron could have ideas about sunsetting the design and engineering sections, respectively.

[2022-05-09 20:35] m-sullivan7 commented on #808
This still seems to be an issue. While it jumps to the header, that header is at the bottom of the screen, rather than the top.

[2022-05-09 20:37] m-sullivan7 commented on #489
As of today, this is still an issue.

[2022-05-09 20:37] m-sullivan7 commented on #490
As of today, this is still an issue.

[2022-05-09 20:39] aaronhans commented on #741
Can consolidate with https://github.com/cagov/design-system/issues/319

[2022-05-09 20:39] aaronhans commented on #319
We can consolidate this with https://github.com/cagov/design-system/issues/741

[2022-05-09 20:40] m-sullivan7 commented on #515
@yesenia-gtz I think that this is a you decision now instead of Jared. My recommendation is to close this issue. We do need both header examples and probably don't want to put the development work into creating a use case tab for the page at this point. (But others correct me if I'm wrong!)

[2022-05-09 20:46] aaronhans opened #837 "Component: Tabs"
A new component has been requested: tabs so visitors can move between multiple content sections on a single page

We built one during the recent digital.ca.gov redesign so could use it as a prototype and run it through out user research process

[2022-05-09 21:00] ashleydraper commented on #783
@m-sullivan7 Very helpful to know. Thank you for commenting.

[2022-05-10 19:24] chachasikes commented on #108
This isn't active. Closing, but added it to a list of "things that we considered" during a huge effort.

[2022-05-10 19:51] chachasikes commented on #839
Moved this over from cannabis site - was a suggestion & probably belongs in design system backlog.

[2022-05-10 21:11] yesenia-gtz commented on #529
@kmbrlygl  have we validated if this UX recommendation would be an improvement to implement? @extinah This would  be a good candidate for testing with user.

[2022-05-10 21:14] yesenia-gtz commented on #741
adding to close out #319

When javascript is disabled on drought and cannabis, many of the pages are not reachable because the main navigation drop downs are generated by javascript. This seems especially an issue on cannabis because the main nav links are dummy links that lead to pages like https://cannabis.ca.gov/about-us/ I think it’s fair to argue that very few users have javascript disabled b

[2022-05-10 21:14] #319 closed

[2022-05-10 21:15] yesenia-gtz commented on #700
@sharon-rabang moving to in progress.

[2022-05-10 21:17] yesenia-gtz commented on #324
@aaronhans moving to this month's sprint. assigning to @chachasikes

[2022-05-10 21:18] yesenia-gtz commented on #616
@aaronhans has this work started? how will we implement or install? Is there time to work on this during our sprint?

[2022-05-10 21:20] yesenia-gtz commented on #718
@zakiya @chachasikes @aaronhans Can we look into how #770 relates to this issue?

[2022-05-10 21:21] yesenia-gtz commented on #718
Will need to setup backend to start work in next months sprint.

[2022-05-10 21:24] aaronhans commented on #719
Proposal: Build a few demo workflows for separate integrations including this step so developers on different stacks can see how to deliver performant results using the design system

[2022-05-10 21:32] yesenia-gtz commented on #720
Per @aaronhans  we will be removing any wordpress specific css from design system code.

[2022-05-10 21:38] kmbrlygl commented on #529
No, we have not. Agree it would be something good to test.

@Courtney-Chittock has brought up in a conversation that this is also an accessibility issue

[2022-05-10 21:38] yesenia-gtz commented on #794
Recommended to bring together a team to own and deliver needs related to base CSS. This issue requires dedicated support from a Lead engineer to push forward.

[2022-05-10 22:25] Courtney-Chittock commented on #529
Thanks @kmbrlygl!

Perhaps not _technically_ an accessibility issue, but definitely a usability issue that would negatively impact people with physical disabilities.

We might also want to look at vertical positioning and hover effects.

[2022-05-10 22:53] aaronhans commented on #794
The first step here can be straightforward:
Publish separate components for each of the following using the existing code in the base-css component:

[] normalize
[] buttons
[] typography
[] layouts
[] forms
[] grid
[] design tokens
[] theme examples
[] utility classes

Each of these will require their own readme. Some of these may be in really early states but breaking them up so we can iterate o

[2022-05-16 19:11] chachasikes opened #840 "Patterns: Video content & captioning"
Having a discussion with Wes Breazell from DCC about open and closed captions.

Starting a thread to track this in case it's something we may include in guidance for content creators and web teams.

For cannabis.ca.gov, we have some video content for public information campaigns.

Curious what web standards we have already, and if that guidance needs a refresh with any changes in web standards.

[2022-05-16 19:36] chachasikes commented on #840
@kkoryaka Hey Konstantin - we are wondering if this is something you have worked on with any accessible content, and if not, if you know anyone who has.

[2022-05-16 19:44] rkiddy commented on #773
There is a design point that I have in mind which cuts across several of the design principles. My main suggestion is this. Start small. For example, when minecraft was first released, it had been in development for 5 days. It did almost nothing. But that was the point. It was released. Then, the developer got feedback. And so then he did a second version based on those suggestions. And so on.

Ho

[2022-05-16 20:07] m-sullivan7 commented on #840
I've worked a little bit in video captioning at UC San Diego (so state adjacent). We hosted our videos on YouTube. Because these were scripted videos we created, we uploaded text docs with the transcripts. I then manually audited them to make sure the time notes were corrected. This was a while ago (2017 would have been the most recent time I would have done this work), so there may be better opti

[2022-05-17 15:11] chachasikes commented on #840
Twitter responses:
* https://twitter.com/adrianogazza/status/1526544248182657024
* https://twitter.com/danachis/status/1526533095477981184

<img width="634" alt="Screen Shot 2022-05-17 at 8 10 15 AM" src="https://user-images.githubusercontent.com/149436/168845535-9c16852a-3fe8-4229-ad9b-89be8b5838b9.png">
<img width="631" alt="Screen Shot 2022-05-17 at 8 10 11 AM" src="https://user-images.githubus

[2022-05-18 23:55] artuoma opened #842 "https://www.getstark.co/"
Consider adding https://www.getstark.co/ to Figma.

[2022-05-19 16:29] ashleydraper commented on #834
Anyone want to add to this?
@artuoma @Courtney-Chittock @yesenia-gtz @kkoryaka

[2022-05-19 16:33] aaronhans commented on #741
Fantastic work on this issue @saldanaj27! Love all the updates in this PR: https://github.com/cagov/design-system/pull/826

[2022-05-19 16:39] Courtney-Chittock commented on #834
Looks like we may need to update and rearrange some stuff based on our recent standup discussion and workloads?

[2022-05-31 23:29] Angsv commented on #819
@kmbrlygl @Courtney-Chittock @kkoryaka @sharon-rabang @aaronhans
Take a look at the documentation (hopefully the upload works). I took in a lot of what people have been saying about the goals of the Design System and I combined those with the various best practices in UX and animation in general to create the high level Guiding Principles and then a more explanatory document that (hopefully) provi

[2022-06-01 00:38] aaronhans commented on #819
Fantastic work @Angsv!

[2022-06-16 21:07] zakiya opened #892 "Dependabot updates for Sprint 1.0.9"

[2022-06-20 16:48] sharon-rabang commented on #700
06/15/22: Met with Ashley Draper from the Content Team about this project and the draft content.
06/17/22: Ashley provided us with revised content. Will share it at the 06/21/22 design team meeting.

[2022-06-21 21:04] sharon-rabang commented on #700
The "Focus state" content (revised by @ashleydraper) has been reviewed and approved by the Design Team.

@yesenia-gtz We can update the [Visual design style guide](https://designsystem.webstandards.ca.gov/style/design) page with this content, once the focus states have been developed.

[Visual design style guide](https://designsystem.webstandards.ca.gov/style/design) page content updates:
1. Add t

[2022-07-12 16:22] #820 closed

[2022-07-12 16:23] #45 closed

[2022-07-12 16:25] #842 closed

[2022-07-12 16:26] #74 closed

[2022-07-12 16:28] #46 closed

[2022-07-12 16:28] #60 closed

[2022-07-12 16:28] #99 closed, assigned to aaronhans

[2022-07-12 16:28] #100 closed

[2022-07-12 16:28] #104 closed

[2022-07-12 16:28] #126 closed

[2022-07-12 16:28] #199 closed

[2022-07-12 16:28] #223 closed

[2022-07-12 16:28] #242 closed

[2022-07-12 16:28] #254 closed

[2022-07-12 16:28] #262 closed

[2022-07-12 16:28] #839 closed

[2022-07-12 16:29] #836 closed

[2022-07-12 16:31] #834 closed

[2022-07-12 16:32] #596 closed

[2022-07-12 16:32] #627 closed

[2022-07-12 16:32] #640 closed

[2022-07-12 16:32] #672 closed

[2022-07-12 16:32] #835 closed

[2022-07-12 16:33] #783 closed

[2022-07-12 16:39] #301 closed

[2022-07-12 16:42] #821 closed

[2022-07-12 16:44] #322 closed

[2022-07-12 16:44] #323 closed

[2022-07-12 16:44] #379 closed

[2022-07-12 16:44] #393 closed

[2022-07-12 16:44] #442 closed

[2022-07-12 16:44] #443 closed

[2022-07-12 16:44] #450 closed

[2022-07-12 16:44] #452 closed

[2022-07-12 16:44] #455 closed

[2022-07-12 16:44] #461 closed

[2022-07-12 16:44] #466 closed

[2022-07-12 16:44] #469 closed

[2022-07-12 16:44] #470 closed

[2022-07-12 16:44] #476 closed

[2022-07-12 16:44] #484 closed

[2022-07-12 16:44] #489 closed

[2022-07-12 16:44] #490 closed

[2022-07-12 16:44] #497 closed

[2022-07-12 16:44] #513 closed

[2022-07-12 16:44] #515 closed

[2022-07-12 16:54] #796 closed

[2022-07-12 16:55] #558 closed

[2022-07-12 16:56] #532 closed

[2022-07-12 16:56] #624 closed

[2022-07-12 17:13] #539 closed

[2022-07-12 17:14] #545 closed

[2022-07-12 17:16] #559 closed

[2022-07-12 17:16] #560 closed

[2022-07-12 17:16] #561 closed

[2022-07-12 17:16] #603 closed

[2022-07-12 17:16] #604 closed

[2022-07-12 17:16] #625 closed

[2022-07-12 17:17] #647 closed

[2022-07-12 17:20] #305 closed

[2022-07-12 17:20] #338 closed

[2022-07-12 17:20] #348 closed

[2022-07-12 17:20] #397 closed

[2022-07-12 17:20] #529 closed

[2022-07-12 17:20] #548 closed

[2022-07-12 17:20] #585 closed

[2022-07-12 17:20] #589 closed

[2022-07-12 17:20] #591 closed

[2022-07-12 22:15] ashleydraper opened #896 "Issue: Suggestion to mention Microsoft's Immersive Reader tool"
Received recommendation in Issue #891 to incorporate Microsoft's Immersive Reader tool into one of the content principles

[2022-07-14 15:48] #723 closed

[2022-07-14 16:11] #732 closed

[2022-07-14 16:14] #609 closed

[2022-07-24 00:01] rkiddy commented on #773
Hello @yesenia-gtz . In what sense is this closed? It says "closed as completed". Was something done? If something has occurred, that would be great. What was it?

[2022-07-25 15:46] yesenia-gtz commented on #773
Hey there, we are working on our intake process which required issue clean up. This issue was closed as a result.

[California Department of Technology]<https://gcc02.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.cdt.ca.gov%2F&data=04%7C01%7CMichael.Cave%40state.ca.gov%7Cd725512cf2b84d7c45bd08d9901991e7%7C52b26be47f5d4e1cbaed8cf75b7570d5%7C0%7C0%7C637699261784903713%7CUnknown%7CTWFpbGZsb3

[2022-07-26 14:46] yesenia-gtz opened #898 "Component: Cards"

[2022-07-26 14:47] yesenia-gtz opened #899 "Pattern: Modals"

[2022-07-26 14:48] yesenia-gtz opened #900 "Component: Copy button"

[2022-07-26 14:52] yesenia-gtz opened #901 "Pattern: Information Architecture (IA)"

[2022-07-26 14:53] yesenia-gtz opened #902 "Pattern: Header, utility bar"
“State of California” and “Official website of the State of California” appear as a duplicated line of text when the website’s name and logo include the same line.

[2022-07-26 14:54] yesenia-gtz opened #903 "Pattern: Dropdown and IA"
Header, navigation: Dropdown and IA

[2022-07-26 14:56] yesenia-gtz opened #904 "Pattern: Header, mobile view"
Header, mobile view: Logo, hamburger menu, and search icon placement

[2022-07-26 14:56] yesenia-gtz opened #905 "Pattern: Form fields"
- [ ]  Standards
- [ ] required fields
- [ ]  Error messaging

[2022-07-26 14:57] yesenia-gtz opened #906 "Component: Favicon"
Favicon standards

[2022-07-26 14:58] yesenia-gtz opened #907 "Pattern: Search"
Feature needs:
- [ ] page layout
- [ ] filters
- [ ] sort by
- [ ] Pagination on search results

[2022-07-26 14:59] yesenia-gtz opened #908 "Pattern: Tables"
New table component design based on tables used in lab.data.ca.gov project.

Example pages with tables:
- https://lab.data.ca.gov/dataset?name=covid-19-vaccine-progress-dashboard-data
- https://lab.data.ca.gov/dataset?name=covid-19-wastewater-surveillance-data-california

**Figma design from NextGen ODP project:**
https://www.figma.com/file/vOHFU1P0uQ7JKuCY1bOzZt/Proof-of-concept-prototype?node-id

[2022-07-26 15:03] yesenia-gtz opened #909 "Styles: Type ramp"
Clean up type ramp.

Also see [Styles: Font Family Documentation/Reconcilitation#708](https://github.com/cagov/design-system/issues/708) regarding being font agnostic for design system purposes.

[2022-07-26 15:13] #898 closed

[2022-07-26 16:48] #905 closed

[2022-07-26 18:23] #778 closed

[2022-07-26 19:31] yesenia-gtz opened #910 "Process: issue template cleanup"
I order to simplify external feature requests we will be moving to a non-git form in coda to ensure issues added to GitHub are relevant to product and project needs.

Tasks:
- [ ] Keep the following templates: general, bug
- [ ] Remove all other templates

[2022-07-26 19:38] yesenia-gtz opened #911 "Website: link to Feature request form"
Need to map website visitors to [CA Design System feature Request form doc ](https://coda.io/@yesenia-gutierrez-state-ca-gov/ca-design-system-feature-requests)(built in coda).

Background:
We have learned that many state agencies are not currently working in GitHub. We need a way to simplify our community collaboration for non-git users. The coda feature request form will allow Product team to vet

[2022-07-26 19:44] yesenia-gtz opened #912 "Process: external communications"
Need to set a standard for how to manage external communications with persons interested in Design System.

Tasks:
- [ ] Determine team members responsible for replying to contact inquiries
- [ ] Map communication workflow according to type of inquiry being made (implementation/adoption, collaboration, consulting/support, research/feedback, general)
- [ ] Understand current contact form automated

[2022-07-26 19:55] yesenia-gtz opened #913 "Process: content strategy for change log and release notes"
Formalize documentation process for communicating expected updates, fixes and new additions in each release.

Tasks:
- [ ] Review current documentation strategy
- [ ] Recommend improvements to publish updates in release roadmap coda doc
- [ ] draft content template for future releases
- [ ] determine content flow from marketing website to coda doc
- [ ] Update website content to include link to [r

[2022-07-26 20:15] yesenia-gtz commented on #699
Closing, added details and consolidated with https://github.com/cagov/design-system/issues/779

[2022-07-26 20:15] #699 closed

[2022-07-27 15:12] aaronhans commented on #778
FYI @yesenia-gtz this task is not done. This page https://www.npmjs.com/package/@cagov/ds-feedback should be marked as deprecated and redirect visitors to the latest name of the component here https://www.npmjs.com/package/@cagov/ds-page-feedback

[2022-07-27 15:17] yesenia-gtz commented on #778
@aaronhans thanks for the heads up, is this task something you are able to work on? If so, I will reopen it. Can you give me an estimate on time commitment for having this completed? Otherwise, I will keep it closed and if it is important enough it will make its way back to the project.

[2022-07-27 21:48] yesenia-gtz opened #914 "Bug: Design System variable declaration issue"
Issue flagged via email from Guzman, Danny@CIO <[Danny.Guzman@state.ca.gov](mailto:Danny.Guzman@state.ca.gov)>

"I'll send more issues as I come across them, for now this is the biggest issue and there's no workaround until this gets fixed. Just using these 2 components as examples but this is on every component.

When the files are compiled together, the const style statement causes  coding error

[2022-07-27 23:39] zakiya commented on #808
@aaronhans @ashleydraper  I couldn't recreate this at any screen size. Could you include the url+path, browser, and the link that was clicked? Bonus points for video screen shot.

[2022-07-28 00:05] zakiya commented on #914
Just a note that we don't recommend using Gulp because it has a security vulnerability and hasn't had a new release since 2019.

However we should
1) Clarify in the README the best way to compile several packages.
2) Reopen and work on https://github.com/cagov/design-system/issues/324

[2022-07-28 00:07] zakiya commented on #324
@yesenia-gtz This would have prevented https://github.com/cagov/design-system/issues/914
I'm going to open it, call it a Bug and assign it.

[2022-07-28 00:20] zakiya commented on #721
Locally when using yalc to manage packages, yalc publish will trigger the pre-publish hook which also publishes the package to npm.

The work around is to use `yalc publish --no-scripts` but it's an easy thing to forget.

[2022-07-28 14:29] yesenia-gtz commented on #324
added labels to this

[2022-07-28 17:59] m-sullivan7 commented on #808
@zakiya and @aaronhans I still get this when using Firefox on PC. While I don't have video capture possibilities (at least that I know of with my baseline Windows setup), here's a step-by-step of how I got my bug with screenshots.

1. I go to https://designsystem.webstandards.ca.gov/style/content/.
![image](https://user-images.githubusercontent.com/69169190/181604869-49240b1d-985e-4578-a3d5-2b738c

[2022-07-28 18:16] xjensen commented on #808
I bet this would be solved by addressing the first bullet point in #672.

Safari 15.4 has been out for a while now, so we could remove all of that polyfill code and just trust the browser to scroll to the right place.

[2022-07-28 18:23] aaronhans commented on #808
Nice @xjensen! I love that solution

[2022-07-28 19:01] zakiya commented on #808
Thanks all! Reassigning to @xjensen so @aaronhans can focus on Benefits.

[2022-07-29 20:24] yesenia-gtz commented on #711
https://www.figma.com/file/veQuKQHf8gK5JdFEoMLGRD/UI-Design-kit?node-id=0%3A1

[2022-07-29 20:24] xjensen commented on #324
It looks like this is blocked until we finish setting up the `cdn.designsystem.webstandards.ca.gov` domain.

@yesenia-gtz @aaronhans Can we submit this DNS request ourselves? Or, does it need to be initiated over at CDT? I'm not sure who owns designsystem.webstandards.ca.gov, who's managing it within [Domain Request](https://domainnamerequest.cdt.ca.gov/), and/or if any approvals would be needed.

[2022-07-29 20:32] yesenia-gtz commented on #837
Review work in progress for State template beta.
- https://beta.template.webstandards.ca.gov/sample/tabs.html

Recent design explorations:
https://www.figma.com/file/pGKEwXZeilHOCNI4bR5ffe/State-Template-V6-Release?node-id=511%3A4269

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/98193284/181838877-4b330e63-cf10-471f-ba9e-811220943154.png)

![Screen Shot 2022-07-29 at 1 28

[2022-07-29 20:39] yesenia-gtz commented on #324
@artuoma @kkoryaka can you help with domain needs for designsystem.webstandards.ca.gov? see note above for details.

[2022-07-29 20:47] #771 closed

[2022-07-29 20:49] xjensen commented on #324
Update! Looks like @aaronhans is kicking off the domain request in Service Now. We may need some kind of approval from the CDT side though, depending upon who's in charge of that domain.

[2022-07-29 20:52] aaronhans commented on #324
I created the CloudFront distribution, the AWS certificate manager request and a service now ticket for CDT to create the DNS records which asks for the following:

[code]

We'll probably need someone like @artuoma to approve it

CDT Service now ticket #CS0053184

[2022-07-29 20:57] yesenia-gtz commented on #324
@aaronhans Art is out all next week, but I can escalate to Blaine for approval if needed. If you have a link to share along side the service ticket number I can do that now.

[2022-07-29 20:59] aaronhans commented on #324
https://services.cdt.ca.gov/csm?id=csm_ticket&table=sn_customerservice_case&sys_id=1e7634381b8119548c7eed7bbc4bcbb2&view=csp

[2022-07-29 21:05] aaronhans commented on #324
Thanks @yesenia-gtz! The ticket is completed, DNS records are in place

[2022-07-29 21:05] yesenia-gtz commented on #324
@aaronhans just learned that DNS requests are managed via Service Now and route to OTech's Network team, who manages all of our DNS entries. These requests should take 1-2 business days to go through. If the DNS request appears to be held up, let me know, Blaine will know who to reach out to on that team if need be, but they're usually pretty quick about turning those requests around in the standa

[2022-07-29 21:05] yesenia-gtz commented on #324
excellent, glad to hear!

[2022-07-29 22:38] xjensen commented on #914
I've put some work into this at #915. Some notes.

The following components have been modified.
* accordion
* back-to-top
* combined-css
* page-alert
* page-feedback
* page-navigation
* pagination

Notably, a couple components mentioned in the report are unaffected by this (no JS), so I didn't touch them.
* feature-card
* link-grid

I'm not sure if there's an easy way to document package compilati

[2022-07-29 22:50] yesenia-gtz commented on #914
@Danny-Guzman @rkojik  @artuoma  please review the items of note above, these components have been modified.

[2022-07-29 23:18] zakiya opened #916 "Legal microcopy to warn users not to submit personally idendifable info (PII) in page-feedback forms"
This came up with reviewing page feedback with ODI legal counsel.

Steps to complete are:

- [x] Content team writes copy
- [x] Legal team approves copy
- [ ] Design team updates Figma
- [ ] Engineering team implements
- [ ] QA
- [ ] Deploy to all sites using the component

Assigning to @yesenia-gtz for labeling. This is high priority.

[2022-08-01 14:38] Danny-Guzman commented on #914
Just a heads up,

[2022-08-01 14:56] zakiya commented on #914
@xjensen To start, we can recommend the lightest weight solution (Rollup or Esbuild probably?).  And build out the other examples once we have better data on usage -- or maybe even ask others to contribute their solutions. Having even minimal instructions is a signal that we expect people to use some kind of compiler.

A hosted bundler is definitely still on the table.

[2022-08-01 15:03] Danny-Guzman commented on #914
Maybe I don't understand, but what do you mean by hosted bundler???

[2022-08-01 15:12] zakiya commented on #718
@yesenia-gtz This and several other issues have been inaccurately tagged as Documentation. This issue is to create a tool that would help developers choose which components they want to include in the their code.

[2022-08-01 15:23] zakiya commented on #914
@Danny-Guzman My comment was in response to @xjensen comment "A convenient, hosted, a la carte bundler tool would also be good to have here." We've long had the idea of building a tool - possibly with a UI, where developers can choose which components they want to include and generate a download.

https://github.com/cagov/design-system/issues/718 describes an MVP version
Ideally, we'd have somethi

[2022-08-01 15:28] yesenia-gtz commented on #718
@zakiya thank you for the clarification and update to the name, much appreciated!

[2022-08-01 18:03] zakiya commented on #324
@aaronhans @yesenia-gtz Before we close this issue, can we confirm that instructions have been written and are accessible to the public? We should also have someone else QA/verify those instructions. Maybe one of the OET engineers?

[2022-08-01 18:09] xjensen commented on #324
We haven't (or at least I haven't) written the instructions yet. Just had to get this CDN thing fixed before we could even begin. So I think this should definitely stay open.

[2022-08-01 18:21] yesenia-gtz commented on #712
@Courtney-Chittock could you work with the engineers to get this into DS?

[2022-08-01 18:23] ashleydraper commented on #916
@zakiya Once we've identified the SME/ contributor, can we also identify where this copy will be housed? I have access to [this folder](https://drive.google.com/drive/folders/1d4TWRfIvAr5DPbQwhCzQFMHv-HOIhJBz), but want to be sure we're all using it.

[2022-08-01 18:26] xjensen commented on #914
Updates to the affected packages have been merged into the [release branch](https://github.com/cagov/design-system/tree/release/1.0.10-fremont-peak) and published to NPM.

Here are the NPM package names and new version numbers.

@cagov/ds-combined-css@2.0.3
@cagov/ds-pagination@2.0.2
@cagov/ds-page-navigation@2.1.3
@cagov/ds-page-feedback@1.1.3
@cagov/ds-page-alert@2.0.2
@cagov/ds-back-to-top@2.0.

[2022-08-01 18:29] aaronhans commented on #722
Yeah, plus and minus have already been removed.

The google-translate component and the following references can be deleted https://github.com/cagov/design-system/search?q=google-translate to complete this task

[2022-08-01 18:35] yesenia-gtz commented on #700
@zakiya this one is ready for development, please have engineers work with @sharon-rabang to design details

Tasks needed:
- [ ]  update style guide on website
- [ ] ensure figma UI kit aligns

[2022-08-01 18:35] yesenia-gtz commented on #700
Issue related to https://github.com/cagov/design-system/issues/755

[2022-08-01 18:36] yesenia-gtz commented on #755
@zakiya  this one is ready to development.

[2022-08-01 18:38] yesenia-gtz commented on #744
@Courtney-Chittock can you lead this based on the state template navigation design that was done? good one to review and inform to get the design system updated.

[2022-08-01 18:41] yesenia-gtz commented on #743
@zakiya  @Angsv  this is completed, need to understand where we should share/publish this documentation. How have we done this in the past? @kkoryaka mentioned integrating design tokens. can we workshop this one?

[2022-08-01 18:44] yesenia-gtz opened #917 "Components: animations into design tokens"
@Angsv can you link your documentation to this issue?

[2022-08-01 18:47] yesenia-gtz commented on #917
Links here:
https://github.com/cagov/design-system/issues/819

[2022-08-01 18:48] #917 closed

[2022-08-01 18:56] xjensen commented on #722
Served hot and fresh: #918.

[2022-08-01 18:57] Angsv commented on #819
Updated the Principles with Sharon's feedback.

[Guiding Principles for Motion Design.docx](https://github.com/cagov/design-system/files/9236548/Guiding.Principles.for.Motion.Design.docx)

[2022-08-01 18:59] reganking commented on #916
Hi @ashleydraper & @yesenia-gtz, I'm the PF owner on the ODI / CalInnovate side, so I can help to clarify/align with @zakiya and @mediajunkie on slack #odi-website-analytics. I will take note of the Design System folder.

[2022-08-01 20:22] ashleydraper commented on #819
@Angsv Is this document ready for a content pass?

[2022-08-01 20:26] Angsv commented on #819
@ashleydraper yep it's ready and so is
[Guidelines for UI Animations.docx](https://github.com/cagov/design-system/files/9237242/Guidelines.for.UI.Animations.docx)

[2022-08-01 20:41] xjensen commented on #324
I've updated one document with CDN instructions in #919. Sample page is here:

https://cdn-install-instructions.pr.designsystem.webstandards.ca.gov/pr/cdn-install-instructions/components/accordion/readme/

Let me know if this looks good, then I'll do the rest of the components.

IMO, there's _a lot_ we could do to improve these readme documents. I'm ignoring all of that right now just to get these

[2022-08-01 20:42] chachasikes commented on #916
On the UI end - I synced already on this with @aaronhans  & the way we discussed for making this happen would be:

* add a data attribute on the wrapper of the custom element that can include the text for the finalized microcopy
* Connect that data in the UI of the component to display on the front end
* update the web component

Keeping the markup as an attribute will allow any legal team to upda

[2022-08-01 20:44] ashleydraper commented on #916
@chachasikes I'm glad you two were able to discuss this, but I'm lost in what you're describing! Can you explain that in a way that's less technical?

[2022-08-01 20:51] xjensen commented on #722
Merged into the 1.0.10 release, and published to NPM. This can be closed.

[2022-08-01 21:23] zakiya commented on #916
@reganking Sorry it wasn't communicated that you were the  product owner for page feedback. We'll need to coordinate closely as page-feedback is also a design system component.

@ashleydraper I have no preference about where copy should be housed. Liz is our only content designer at the moment.

@chachasikes comment refers to the implementation plan for engineering.

[2022-08-01 21:48] ashleydraper commented on #916
@zakiya How do folks feel about this statement. _Personally identifiable information_ can read a little jargony outside of the state, so I went with terms that resonate with more people.

![image](https://user-images.githubusercontent.com/62437425/182251675-dcbd65f9-897d-4795-9c64-3dadabf47803.png)

_Do not include any personal or confidential information like your address or phone number._

[2022-08-01 22:23] zakiya commented on #324
For now lets add an H3 above the instructions like so and change "javascript" to "JavaScript":

### CDN installation
We recommend using a build system and bundling your JavaScript for faster performance. If you do not use a build system, you can include the code from our CDN with a script tag.

-----

Can you write up your suggestions for improving readme docs in a new issue and assign to me? We w

[2022-08-01 22:27] zakiya commented on #916
@ashleydraper Looks good to me. Will run it by legal.

[2022-08-01 23:04] xjensen commented on #324
I added your changes to the PR, and I'll move onto the rest of the components now.

My main suggestion about the docs is that...research is needed. There are too many assumptions about our audience and their needs. Thankfully, it sounds like we're already on the path. I also suspect we're trying to address too many audiences in those documents (content designers, devs, auditors) without serving an

[2022-08-02 21:06] yesenia-gtz opened #920 "Website: Community and Resources pages"
In order to setup proper design system communication channels we need a hime for community and resources on the website. This section would be fore resource media, interviews, blog, etc.

Inspiration examples:
- https://www.uxpin.com/studio/
- https://carbondesignsystem.com/whats-happening/news-and-articles/
- https://react-spectrum.adobe.com/index.html
- https://developers.arcgis.com/calcite-desi

[2022-08-02 22:46] zakiya commented on #916
@ashleydraper

The language is ok with legal.

They also suggested we instruct people who use the widget to scrub any PII.

I think we can move forward with updating Figma but we should probably also add some copy to the readme.

[2022-08-03 15:41] zakiya commented on #743
- We should keep design resources in Figma for reference. I'm unclear if that part has been done.
- If there are specific components or webpages that need to be updated, let's create an issue for engineering.
- It is probably also a good idea to add an "Animation" section [on the Visual Design page](https://designsystem.webstandards.ca.gov/style/design/)

[2022-08-03 15:41] ashleydraper commented on #916
@zakiya

That's great.

Can you say more about what they mean by "scrub?" If we're telling folks not to include PII in the first place, what are they scrubbing? Also, just some quick analytics on that word choice (see screenshot).
![image](https://user-images.githubusercontent.com/62437425/182650745-0d913506-3b8a-41c9-accd-74bb9727e934.png)

I don't have the Figma board,  is the readme section be

[2022-08-03 16:22] mediajunkie commented on #916
Poking my nose in here because I have some of the context from the past, I
think they’re suggesting that we recommend to users of the report that they
remove PII from comments when they see it, which I don’t believe is a
feature that we offer.

Also there are times when the PII is knowingly submitted in hopes of a
response.

Giving the reviewers discretion and making them aware of the risks involv

[2022-08-03 16:33] ashleydraper commented on #916
OH, now I see. Okay this is making sense!!

See notes in the screenshot.

![image](https://user-images.githubusercontent.com/62437425/182661610-fd000099-b7e3-4b2c-bdb6-16bf8900d05a.png)

[2022-08-03 16:41] chachasikes commented on #916
Those are both great notes @ashleydraper.
Correct, it's a service we provide right now, and an interested dept/agency would need to work with us.

A feature we would need to add is the ability to flag and remove PII data from the reports that the departments would get.

[2022-08-03 16:54] ashleydraper commented on #916
@zakiya @mediajunkie Thoughts?

[2022-08-03 16:55] ashleydraper commented on #916
To round out the initial ask, seems like this should be assigned to design to add to Figma. Is that Kimberly?

[2022-08-03 16:57] zakiya commented on #916
@ashleydraper Let's put a pin in this until I can connect with @reganking and @mediajunkie  Product ownership on this has been unclear and we've had personnel changes and I want to make sure all parties are moving in the same direction. Will have an update for you by end of day.

[2022-08-03 16:58] ashleydraper commented on #916
Works for me, ping me when ready.

[2022-08-03 23:10] chachasikes opened #921 "Question: What are best practices for web printing?"
Wes (from Department of Cannabis Control) is creating a template that will used throughout an agency (pdf first).

We are discussing "web-first" templates, and also design affordances for these documents and want to make sure our direction is in line with the direction of the Design System.

* For colors, are there accessibility guidelines for print outs hosted on websites?
Does our color accessib

[2022-08-03 23:10] chachasikes commented on #921
@kmbrlygl @rkojik If you know anyone who can answer this, your advice is welcome!

[2022-08-04 15:16] Danny-Guzman commented on #914
So far, variable declarations seem to be working with no issues.

In the CSS can we use relative paths instead of absolute paths where fonts are being loaded? This will allow fonts to load no matter what the file structure is so long as the fonts are one level up from where the CSS is.

css
-- colorscheme.css

fonts
-- publicsans-extralight-webfont.woff2

Example
[https://github.com/cagov/design-s

[2022-08-04 16:21] aaronhans opened #922 "DX: make font url references more flexible"
Problem:
- Currently font references start with / so fonts must be placed at the root of component consumer's site. This can be inconvenient

Example pointed out by Danny:
https://github.com/cagov/design-system/blob/main/components/base-css/src/_fonts.scss#L8
[code]

Possible solutions:
- We could make the paths relative or we could use a CDN to host the font files and make the paths fully absolut

[2022-08-04 16:29] aaronhans opened #923 "DX: all components should have a dist folder which holds file to be imported by consuming site (both css and js)"
Request originated from Danny when integrating many design system components into new projects he discovered that the following components don't have any dist directory:

- ds-link-icon
- ds-site-footer
- ds-site-header
- ds-skip-to-content
- ds-statewide-footer
- ds-statewide-header

We intentionally set things up this way, only using dist for js build output and this is documented. The request t

[2022-08-04 17:08] xjensen commented on #914
@Danny-Guzman Good to hear the variable problems are solved.

We've taken your suggestion regarding fonts and opened up a separate issue at #922. Let's move the font problem discussion over to that thread.

Otherwise, I think we can go ahead and close this Issue.

[2022-08-04 20:03] xjensen commented on #921
My knowledge may be a little out-of-date, but here's my take.

* Try to avoid color text in print-outs. Black text is easiest to print and easiest to read on paper.
* Limit color to graphics/photos and highlighted items (like headings, rules, borders).
* Ensure the content is high contrast. Soft colors often wash out when sent through the printer.
* Ensure fonts use medium and heavier weights. Sma

[2022-08-04 21:34] xjensen commented on #324
I've reached an impasse in the PR due to the problem described in #923. Bringing the file structure of our components into consistency may be the best way to fix our CDN uploads, which would then allow us to include CDN install instructions.

The following components are affected.
- icons
- highlight-section
- base-css
- combined-css
- link-icon
- table
- regulatory-outline

[2022-08-04 21:45] kmbrlygl commented on #921
Jon's notes are on point 👌 and I agree with all of them generally. Here are my additions:

- Agree w/ Jon re: colors. If you are going to use them, designs with higher contrast ratios carry over best to print outs
  - Try to avoid using colors inverted (like white text on navy background) or using full color backgrounds to save on ink
  - The accessibility guideline around **_not_** using color as

[2022-08-04 21:55] aaronhans commented on #324
We should get consensus before changing the directory structure but it makes sense to me to use dist everywhere. We've made a lot of progress on standardization already and this seems logical.

The only downside I can see is that there can be a component that uses plain CSS and in that case copying a src css file unchanged to a dist folder purely for the sake of standardization is a tiny bit of ri

[2022-08-04 22:51] chachasikes commented on #921
Thank you!!! Will share with Wes & thank you so much for contributing your excellent knowledge to our shared public issue bank.

[2022-08-04 23:06] chachasikes commented on #324
I love the rigamarole approach (sad that it's rigamarole, but it's consistent and easy to follow)

For validation: am doing this same thing in some DCC work for an upgrade on responsive table markup for an upcoming feature. https://github.com/cagov/cannabis.ca.gov/issues/514

[2022-08-05 17:08] xjensen commented on #324
I'm going to go ahead and try this component `dist` reorganization in #919, since it's a blocker for that PR.

We will need to publish new major versions for most of our components, per #923.

[2022-08-05 17:09] xjensen commented on #923
I'm going to give this a try in PR #919. I think we have enough consensus in #324 to proceed. Let me know if I should hold.

[2022-08-05 22:59] xjensen commented on #923
This is mostly ready in #919.

[2022-08-05 23:00] xjensen commented on #324
The `dist` changes have now been applied to #919.

[2022-08-05 23:57] xjensen commented on #755
I have some concerns about this request. I'm not sure it's ready.

In the Design System code, we do not hard-code specific colors. We're relying on our design tokens for colors throughout (`accent1-300`, `primary-900`, etc.). This is true of focus states too. Tokens are important because we're already using the Design System across multiple sites with different color schemes. Keeping our colors in

[2022-08-08 16:48] yesenia-gtz commented on #755
Good point, let's table this for now as we think through now to address the a11y concerns.

[2022-08-08 19:04] xjensen commented on #324
CDN instructions have now been added to almost all components via #919.

The main exceptions are **base-css** and **combined-css**, which need way more help with their docs than just CDN instructions. I also did not add CDN instructions to **icons**; we may want to have a more extended conversation about how to offer that via CDN. (For example, should we offer consumers a UI to build their own hos

[2022-08-08 19:09] xjensen commented on #923
This is now merged into the [release branch](https://github.com/cagov/design-system/tree/release/1.0.10-fremont-peak) and published to NPM.

[2022-08-08 19:23] zakiya commented on #324
Definitely no need to create a CDN distro of the icons component. This is more evidence that it doesn't belong in the same category as the other components. It's actually a more of a tool. I wonder if we should classify base-css and combined-css differently as well. Agree about the need for readmes on both of those. Even if they just explain the purpose of the packages.

[2022-08-08 19:33] aaronhans commented on #324
I agree:

- base-css is currently a few separate components mushed into one, we should split it up into cleaner, better documented focused components as described here: https://github.com/cagov/design-system/issues/794 each of those smaller components can have its own documentation and dist folder.
- combined-css is a tool to make it easier to grab all the CSS and this doesn't have to be checked i

[2022-08-08 20:28] xjensen commented on #770
How will consumers of this service upgrade their bundle?

Other CSS/JS frameworks tend to tag all of their different components under one overall version number. In contrast, we version all of our components separately. It'll hurt adoption and/or regular updating if we leave it to the consumer to keep track of all those separate version numbers, especially if we leave them to fend for themselves w

[2022-08-08 21:30] xjensen commented on #324
I agree with the idea of having other categories for things that don't cleanly fit our definition of _component_. Even though **icons** does have some component-ish things inside, like the `<cagov-icon>` custom element, it's different enough overall to warrant that kind of consideration.

I'm thinking ahead to a future when we'll have more streamlined build and publish tools across all components.

[2022-08-08 21:39] aaronhans commented on #770
I like #3 with a tool that lets design system consumers create their own bundle.
- They select the components they want in a form
- Our tool creates the url by making hash of all the desired component names + latest version numbers at the moment
- The tool checks if that bundle already exists, if not it creates it once and uploads it to the CDN
- Gives the developer a url they can use in their scr

[2022-08-08 22:20] xjensen commented on #721
PR ready at #925.

[2022-08-08 22:25] #914 closed

[2022-08-08 22:25] #722 closed

[2022-08-08 22:25] #923 closed

[2022-08-08 22:26] xjensen commented on #324
At any rate, we can continue the conversation, but I'm going to close this because the work on this Issue is effectively finished.

[2022-08-08 22:26] #324 closed

[2022-08-08 22:28] xjensen commented on #755
Removing my assignment to clean up my list. Feel free to reassign to me when ready.

[2022-08-08 22:34] xjensen commented on #770
The hashing is key. Yes, that could work.

[2022-08-09 00:30] xjensen commented on #808
PR is ready in #926.

[2022-08-09 16:00] chachasikes commented on #770
Nice recommendations @xjensen.

I like option #3 & agree with Aaron's suggestions.

Also suggest some "plain" options for "all components" - possibly connected to DS release numbers & "all components" - with the caveat that we encourage folks to only use what they need.

This would fit current expectations, and also help teams understand when in time their configuration is from.

This is useful fo

[2022-08-09 21:11] zakiya commented on #721
Since there isn't an elegant solution here, I'm going to close it.

[2022-08-09 21:11] #721 closed

[2022-08-09 21:25] zakiya commented on #916
Just a quick update on this -- we realized we have some work to do internally about the direction of this product. We have a meeting to level set next week. I'm going to remove the Urgent tag and and move it to in Progress.

I really appreciate the quick turn around @ashleydraper!

[2022-08-09 21:34] ashleydraper commented on #916
Very welcome! Happy to jump back in when the time is right.

[2022-08-10 22:19] #808 closed

[2022-08-11 16:54] extinah commented on #921
Agree with Kimberly and Jon. :)

Some more feedback

- **Headings/typography**: Adjust headings/text size. E.g. regular text is similar to 12 pt font. Headings should still have size hierarchy - just not incredibly large
- **Color**: Same comments as Jon. Think grayscale.
- **Header/footer**: Remove site header/footer - use one tailored to print
- **Images**: Remove decorative images
- **Ensure co

[2022-08-18 15:49] zakiya commented on #916
@mediajunkie @ashleydraper

We met about this product on Monday. Per that conversation, I think we should make the following changes to the Page Feedback readme:

![CleanShot 2022-08-18 at 08 42 44](https://user-images.githubusercontent.com/915352/185438449-0899f4bd-a52b-4812-925e-7ee42e06b4b4.png)

I can make the update myself if approved.

I think we can work the addition of microcopy into the w

[2022-08-22 22:25] ashleydraper commented on #916
@zakiya I support these edits. Should this issue remain open until we're able to address the microcopy?

[2022-08-24 20:24] zakiya commented on #916
I made the edits. Yes let's keep this open until we address microcopy. Going to assign to myself for now. Thanks for your help!

[2022-09-20 22:22] yesenia-gtz commented on #911
@Angsv This will be a high priority item to update on the existing site. I recommend getting this started as soon as we can.

[2022-09-20 22:26] yesenia-gtz commented on #912
@extinah Can we sync this week on this? would like to get it rolling before we get sucked into training land.

[2022-09-20 22:29] yesenia-gtz commented on #910
@zakiya are we able to clean up the templates sometime this month? I would like to move forward with directing  requests into [CA Design System Feature Requests](https://coda.io/d/CA-Design-System-Feature-Requests_dEK44SrnH6p/CA-Design-System-Feature-Requests_suP4M) . Who can help with this?

[2022-09-21 15:22] iansvo opened #930 "Bug - Base style causes CLS for image blocks"
https://github.com/cagov/design-system/blob/ddb7629d3c61fddf7ceecd0ea0f7a9b4927ce34f/components/base-css/src/_wordpress.scss#L47

This style causes the image to shift the height on load as the browser needs to figure out what the height is in order to layout/paint the tag.

Overall the intent of this appears to be forcing the use of object-fit, which by itself I wouldn't encourage as this shouldn'

[2022-09-22 03:43] zakiya commented on #910
Assigning to @xjensen. He is and will be the primary ODI Engineer on the project for the time being.

[2022-09-23 20:36] aaronhans opened #931 "Bug: v2.2.0 of @cagov/ds-page-navigation confuses JAWS"
There is a bug that surfaces only in the JAWS screen reader on Windows with the latest version(2.2.0) of the page-navigation component. When you follow the anchor links in the sidebar JAWS seems to get lost and has to announce where you are in the document from the top including page title and how many regions there are. This is annoying. This issue is not present in any other screen reader tested

[2022-09-23 22:35] zakiya opened #932 "Plan to move this repo to ODS ownership"
https://github.com/Office-of-Digital-Services

Notes:

- We should do a test run to make sure github actions and other automated script stay intact
- We'll need to update all links to cagov/design-system in this repo and in others
- Investigate whether we can hold onto or post a message at https://github.com/cagov/design-system/ notifying others of relocation
- Would it be too confusing to just do

[2022-09-26 20:32] xjensen commented on #931
One important observation: the new version of page-navigation does work (in JAWS) on the Design System site. But none of our other sites.

It looks like JAWS wants `tabindex="-1"` on the headings. On the Design System site, we add this `tabindex=-1` to the headings through our custom Markdown processor.

I will attempt to add `tabindex` dynamically via the component's JS. Let's see if that helps.

[2022-09-26 20:34] aaronhans commented on #931
Great discovery, thanks @xjensen!

[2022-09-28 14:52] chachasikes commented on #931
Thanks for tracking this down @xjensen.

[2022-09-28 19:55] zakiya opened #935 "Metadata and social media content guidance"
Ask @chachasikes for previous project work currently housed in the [ODI Engineering Coda](https://coda.io/d/Engineering-wiki_dL_3_CR2bVn/Social-media-content-guidance_su2Ha) and [drought website](https://github.com/cagov/drought.ca.gov/blob/main/src/templates/_includes/layouts/index.njk)

"Needs docs, best practices back port to ds, and instruction content editors for how to validate"

[2022-09-28 20:43] yesenia-gtz commented on #932
@zakiya I will add, If this proves to be an issue there is no requirement to move it as long as access to edit and triage remains. The board is also built out here, so that will also need to be rebuilt if its moved.

[2022-10-07 18:48] yesenia-gtz commented on #712
@kkoryaka @Angsv can you please work together to get this into the design system in Q4?

[2022-10-07 19:01] yesenia-gtz commented on #711
@Angsv  can you work with @sharon-rabang on breaking out the card design to function as a **pattern**? This

**Needs**

- Design recommendation for various card states
- Breakout components used in card design
- Document usage guidelines for cards
- Document development specs for cards

Target completion: Before end of Q4

Example:
https://www.duetds.com/components/card/#properties

![Image](https

[2022-10-07 20:16] yesenia-gtz commented on #659
**UPDATE:**
We are adding Form as a pattern using various inputs options. These inputs will be broken out to the component level.

Needs:
- [ ]  Labels
- [ ] Required fields
- [ ] Disabled fields
- [ ] Inputs (check boxes, radio, text fields, etc)
- [ ] Error messaging
- [ ] Use guides and standards
- [ ] Technical documentation
- [ ] Integration considerations for data collection

Available compo

[2022-10-10 18:50] #910 closed

[2022-10-11 22:09] yesenia-gtz opened #936 "Remove issue templates"
We only need 2 issue templates in GitHub. Need to remove all  except General and Bug.

![Screen Shot 2022-10-11 at 3 06 33 PM](https://user-images.githubusercontent.com/98193284/195207229-074c7138-4b54-47e8-a47c-798a801381b0.png)

[2022-11-29 17:30] yesenia-gtz commented on #932
Staying with ODI for now, closing out.

[2022-11-29 17:30] #932 closed